<template>
	<div class="container">
		<div class="card p-5 mob-px-3 border-0 shadow">
			<form class="container" @submit.prevent="submit">
				<div class="row">
					<div class="col-lg-5 pr-5 mob-px-3 mob-mb-4">
						<bubble :id="'custom-bubble'" :balloons='fields.balloons' :weighthex="fields.weighthex" :font="fields.font" :textcolourhex="fields.textcolourhex" :text="fields.text" v-if="loaded == true"></bubble>
					</div>
					<div class="col-lg-7 mob-px-0 text-left" v-if="loaded == true">
						<div class="row half_row">
							<div class="col-lg-6 half_col text-left">
								<label class="pl-3 mb-2"><b>Inner Balloon colour 1</b></label>
								<div class="select-holder mb-4">
				          <select id="balloon-1-colour" class="form-control" v-model="fields.balloon1" @change="changeBalloonColour(0, 'balloon-1-colour')">
				          	<option data-hex="#add8ea" value="Pearl Light Blue">Pearl Light Blue</option>
				          	<option data-hex="#ead936" value="Pearl Citrine Yellow">Pearl Citrine Yellow</option>
				            <option data-hex="#e57727" value="Pearl Mandarin Orange">Pearl Mandarin Orange</option>
				            <option data-hex="#bb4879" value="Pearl Magenta">Pearl Magenta</option>
				            <option data-hex="#C12D2D" value="Pearl Ruby Red">Pearl Ruby Red</option>
				            <option data-hex="#900048" value="Pearl Burgundy">Pearl Burgundy</option>
				            <option data-hex="#553d91" value="Pearl Quartz Purple">Pearl Quartz Purple</option>
				            <option data-hex="#0359a1" value="Pearl Sapphire Blue">Pearl Sapphire Blue</option>
				            <option data-hex="#478388" value="Pearl Teal">Pearl Teal</option>
				            <option data-hex="#003a58" value="Pearl Midnight Blue">Pearl Midnight Blue</option>
				            <option data-hex="#8aad51" value="Pearl Lime Green">Pearl Lime Green</option>
				            <option data-hex="#345e41" value="Pearl Forest Green">Pearl Forest Green</option>
				            <option data-hex="#007f5b" value="Pearl Emerald Green">Pear Emerald Green</option>
				            <option data-hex="#131510" value="Pearl Onyx Black">Pearl Onyx Black</option>
				            <option data-hex="#ebe8e7" value="Pearl White">Pearl White</option>
				            <option data-hex="#efe0b1" value="Pearl Ivory">Pearl Ivory</option>
				            <option data-hex="#e7de81" value="Pearl Lemon Chiffon">Pearl Lemon Chiffon</option>
				            <option data-hex="#dfb8aa" value="Pearl Peach">Pearl Peach</option>
				            <option data-hex="#ebb9c9" value="Pearl Pink">Pearl Pink</option>
				            <option data-hex="#bc99c4" value="Pearl Lavender">Pearl Lavender</option>
				            <option data-hex="#77bbde" value="Pearl Azure">Pearl Azure</option>
				            <option data-hex="#c6e2d7" value="Pearl Mint Green">Pearl Mint Green</option>
				            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
				            <option data-hex="#98989b" value="Metallic Silver">Metallic Silver</option>
				            <option data-hex="#C39440" value="Metallic Gold">Metallic Gold</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-lg-6 half_col text-left">
		        		<label class="pl-3 mb-2"><b>Inner Balloon colour 2</b></label>
								<div class="select-holder mb-4">
				          <select id="balloon-2-colour" class="form-control" v-model="fields.balloon2" @change="changeBalloonColour(1, 'balloon-2-colour')">
				          	<option data-hex="#add8ea" value="Pearl Light Blue">Pearl Light Blue</option>
				          	<option data-hex="#ead936" value="Pearl Citrine Yellow">Pearl Citrine Yellow</option>
				            <option data-hex="#e57727" value="Pearl Mandarin Orange">Pearl Mandarin Orange</option>
				            <option data-hex="#bb4879" value="Pearl Magenta">Pearl Magenta</option>
				            <option data-hex="#C12D2D" value="Pearl Ruby Red">Pearl Ruby Red</option>
				            <option data-hex="#900048" value="Pearl Burgundy">Pearl Burgundy</option>
				            <option data-hex="#553d91" value="Pearl Quartz Purple">Pearl Quartz Purple</option>
				            <option data-hex="#0359a1" value="Pearl Sapphire Blue">Pearl Sapphire Blue</option>
				            <option data-hex="#478388" value="Pearl Teal">Pearl Teal</option>
				            <option data-hex="#003a58" value="Pearl Midnight Blue">Pearl Midnight Blue</option>
				            <option data-hex="#8aad51" value="Pearl Lime Green">Pearl Lime Green</option>
				            <option data-hex="#345e41" value="Pearl Forest Green">Pearl Forest Green</option>
				            <option data-hex="#007f5b" value="Pearl Emerald Green">Pear Emerald Green</option>
				            <option data-hex="#131510" value="Pearl Onyx Black">Pearl Onyx Black</option>
				            <option data-hex="#ebe8e7" value="Pearl White">Pearl White</option>
				            <option data-hex="#efe0b1" value="Pearl Ivory">Pearl Ivory</option>
				            <option data-hex="#e7de81" value="Pearl Lemon Chiffon">Pearl Lemon Chiffon</option>
				            <option data-hex="#dfb8aa" value="Pearl Peach">Pearl Peach</option>
				            <option data-hex="#ebb9c9" value="Pearl Pink">Pearl Pink</option>
				            <option data-hex="#bc99c4" value="Pearl Lavender">Pearl Lavender</option>
				            <option data-hex="#77bbde" value="Pearl Azure">Pearl Azure</option>
				            <option data-hex="#c6e2d7" value="Pearl Mint Green">Pearl Mint Green</option>
				            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
				            <option data-hex="#98989b" value="Metallic Silver">Metallic Silver</option>
				            <option data-hex="#C39440" value="Metallic Gold">Metallic Gold</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-6 half_col mb-3" v-if="hastext">
			  				<label class="pl-3"><b>Text Colour</b></label>
			  				<div class="select-holder">
				          <select id="textcolour" class="form-control" v-model="fields.textcolour" @change="changeText()">
				            <option data-hex="#fff" value="White" checked>White</option>
				            <option data-hex="#000" value="Black">Black</option>
				            <option data-hex="#666" value="Silver">Silver</option>
				            <option data-hex="#c9aa49" value="Grey">Gold</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-6 half_col mb-3" v-if="hastext">
			  				<label class="pl-3"><b>Font</b></label>
			  				<div class="select-holder">
				          <select id="custom_balloon_font" class="form-control" v-model="fields.font" @change="changeText()">
				            <option value="Arial">Arial</option>
				            <option value="Lora">Lora</option>
				            <option value="Montserrat">Montserrat</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-12 half_col mb-3" v-if="hastext">
			  				<label class="pl-3"><b>Text (max 40 letters - we may adjust your text to make sure it fits correctly)</b></label>
			  				<div class="input-group">
			          	<input :id="'custom_balloon_text'" class="form-control border" placeholder="Balloon Text" v-model="fields.text" :maxlength="max"/>
			          </div>
		        	</div>
		        </div>
        		<div class="row half_row">
        			<div class="col-6 half_col">
					  		<label class="pl-3 mb-1"><b>Balloon Size</b></label>
	      				<div class="select-holder">
					        <select id="size" class="form-control" v-model="fields.size" @change="calculateTotal">
					          <option value="20">20 Inch - £24.00</option>
					          <option value="24">24 Inch - £29.00</option>
					        </select>
					  		</div>
					  	</div>
					  	<div class="col-6 half_col">
					  		<label class="pl-3 mb-1"><b>Quantity*</b></label>
	      				<div class="select-holder">
					        <select id="quantity" class="form-control" v-model="fields.quantity" @change="calculateTotal">
					          <option value="1">1</option>
					          <option value="2">2</option>
					          <option value="3">3</option>
					          <option value="4">4</option>
					          <option value="5">5</option>
					          <option value="6">6</option>
					          <option value="7">7</option>
					          <option value="8">8</option>
					          <option value="9">9</option>
					        </select>
					  		</div>
					  		<p class="text-small ml-3 mb-0 d-none d-lg-block">*Please <a href="/contact" target="_blank">get in touch</a> to order over 9 units</p>
					  	</div>
					  	<div class="col-12">
					  		<p class="text-small ml-3 mb-0 d-lg-none">*Please <a href="/contact" target="_blank">get in touch</a> to order over 9 units</p>
					  	</div>
					  </div>
					</div>
					<div class="col-12">
					  <div class="row">
					  	<div class="col-12">
								<hr class="my-4">

								<div class="form-group">
							    <label for="notes" class="ml-3"><b>Any additional information about your order</b></label>
							    <textarea class="form-control" id="notes" rows="5" v-model="fields.notes" placeholder="Tell us anything else we might need to know about your custom order"></textarea>
							  </div>

							</div>
					  	<div class="col-12 half_col text-left">
					  		<div class="form-check mb-4">
						      <input class="form-check-input" type="checkbox" value="" id="accept" required>
						      <label class="form-check-label" for="accept">
						        I understand that my balloons will not look identical to the graphics shown and the final product may differ in appearance.
						      </label>
						    </div>
						    <p class="text-larger mb-1 text-center text-lg-right"><b>Total:</b> £{{fields.total}} <button type="submit" class="btn btn-red ml-4">Add to basket</button></p>
		        		
						  </div>
					  </div>
        	</div>
				</div>
			</form>
		</div>
		<custom-confirm-add-to-basket :product="'Bubble Balloon'" :qty="fields.quantity" v-if="confirm"></custom-confirm-add-to-basket>
	</div>
</template>
<script>
	const Bubble = () => import(/* webpackChunkName: "Bubble" */ './Bubble.vue');
	const CustomConfirmAddToBasket = () => import(/* webpackChunkName: "CustomConfirmAddToBasket" */ './CustomConfirmAddToBasket.vue');
	export default {
	components:{
		Bubble,
		CustomConfirmAddToBasket
	},
	data() {
    return {
    	pagetext:{
    		title: 'Bubble Balloons',
    		text: 'Create your own custom bubble balloon with our bubble balloon builder! These balloons can be further customised after purchase, just let us know what you need in the form below. To find out more about our bubble balloons, check out our <a href="/bubble-balloons" target="_blank">bubble balloons page!</a>', 
    	},
    	fields:{
    		balloons: [],
    		balloon1: "Pearl Light Blue",
    		balloon2: "Pearl Pink",
    		textcolour: 'Black',
    		textcolourhex: '#000000',
    		font: 'Arial',
      	text: 'Your text here',
    		weight: 'Silver',
      	weighthex: '#9b9b9b',
      	quantity: 1,
      	price: 24.00,
      	total: 24.00,
      	size: 20,
      	notes: '',
    	},
      errors: {},
      max: 40,
      hastext: true,
      confirm: false,
      loaded: false,
    }
  },
	mounted(){
		this.$emit('loaded', this.pagetext);	
		for(var x = 0; x < 2; x++){
			if(x == 0){
				var balloon = {
					'type': 'Latex',
					'colour': "Pearl Light Blue",
					'hex': "#d6e3f1", 
					'id': x
				};
			}else{
				var balloon = {
					'type': 'Latex',
					'colour': "Pearl Pink",
					'hex': "#e4cbd8", 
					'id': x
				};
			}
			
			this.fields.balloons.push(balloon);
		}
		this.calculateTotal();
		this.loaded = true;
	},
	methods: {
		changeText(){
			this.fields.textcolourhex = document.getElementById('textcolour').querySelector(':checked').getAttribute('data-hex');
		},
		calculateTotal(){
			if(this.fields.size == 20){
				this.fields.price = 24.00;
			}else{
				this.fields.price = 29.00;
			}
			this.fields.total = (this.fields.price * this.fields.quantity).toFixed(2);
		},
		changeBalloonColour(i, id){
			this.fields.balloons[i].hex = document.getElementById(id).querySelector(':checked').getAttribute('data-hex');
		},
		changeWeightColour(i, id){
			this.fields.weighthex = document.getElementById('weightcolour').querySelector(':checked').getAttribute('data-hex');
		},
		submit(val){
			axios.post('/add-bubbleballoon-to-basket', this.fields)
        .then(response => {
        	console.log(response.data);
          this.confirm = true;
        })
        .catch(error => {
          // Error handling
          console.log(error.response);
          this.confirm = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
		},
  },
}
</script>
<style lang="scss">

</style>