<template>
	<div class="custom-balloon-container position-relative text-center">
		<svg :id="id" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">

			<g id="main-balloon" class="st0">
	<g class="st1">
		<circle class="st2" cx="500" cy="500" r="492.5"/>
		<path class="st3" d="M114.3,214.1l10.8-14.8c5.6,0.1,7.8,3,5.4,7.7c-1.5,2.8-3.1,5.4-5,7.9c-14.4,20.2-26.2,41.9-37.7,63.9
			c-9.6,18.5-17.1,37.8-25,57c-3,5.4-3.8,11.6-5.5,17.4c-6,16-9.9,32.6-13.5,49.2C36,438.6,33.2,475.3,34,512.2
			c0.4,19.2-0.5,38.6,3.9,57.5c0.4,1.6-0.3,3.7,2.3,5.1c1.5-9.3,3-18.2,3.2-27.3c-0.1-0.9-0.2-1.8-0.3-2.7
			c2.8-17.5-1.6-34.7-1.5-52.1c0-5.4,1.8-10.6,2.7-15.9c0.6-3.6,7.1-5.7,10.9-4.3c4,1.5,5.8,5.4,3.9,9.8c-1.2,2.8-2.1,5.5-0.7,8.4
			c1.8,3.6,2.3,7.2,0.4,11c-0.8,1.6-1.4,3.7,1.2,4.4s4.5-0.3,5.1-3c0.6-2.4,0-5,0.9-7.3c1.2-3.4,2.4-7.4,7.4-3.8
			c3,2.2,4.7,0.2,5.6-2.3c1.9-4.8,3.2-9.8,3.9-15c0.3-3,0-5.8-2.6-8c-1.4-1.2-2.3-2.8-2.7-4.6c-0.9-3.9,2.2-9.2,6-10.2
			c5.2-1.4,4.8,3.3,6.4,6c-0.1-4.2,0.4-8.3,1.7-12.3c1.8-5.3,4.9-9.2,11.2-8.5c3.1,0.4,3.8-1.3,4.3-3.8c1.3-7.2,4-13.7,9.7-18.7
			c3.8-3.3,4.4-8.2,4.2-13c-0.1-2-0.4-4-0.7-6c-1.2-10.1,0.9-12.6,11.1-12.5c4,0.1,5.7-1.4,5.8-5.4c0.2-5,2.1-9.8,5.2-13.6
			c1.9-2.3,3.1-5.1,3.4-8c0.8-7.1,4.9-12.5,9.8-17.2c5.6-5.4,10.5-10.9,13.4-18.2c3-7.6,8.8-13.5,13.5-20c2.6-3.6,6-3.8,9.1-0.5
			c3.8,4.1,7,2.6,10.2-0.8c4.5-4.9,7.5-10.7,9.7-16.8c1.7-4.7,5.1-8.5,9.5-10.7c6.4-3.5,13.2-6.4,17.9-12.7c3.4-4.5,9.4-6,14.6-8
			c4.1-1.6,7.7-3.7,9.9-7.7c5.5-10,14.7-14.8,25.1-17.7c3.8-1,7.1-2.3,10-5.1c4.2-4.2,9.7-6.4,15.4-8c15.7-4.3,30.8-9.4,43.8-19.9
			c5.3-4.2,12.9-3.4,19.4-4.7c10.3-2.1,20.5-4.8,30.9-6.3c12.5-1.8,24.3-6.9,37.6-5.5c8.4,0.9,17.3-1.6,26-2.4
			c11.2-1.1,22.4,0.5,33.5-0.9c1.3-0.3,2.7-0.2,4,0.3c14.3,7.7,30.5,5.9,45.6,9.3c21.5,4.9,43.9,7.2,63.2,19.5
			c4.2,2.7,9.4,2.8,14.1,4.3c9.6,3.1,17.1,9.4,25.1,15c1.1,0.8,2.2,2,3.5,2c11.2-0.6,15.7,9.1,22.7,14.8c3.5,2.9,7,5.3,11.4,6.7
			c11.5,3.8,18.8,12,21.9,23.5c1.5,5.4,3.5,9.1,9.6,9.3c2.8,0.1,5.1,1.9,7,3.8c10.4,10.2,22.6,18.7,32.2,29.5
			c8.7,9.8,17.5,19.7,25.8,30c0.3,0.3,0.6,0.7,0.7,1.1c2.3,11.8,11.8,17.5,20.1,24.2c3.2,2.6,5,5.6,4.6,9.9
			c-0.2,2.1-0.1,4.5,1.6,5.6c8.2,5,10.2,14.5,16,21.3c6.7,7.9,9.7,17.8,9.5,28.2c-0.2,9.2,1.3,17,10.3,21.6c2.3,1.2,3.7,3.6,3.8,6.1
			c0.3,13.6,7.7,26.2,6,40.2c-0.6,4.9,2,10,0.8,15.6c2.8-0.9,4.1-3.6,6.8-3.4c3.3,3.1,5.2,7.5,5.4,12c0.4,8.8,1.3,17.6-2.1,26.4
			c-2.5,6.4-3.7,13.4-6.4,19.8c-0.5,1-0.6,2.2-0.3,3.3c3.8,10.2-2.2,18.2-6.8,26c-3.3,5.4-5.3,10.8-4.4,16.4
			c1.6,10.2-2.5,18.6-6.5,27c-3,6.7-6.7,13.1-10.8,19.2c2.4-3.8,5.2-7.2,9.3-9.3s7.5-1,8.3,3.4c1.1,5.7,5.1,10.6,3.9,16.8
			c-0.5,2.9,1.6,3.6,4.2,4c9.2,1.3,16.7,12,15,21.1c-0.5,2.5,0,4.9,0,7.4c0.1,2.2,0.5,4.9-1,6.5c-5.4,5.9-3.5,12.6-2.6,19.1
			c0.5,4.1,0.6,8-1.3,11.8c-1.8,3.5-1.3,6.6,2.7,8.3c5,2.1,6.4,5.3,3.2,10c-3,4.5,0.8,5.5,3.5,7.5c3.6,2.7,4.6,0,6.1-2.2
			c2-3,4.2-5.8,5.2-9.4c1.2-4.1,4.6-5.9,8-7.7c4.4-2.3,7.7-5.4,7.2-11c-0.3-3.2,1.5-5.7,3.7-7.6c8.6-7.3,14.1-16.7,18.6-26.8
			c1.7-3.8,2.9-8.7,8.3-9.7c2.3,2.6,0.7,5.1-0.4,7.5c-11.5,24.9-25,48.7-40.5,71.3c-5.5,8.2-10.4,16.8-17.6,23.7
			c-12.2,12.5-22.5,26.8-35,39.1c-15.9,15.8-32.6,30.9-50.1,45c-23.9,19.2-49.8,35.2-77,49.2c-16.2,8.3-32.9,15.8-50.1,21
			c-12.1,3.7-24.5,8.2-38.1,6.2c-7.3-1.1-15.1,1.5-22.2,4.5c-8.3,3.5-16.2,3.1-23.4-2.9c-1.9-1.6-4-3.3-3.3-6.2
			c0.7-3,3.6-4.9,6.1-4.4c7.9,1.6,13.7-4.6,21.1-5.1c4.9-0.3,6.2-6.1,9.5-9c1.2-1,1.9-2.5,2.8-3.8c2-2.6,2.2-6.7,5.6-8.2
			s5.8,1.5,8.7,2.5c3.8,1.3,5.1-1.2,6.6-3.9c4.4-7.9,15.4-17.5,22-19.3c-4.4-2.6-4.7-4.6-1.2-7.4c1.1-0.8,2.3-1.9,3.6-1.8
			c8,0.8,11.9-5.8,16.6-9.9c5.7-5,12.1-9.2,19-12.5c7.1-3.4,14.6-5.9,19.3-12.9c1-1.6,3-1.9,4.7-2.4c8.6-2.5,15-8.8,22.8-12.8
			c3.4-1.8,4.4-5.5,5.8-8.8c2.4-5.7,6.2-9.4,12.7-10.8c7.2-1.5,13.1-6.6,20.7-7.7c3.5-0.5,4.2-5.2,7-7c3.4-2.2,3-5,2.1-8.2
			c-0.7-2,0.3-4.2,2.1-5.2c2-1.2,3.9-0.6,5.6,0.8c1,0.9,1.8,2,2.9,2.5c-4.9-13.5,8.1-18.4,13.1-28.2c-0.1-0.8-1.7-0.5-2.9-0.8
			c-4.8-1.5-5.4-3-2-6.8c1.6-1.8,3-3.5,1.7-5.9c-3.2-6-0.3-10.7,3.7-14.5c5.6-5.2,7.2-12.3,10.3-18.7c1.1-2.3,0.2-4.4-0.9-6.4
			c-2.2-4.3-2.6-8.8,0-12.9c3.8-6.1-0.8-10.2-2.9-14.8c-0.9-2-2.8-0.6-4.1,0.1c-3.1,1.5-5.3,4.2-8,6.1c-3.1,2.2-6.3,4.3-10,5.5
			s-4.6-0.5-3.7-3.8c0.4-1.5,1.1-3,2.1-4.2c5-5.2,8.5-11.5,13-17.1c3.9-5,5.2-11,5.7-16.6c0.5-5.3,0.5-11.4-1.2-16.7
			c-1.8-5.7-0.1-10.6,0.9-15.8c0.3-1.8,1-3.8,2.8-4.3c5.5-1.7,5.5-6.1,4.9-10.4c-0.7-6-0.3-12-2.7-17.8c-1.9-4.8,1.8-8.8,4.1-12.3
			c3.6-5.4,6-10.4,3.4-16.8c-0.6-1.5-0.9-3.7,0.3-4.5c4.8-3.2,2.8-7.4,2.1-11.5c-0.9-5.2,0.3-10.5,3.2-14.8c2.2-3.2,2.8-6.1-0.5-8.9
			c-0.8-0.7-1.9-1.8-1.7-2.8c1.9-8.7-3.9-16.5-2.9-25.1c1.1-9.5-2.7-18.1-5.8-26.7c-0.3-0.9-0.6-1.9-1.4-2.3
			c-7.8-4-8.9-12.6-13.2-19c-2.4-3.6-3.3-7.7-3.8-12.1c-1.3-11-3.1-21.8-12.5-29.5c-1.7-1.2-2.9-2.9-3.5-4.9
			c-1.7-6.7-6.9-11.6-9.2-17.6c-4.7-11.9-14.3-19.3-22.1-28.5c-9.3-10.9-20-20.6-29.3-31.4c-2-2.1-4.4-3.8-7.1-5
			c-3.4-1.7-8-2.3-9.9-5.5c-5.2-8.9-13.5-14.7-20.8-21.2c-6.1-5.4-9.4-14.6-19-15.8c-0.9-0.2-1.7-0.7-2.2-1.5
			c-7.7-10-19.5-13.2-30.3-17.9c-5.8-2.5-11.7-4.7-15.5-10.2c-1.6-2.3-4.7-2.5-7.2-3.2c-7.2-2-14-4.7-19.1-10.6
			c-0.4-0.5-0.9-1.2-1.5-1.3c-13.2-3.3-22.6-14.9-36.9-16.1c-5.5-0.5-11.5-2.3-16.1-6.2c-1.2-1-2.7-1.6-4.3-1.6
			c-5.9-0.3-11.5-1.9-17-3.8c-2.9-1-5.7-1.4-8.5,0c-2.2,1.2-4.9,1.2-7.2,0.1c-3.2-1.5-6-0.9-8.8,1.1c-3.2,2.3-6.6,2.9-9.9,0
			c-4.9-4.2-11.1-4.9-16.5-3.9c-7.6,1.3-15.7,1.3-23,4.5c-3.9,1.8-8.4,1.9-12.4,0.3c-5.3-1.9-10.3-1-15.5,1.5
			c-8.5,4.1-17.7,4.4-26.8,1.6c-1.9-0.6-3.8-2.2-5.6-0.6c-5.5,4.6-12.7,4.3-18.7,7.1c-8.5,3.8-17.2,7.1-24.8,12.7
			c-1.1,0.8-2.2,1.8-3.6,1.8c-8.9-0.3-15,6.9-23.1,8.4c-11.4,2.1-19.3,9.6-28.3,15.7c-3.8,2.5-7.7,4.5-12.5,4.5
			c-3.1-0.1-5.6,1.7-7.7,3.7c-2.4,2.3-5.3,4.2-8.4,5.4c-1.3,0.5-2.9,1-3.4,2.1c-3,6.3-8.7,9.7-13.8,14c-3.3,2.7-5.9,6-10.2,7
			c-1.1,0.2-2.1,0.9-2.8,1.8c-5.9,9.9-16.9,13.6-25,20.7c-5.5,4.9-9,12.2-12,19.2c-2.3,5.5-6.4,9.8-9,15c-0.9,1.9-2.9,3.1-5,2.7
			c-5-0.8-7.2,2.3-9.4,5.9c-3.2,5.1-7,9.9-11.1,14.3c-2.7,3-3.8,6.2-2.4,10.4c3.2,10.2-0.2,20.2-8.7,26.9c-1.3,0.9-2.3,2.1-2.8,3.6
			c-4.4,13.6-8.1,27.4-9.4,41.6c-0.8,7.4-2.7,14.6-5.8,21.4c-1.4,3.1-1.5,6.5-1.8,9.9c-0.1,1.7,0,4-2.2,4.4s-2.9-1.7-3.9-3.1
			c-3.2-3.9-4.5-9-3.6-13.9c1.1-5.8,1.3-11.8,0.7-17.6c-0.5,4.1-0.7,8.2-0.6,12.4c0.3,5.3-0.8,9.9-6.5,12c-2.7,1-2.8,3.2-2.7,5.5
			c0.2,5-1,9.8-2.1,14.6c-1,4.7-3.1,7.6-8.4,5.3c-3.8-1.6-4.3,0.5-4,3.5c0.2,2.3,0.5,4.9,2.1,6.3c6.1,5.3,4.4,12.2,4.5,18.7
			c0.1,6.2-1.4,12.5-0.3,18.8c0.4,2.2,0.1,5-2,6.1c-6.7,3.3-9.8,10.3-15.8,14.4c-3.2,2.2-5.9,3.8-9.8,2.1c-5-2.1-7.1,0.2-7.3,5.2
			c-0.2,4.3-1.8,7.8-5.9,9.8c-1.4,0.7-3.5,1.9-2.8,3.3c3,5.8-0.6,11.9,1.2,17.8c2.8,8.8,3.6,18,4.8,27.1c1.2,8.6,2.8,16.8,8.4,23.8
			c1.6,1.9,2.7,4.2,3.1,6.7c2,14.9,8.4,27.7,18.4,38.8c3.1,3.4,3.8,8.1,5.8,12.1c1.8,3.6,3.8,7.1,6.1,10.5c5.3,7.6,6.3,7.7,12.4,1.2
			c3.2-3.4,8.4-4,13-1.2c3.1,1.9,5.9,4.1,8.4,6.7c2.7,3.4,6.6,5.5,9.3,8.8c8.8,10.8,15.6,23,20.1,36.2c2.1,5.7,2.4,12,0.8,17.9
			c-1.1,3.8,0.2,6.5,3.2,9.4c7.8,7.7,13.9,16.9,20.3,25.8c5.6,7.7,12.3,14.2,19.2,20.5c1.5,1.4,4.1,1.5,5.3,2.7
			c6.4,6.6,15.7,10.5,18.8,20c0.7,2.9,2.8,5.1,5.6,6c8.4,2.9,8.3,3,4.6,11c-0.4,0.8-0.8,1.6-1.3,2.3c-2.1,2.3-4,4.7-6.9,6
			c-7.4-1-14-4.2-20.5-7.5c-5.5-2.8-11-5.9-16.2-9.3c-2.4-1.6-4.9-3.2-5.3-6.5c3.8-4.9,6-5.4,11-1.9c3,2.1,5.6,5,9.6,5.7
			c0.2-1-0.2-2-1.1-2.5c-17.2-15.5-30.7-34.3-46.6-51c-17.1-18-31.9-38.1-47.7-57.3c-12.7-15.3-22.6-32.3-33.1-48.8
			c-9.4-15-19.8-29.8-24.5-47.5c-0.3-0.6-0.5-1.2-0.7-1.8c-1.8-12-7.5-22.8-11.5-34.1c-1.7-4.6-5.1-8.4-7.8-12.4
			c-2.9-4.3-5.2-8.5-6.1-13.6c2.2,11,4.3,21.9,6.6,32.9c0.7,2.7,2,5.4,1,8.3c-0.3,0.7-0.9,1.2-1.6,1.4c-3.1-1.5-3.4-4.6-4.3-7.3
			c-8.3-25.7-12.8-52.3-16.6-78.9c-2.6-18.3-4.6-37-4.2-55.6c0.9-40.5,2.6-81,12-120.9c4.6-19.2,9.7-38.3,15.9-57
			c6.6-20.1,13.6-40.2,24-59c7.4-13.3,14.3-26.9,22-40.1c3.4-5.9,7.8-11,11.4-16.6C113.2,219.2,115.8,217.3,114.3,214.1z"/>
		<path class="st4" d="M398.8,30.7c2.8-3.2,6.9-3.2,10.4-3.8c14.8-2.7,29.7-5,44.6-7.5c1.1-0.3,2.1-0.6,3.2-0.7
			c22.5,0.3,45-2.4,67.6-1.4c1.4,0.1,2.7,0.1,3.6,1.3c3.3,2.1,7.5,2.1,10.8,0c11.4,0,22.9-1,33.7,4c-4.3,3.3-9,0.9-13.5,1
			c-2.5,0-5-1.1-8.7,0.5c0.3-0.1,1.7,0.7,1.2,0c-0.2-0.4-0.2-0.6,0.3-0.6c11.6-0.3,23,1.9,34.4,3.8c5,0.8,10.2,1.3,15.1,2.8
			c2.5,0.8,5.3,1.2,6.7,4c-0.7,2.4-2.8,2.1-4.6,2.3c-0.7,0-1.4-0.1-2.1-0.3c-3.8-1.1-7.7-1.6-11.5-2.6c-0.6-0.1-1.3-0.3-1.9-0.5
			c-4.8-0.7-9.7-1.4-14.5-2.2c-0.7-0.1-1.3-0.3-2-0.4c-6.4-0.5-12.7-1.9-19.1-2c-0.8-0.1-1.5-0.2-2.3-0.4
			C520,25.3,490,24.6,459.9,28c-15.3,1.7-30.6,3.5-45.8,5.9c-5.7,0.9-11.3,2.7-16.9,4.1c-0.7,0.3-1.3,0.5-2,0.6
			c-24.1,5.4-47.5,13.3-70,23.4c-12.4,5.6-24.2,12.2-35.5,19.7c-9,6.1-18.5,11.2-27.1,18.2c-5.6,4.5-12.5,8.4-18.9,12.2
			c-5.7,3.4-9.8,8.6-15.4,11.9c-3.3,2-1.4,4.9-0.5,7.3c1.7,4.9,1.8,8.6-3.6,11.8c-3.8,2.2-6.2,6.8-7.5,10.9
			c-2.1,6.4-6.4,10.6-11.4,14.5c-5.2,4.1-8.9,9.4-12.1,15.9c2.7-0.3,3.6-2.2,5.1-3.3c2.9-2,5.9-5,9.5-1.7c3,2.8,1.7,9.8-2,12.6
			c-1.1,0.8-2.4,1.3-3.5,2c-2.6,1.8-5.4,3.5-6.9,6.3c-1.4,2.4-4.2,5.9-1.8,7.8c2.9,2.3,4-2.2,5.7-4c2.8-2.8,5.2-5.5,8.3-0.4
			c1.6,2.7,2.8,0.6,3.9-0.8c5.2-7,14.8-9.1,22.4-5c0.6,0.3,1.2,0.7,1.7,1.1c6.6,4.5,12.3,11,21.5,9.5c12-1.9,23.1-5.6,31.4-15.2
			c2.2-2.6,4.9-4.6,6.6-7.6c0.4-0.6,0.8-1.1,1.2-1.6c6.8-9.1,7.4-20.1,8.3-30.7c0.5-5.1,1.7-7,6.7-6.1s8.3-3.1,12.7-3.8
			c7.5-1.1,14.5-2.2,20.9-7.8c4.5-3.9,12.4-2.5,18.7-4.1c6.7-1.6,13.5-3.3,20.6-1.8c2.9,0.7,6-0.4,7.8-2.8c3.9-4.9,8.9-4.5,14-2.4
			c2.3,0.9,4.3,3,6.9,2.1c9.3-3.1,19.2-3.2,28.6-3.6c16.5-0.8,33.3-4.4,49.5,3.9c10,5.1,21.9,4.1,32.6,7.6c1.7,0.6,3.5-0.3,5.3-0.8
			c2-0.6,4.4-1,5.8,0.6c6.1,7.2,15.3,7.7,23.3,9.2c10.1,2.1,20.3,3,30.6,2.6c8.8-0.5,17.6,1.8,25,6.6c19.3,12.9,40.6,20.7,62.4,27.6
			c9.6,3.1,18.5,8,27.8,12.1c1.3,0.5,2.4,1.4,3,2.6c2,4.5,5.2,6.5,10.1,5.7c1.1-0.2,2.3,0.2,3.1,1c4.1,5,10.4,6.9,15.2,10.8
			c3.5,2.9,6.6,5.9,11,7.5c2,0.7,3.8,2.4,3.9,4.3c0.8,9.6,8.7,12.9,15.2,16.5c10.1,5.6,14.5,15.2,15.5,24.7
			c2.2,20.8,15.6,32.3,30.7,43.1c2.2,1.6,4.6,2.8,6,5.2c2.9,5.2,8.2,7.5,12.7,10.8c1.5,1.1,3.3,1.8,5,0.6s0.8-3.2,0.2-4.9
			c-3.3-9.1-1.7-11.2,8.3-10.2c-1.8-7.5,5-11.6,7.3-17.5c1.1-2.8,4.6-1.2,5.7,1.4c3.5,8.2,9,14.9,14.7,21.5c1.2,1.4,1.9,3.1,2.2,4.8
			c1.4,9.2,5,16.5,15.3,18.5c2.6,0.5,3.5,2.8,3.5,5.2c0.1,4.7,2.4,7.9,5.6,11c5.5,5.5,8.3,12.3,7.5,20.1c-0.4,2.9,0.7,5.8,3,7.7
			c4.7,4.3,6.1,9.8,5,16c-0.9,4.8,0.7,9.1,1.6,13.7c1.7,9.1,6.2,17.7,3.5,28c-2.3,8.7-1.6,18.2-2.9,27.3c-0.3,3,0.6,5.9,2.5,8.2
			c8,10,8.2,23.1,13.4,34.2c3.6,7.7,0.3,13.8-5.9,18.7c-3.4,3-6.2,6.5-9.7,9.4c-4.1,3.3-6.4,2.6-6.3-2.4c0.2-10.6-2.2-20.5-6.1-30.1
			c-1.1-2.8-0.7-5.8,0-8.6c1.8-6.5,0.3-12.5-3-18.1c-2.2-3.6-2.4-7.6-3.6-11.4c-4.6-14.4-5.4-29.4-9-43.9
			c-4.1-15.8-9.7-31.2-16.9-45.9c-4.7-9.9-10.9-19-15.1-29.2c-0.6-1.4-1.6-3-3.4-2.8c-2.1,0.2-1.7,2.4-2,3.8c-0.8,4.5-4,5.1-7.6,4.5
			c-3.3-0.6-6.9-1.4-9.5-3.3c-10.9-7.9-23.5-13.4-30.9-26.2c-7.5-12.7-16.4-24.5-26.6-35.2c-3.4-3.7-5.3-8.3-7.3-12.8
			c-2.4-5.9-6.5-10.9-11.9-14.3c-2.1-1.3-4.5-2.5-5.7-4.6c-7.7-13.4-21.2-20.9-31.9-31.1c-7.7-7.2-17.7-11.3-27.2-15.9
			c-10.3-4.9-21-8.9-30.3-15.8c-4.6-3.5-10.7-4.6-16.3-6.1c-2.6-0.7-5.3-1.2-7.5-2.9c-14-10.6-30.6-15.7-46.7-21.9
			c-22.3-8.6-46.1-10.1-69.5-13.8c-8.8-1.4-18.1-2.4-26.6-5.9c-2.1-0.9-4.2-1.7-6.5-1.4c-10.1,1.4-20.1-1.3-30.1-0.9
			c-8.5,0.3-17.1-3.5-25.6,1.2c-3.6,2-8.2,0.7-9.7-4.4c-0.9-3.1-2.9-2.6-5.2-2.3c-10.8,1.2-21,4.8-31.5,7.2
			c-19.7,4.5-37,14.7-55,23.1c-2.2,1.1-4.4,2.4-6.9,2.6c-11.9,1-16.8,9.4-19.6,19.4c-2,7.7-7.1,14.2-14.1,17.9
			c-6.7,3.5-13.9,5.9-21.4,7c-9.1,1.4-18.3,4.1-27.4,6.1c-1.5,0.4-2.8,1.5-3.4,3c-3,5.7-8,8.9-13.8,11.2c-1,0.4-2.5,0.5-3,1.4
			c-3.3,5.8-8.9,6.7-14.7,7.4c-9.3,1.2-12,9.9-16.8,15.9c-2.8,3.4-5,7.4-8.5,10.2c-4,3.3-8.1,6.4-10.3,11.4c-0.9,1.9-2.3,3.5-4.7,3
			c-2.2-0.4-2.5-2.3-2.9-4s0.1-4.8-2.2-5.1c-2.6-0.4-3.3,2.6-4.5,4.4c-4.1,6.4-7,13.6-11.7,19.6c-1.9,2.5-3.4,6.9-7.6,4.9
			c-3.5-1.6-1.8-5.4-1.9-8.5c-0.1-17.2,6.3-32.8,11.5-48.7c0.2-0.6,0.6-1.2,0.2-1.9c-2,1.5-3.5,4.6-6.5,3.4c-3.4-1.3-2.9-4.7-3-7.6
			c-0.1-5.7,0.8-11.2,4.4-15.9c2.2-2.8,2.4-5.1-1.7-6.7c-3.8-1.5-4-4.4-2.3-7.7c7-14.1,16.2-26.9,27.2-38.1
			c5.1-5.1,8.9-11.2,13.2-16.9c9.1-8.9,18.8-17.3,29-24.9c0.5-0.4,1.3-0.6,1.6-1.1c9.2-12.2,24.1-17.6,34.4-28.5
			c4.3-3.6,9.7-5.5,13.7-9.6c1.4-1.4,3-2.5,4.7-3.3c11.5-7,23.6-12.7,35.1-19.5c9.6-5.7,20.6-8.6,30.8-13.3
			c4.4-2.1,9.3-3.3,12.4-7.5c6.9-3.9,14.2-6.9,22-8c5.1-0.7,9-5.2,14.4-4.2c0.6,1.1-0.2,1.8-0.6,2.7c1.6-0.8,4.4,0.5,4.6-2.7
			c2.7-3.9,7.1-3.1,10.8-4C394.3,33.2,396.6,33.3,398.8,30.7z"/>
		<path class="st5" d="M607.8,34.8c-8.5-5-18.3-4.8-27.6-6.6c-9.5-1.9-19.3-2.9-30.6-4.5c8.7-4,16,0.4,23.1-1.1
			c15.7-0.2,30.5,4.7,45.7,7.5c11.9,2.3,23.7,5.3,35.3,9c12.7,3.8,25.6,7.6,37.7,13.2c11.5,5.3,23.2,10,34.6,15.7
			c11.5,5.8,22.5,12.5,34,18.2c13.2,6.6,24.5,16,36.8,23.7c6.2,3.8,11.5,9.1,17.1,13.8c29.4,22.4,56.1,48.1,79.6,76.8
			c1.9,2.3,5.4,4.7,1.8,8.4c-3-0.6-4.2-3.3-6-5.2c-8.2-8.5-16.8-16.6-22.9-22.2c3.2,2.7,7.5,9.1,11.7,15.4
			c14,20.6,28.9,40.8,40.2,63c13.7,26.8,27.3,53.5,36.4,82.4c7.8,24.6,15.5,49.2,21.3,74.4c7.1,31,11.6,62.3,9.4,94.1
			c-1.1,16.1-3,32.1-5.6,48.1c-0.2,1.6-0.7,3.2-2.7,3.3c-0.8-0.7-1.4-1.6-1.6-2.7c-0.6-12.1,0.8-24.2,1.6-36.2
			c2.1-32,0.8-63.6-6.5-95c-3.6-15.5-6.4-31.2-11-46.4c-9.3-30.3-19.9-60-35.1-88c-9.8-17.9-19.5-35.9-31.3-52.6
			c-12.7-18-25.9-35.5-40.1-52.4c-7.5-9-17-16.3-23.8-25.6c-12.6-17.2-28.6-30.8-45.1-43.5c-21-16.2-43-31.2-67.1-43.1
			c-27.9-13.8-56.2-26-86-34.7c-5.6-1.6-11.4-2.4-17-4.1C612,37.2,609.5,36.9,607.8,34.8z"/>
		<path class="st6" d="M114.3,214.1c5.1,1.4,2,4.5,0.8,6.1c-10.5,12.9-18.7,27.3-26.3,41.9c-10.3,19.9-20.8,39.8-27.6,61.5
			c-5.9,18.7-13,37.1-17.3,56.2c-5,22.1-10.2,44.2-12,67.1c-1.5,19.8-2.3,39.6-2.7,59.4c-0.5,27.3,2.1,54.2,6.4,81.1
			c1.5,9.7,2.9,19.5,5,29c3,13.5,5.6,27.4,11.7,40.1c3.6,4,4.5,9.1,6.2,13.9c2.7,7.8,5.2,15.7,8.4,23.2c2.3,6,5.3,11.6,8.1,17.3
			c0.3,1.9,0.3,3.6-1.3,4.9c-6.6-2.3-8.2-8.8-10.3-14c-9.9-24-20.3-47.8-26.4-73.2c-5.3-22.2-10.2-44.5-14-67.1
			c-1-5.7-0.3-11.5-1.5-16.2c-0.3,6.8,2.3,14.6-1.5,22.1c-1.8-7.9-3.8-15.9-3.9-24c-0.3-19-0.1-37.9-0.1-56.9
			c2.2-11.6,1-23.6,4-35.1c0-3.6,0.1-7.1,0.1-10.7c2.3-5.7,2.9-11.7,3.9-17.7l0.1-5.3c2.3-4.2,1.4-9.4,3.9-13.6
			c-0.5-8.7,3.1-16.6,5.2-24.8c6.5-25.3,16-49.5,26.5-73.4c10-22.7,22.4-44.1,36.1-64.8C101.8,232,108,223,114.3,214.1z"/>
		<path class="st7" d="M19.9,567.4v-27.8c3.5,3.5,3.8,7.4,3.9,10.8c0.6,15.2,4.9,29.8,7.2,44.8c3.2,20.3,10.5,39.5,14.9,59.5
			c1.6,7.5,5.7,14.5,8.9,21.7c5.5,12.1,9.2,25.1,16.3,36.4c0.8,1,1.7,2,2.7,2.8l0.7,0.6c2.5,5.2,4.6,10.6,8.1,15.3
			c0.9,2.7,2.7,4.8,4.2,7.1c18.5,34.1,41.1,65.9,67.1,94.7c4.6,6.8,10.9,12,16.5,17.8c14.4,14.7,29.9,28.3,46.4,40.6
			c2.2,1.6,4.2,3.3,6.2,5.1c4.5,4.3,9.8,7.5,14.6,11.4c1.8,1.5,4.3,2.6,3.6,5.7c-5.4,1.3-8.4-2.9-12.1-5.3
			c-5.3-3.6-9.6-8.5-15.3-11.7c-2.5-1.4-4.4-2-6.1,0.9c-0.5,0.4-1.2,0.3-1.6-0.2c-23.3-17.6-44.6-37.5-63.7-59.6
			c-19.6-22.4-38.5-45.6-53.1-72c-5.6-10.1-12.2-19.6-16.8-30.2c-6.5-8.6-9.3-19.2-14.8-28.3c-0.1-0.4-0.1-0.8-0.1-1.3
			c-5.8-12.7-10.7-25.8-14.8-39.1c-0.5-2.4-1.4-4.7-2.7-6.8l0,0c-2.2-3.8-1.3-8.5-4-12.2c0-0.4,0-0.9,0-1.3c-1.9-4.3-2.1-9.2-4-13.5
			l-0.1-2.6c-2.4-4.2-2.2-9.2-4-13.5l-0.1-4c-3.8-5.3-1.3-12-4-17.6l0,0C21.8,586.4,21.9,576.7,19.9,567.4L19.9,567.4z"/>
		<path class="st8" d="M262.6,88.7l-4,2.7c-4.6,3.8-10.4,5.8-14.7,9.9c-23.5,17-46.7,34.3-67.6,54.5c-3.6,2.2-6.5,5.3-8.6,9
			c-1.3,2.6-3.5,4.4-5.8,6.2c-9.4,10.8-19.5,21-26,34.1c-3.2,6.6-7.1,12.9-12.7,18.1c-4,3.8-5,9.4-8,14
			c-11.2,17.1-20,35.5-29.4,53.5c-2.5,4.7-5.2,9.6-5,15.2s-4.1,9-6.9,12.8c-4.1,5.5-5.2,13-11.3,17.1l-1-0.3
			c3.7-11.6,9-22.6,13.3-33.9c5.8-15.4,14.7-29.3,21.8-44c4.1-8.5,9.9-16.8,15.1-25c5.8-9.1,12.3-17.8,17.8-27
			c2.1-3.6-1.2-5.5-4.6-6.3c19.7-23.9,41-46.2,65-65.9c18.9-15.3,38.7-29.6,59.1-42.8c4.2-2.8,8.9-4.9,13.4-7.3
			C265.8,85,265.1,86.9,262.6,88.7z"/>
		<path class="st5" d="M262.6,88.7c1.2-1.6,1.2-3.8,0-5.4c8.5-4.9,17.1-9.7,25.7-14.6c15.2-8.7,32.3-13.5,48-21.2
			c1.3-0.6,3-0.4,4.6-0.5c2.5,3.8-1.4,4-3,4.8c-8.7,4.1-17.3,8.3-26.2,11.7c-16.1,6.1-30.1,16-45.3,23.7
			C265.1,87.7,263.8,88.2,262.6,88.7z"/>
		<path class="st6" d="M40.1,660.5c5.8,3.5,4.7,10.3,6.6,15.5c3.9,10,9.1,19.7,10.8,30.4c-4.5-3.3-5.1-8.8-7-13.4
			C46,682.5,41.3,672,40.1,660.5z"/>
		<path class="st6" d="M57.7,707.6c6.3,8.7,10.7,18.5,14.8,28.4h-2.7C65.6,726.6,60.7,717.5,57.7,707.6z"/>
		<path class="st8" d="M19.9,451.4c-1.8,11.6,0.7,23.8-4,35.1C15.6,474.6,15.8,462.8,19.9,451.4z"/>
		<path class="st6" d="M19.9,567.4c4.8,6.1,2.2,13.6,4,20.3c0.6,2.5,0.1,5.3,0.1,8C19.9,586.7,19.4,577.1,19.9,567.4z"/>
		<path class="st6" d="M24,595.7c4.9,5,2.3,11.8,4,17.6C22.2,608.4,24.5,601.8,24,595.7z"/>
		<path class="st8" d="M23.9,423c0.2,6.2,0.5,12.5-4,17.6C19.9,434.5,21.5,428.7,23.9,423z"/>
		<path class="st6" d="M36.1,648.3c5,2.8,3.9,7.7,4,12.2C36.1,657.3,36,652.8,36.1,648.3z"/>
		<path class="st5" d="M381.3,34.7c1,0.2,2.6,0.2,3,0.8c1.1,1.5-0.6,1.6-1.5,2c-2.7,1.2-5.7,1.5-8.5,1c1.2-1.5,2.1-2.7,3-3.8
			L381.3,34.7z"/>
		<path class="st6" d="M32.1,633.5c4,3.7,3.9,8.7,4,13.5C32.4,643.2,31.6,638.5,32.1,633.5z"/>
		<path class="st5" d="M539.1,18.6c-1.5,3.9-7.3,3.9-10.8,0H539.1z"/>
		<path class="st5" d="M398.8,30.7l2.1,1.3c-1.5,2.4-4.2,2-6.4,2.4c-2.6,0.6-2.3-2-2.4-3.6L398.8,30.7z"/>
		<path class="st6" d="M28,617.3c3.4,3.9,3.7,8.7,4,13.5C27.5,627.2,28,622.2,28,617.3z"/>
		<path class="st8" d="M27.9,404.1c-1.2,4.6-0.3,9.7-3.9,13.6C24.8,413,23.8,407.9,27.9,404.1z"/>
		<path class="st9" d="M154.8,745.4c-2-3.4-6.6-4.2-8.1-8.1c-3.5-5-6.9-10-14.2-9.6c-2.7,0.2-4.6-1.8-5.4-4.4
			c-1-3.2,0.4-5.7,2.8-7.7c7.2-6.3,7.2-6.3,0.4-13.2c-1.3-1.2-2.4-2.7-3.2-4.3c-1-2.4-1.1-4.9,0.6-7c1.6-2.2,4.1-2.5,6.7-1.7
			c1.2,0.4,2.4,1.4,4.2,0.9c-1.1-6.5,0.6-13,2.3-19c1.6-5.5,4.5-9.7-1.8-13.6c0.9-5.6-1.9-10.7-1.7-16.4c0.3-10.3,1.9-21.1-5.8-30.1
			c-2.7-3.1-4.2-6.9-2.6-11.3c0.4-1.1,0.3-2.3-0.2-3.3c-6.5-10.9-2.4-23.3-4.6-34.8c-0.4-2.2,1-3.9,3.1-4.8c4.7-2,4.9-6.2,4.6-10.2
			s-3.3-5.2-7.1-5.5c-3.6-0.3-3.9-3.3-3.7-6.1c0.2-3.3,0.7-6.6-0.2-10c-1.3-4.9-0.7-9.1,5.6-9.9c3-0.4,1.7-2.6,1.9-4.2
			c0.7-6.8,2.5-8.5,9.4-8c2.7,0.2,4.2-0.4,5-3.1c1.3-4.5,3.7-8.7,1.8-13.7c-1-2.6-0.3-5.6,1.7-7.5c3.3-3.5,3.7-7.5,2.3-11.9
			c-1.2-3.9-0.3-7.5,1.6-11c2.4-4.1,3.9-8.6,4.6-13.3c0.5-3.6,1.8-7.1,4.9-9.3c4.4-3,5.5-7.1,5.8-12.2c0.3-7.1,2.8-8.2,8.4-3.8
			c3.1,2.4,4.5,0.6,5.7-1.7c1.6-2.9,2.6-6.2,6.3-9c-6.2-1.7-7.3-5.2-6-10.5c1.2-4.9-2-7-6.6-5c-5,2.1-7,1.2-7.4-4.2
			c-0.2-3.2-1.4-6.1-1.4-9.3c-0.1-5.6,3.1-7.7,8.2-5.6c1,0.5,2,1,3.1,1.4c8.4,2.4,8.4,2.4,7.5-6.3c-0.7-6.6,2.3-10,8.8-12.1
			c5.9-1.9,12.4-0.9,17.8-5.2c4.1-3.2,7.3-6.5,9-11.3c2.4-7,5.5-13.4,13.9-14.9c2.4-0.4,3.3-2.8,4.2-4.9c3.2-7.8,8.4-13.2,17-14.8
			c2.9-0.5,5.2-2,5.5-5.1c0.8-7.1,4.6-10.9,11.8-11.3c-0.7-2.2-2.3-2-3.3-2.6c-4.4-2.8-4.2-5.9,0.1-8.6c8.8-5.4,18.5-8.5,27.9-12.6
			c2.1-0.9,3.9,0.4,5.8,0.5c3.3,0.3,7.9,2.3,7.1-4.9c-0.4-3.9,4-6,7.3-7c4.4-1.4,8.2-3.3,11.2-7c1.8-2.2,4.2-3.5,7.2-2.1
			s4.1,4,3.6,7.2c-0.1,0.7-0.2,1.3-0.2,2c-0.1,1.3-0.2,2.8,1.1,3.6c0.6,0.4,1.4,0.2,1.8-0.3c1.2-1.3,0.3-2.5-0.4-3.6
			c-2.7-4.4-0.2-5.5,3.6-5.9c2.1-0.2,4.8,0.6,4.4-3.2c-0.4-4.9,3-5.1,6.3-4.3c7.8,2,15.5,1.7,23.4,1.2c2.7-0.2,4.8-0.6,6.1-3.1
			c2.4-4.6,6.7-5.6,11.5-5.5c5.4,0.2,10.7-0.8,15.7-3c4.6-2.1,10-2.6,15.2-2.4c14.6,0.5,29.2,0.1,43.7-1.2c10.2-1,19.9-3.3,28.8,4.1
			c2.2,1.8,5.6,1.1,8.6,1.1c17.4-0.2,34.3,2.7,51,7.3c5,1.4,9,5,13.8,6.9c3.6,1.4,6.7,1.8,9.9-1.1c3.9-3.5,8.9-2.5,13.5-1.8
			c1.9,0.3,4.2,1.1,4.1,3.6c-0.1,2.3-2,3.3-4,4.1s-4,0.1-6,1.4c7.2,3.7,14.3,7,20,12.6c0.3,0.3,0.7,0.7,1.1,0.7
			c12.2-0.1,17.6,11.3,27,16c8.3,4.1,16.6,8.3,23.8,14.5c4,3.4,10.6,4.5,16.4,5.2c3.7,0.4,5.8,1.5,6.7,5.2s3.1,4.2,6,2.1
			c2.7-1.9,5.1-1.1,7.5,0.6c5.2,3.6,11.2,6.1,11,14.3c-0.1,4.3,3.2,7.5,7.7,9.3c6,2.3,11.3,6.1,18.3,6.2c4.2,0,6.7,3.7,7,7.9
			c0.3,5.4-4.5,5.1-8.2,6.4c2.1,1.7,5,2.2,7.6,1.3c2-0.6,4.1-0.5,6,0.1c2.3,0.9,4.9,1.6,5.3,4.5c0.5,3.7-3.3,2.8-5.5,4.8
			c7.4,5.6,7.9,15.8,14.3,21.7c1.2-0.3,1.5-0.6,1.7-1c1.2-3.2,0.6-8.6,6.9-6.2c5.5,2.1,10,9.4,8.2,13.2c-0.4,1.1-1.3,1.9-2.4,2.2
			c-6.1,1-4.7,4.6-3.1,8.4c3,7.2,7.6,13.7,10.4,21.1c1.1,2.8,3.6,4.8,6.5,5.5c10.8,2.8,16.6,10.6,20.5,20.3c1.4,3.3,1.1,6.7-2.5,8
			c-6.6,2.2-5.8,5.5-2.2,9.7c0.7,0.8,1,2,2.3,2.4c1.7-0.1,1.7-1.8,2.4-2.8c2.9-3.9,4.9-3.9,7.8,0c5.2,7.1,5,10-1.7,14.9
			c-2.5,1.8-3.1,3.5-1.8,6.2c1.1,2.4,1.4,5.2,3.1,7.4c1,1.3,2,2.9,1.3,4.4c-3,6.2,0.3,11.4,2.3,16.7c1.3,3.5,2.4,6.8,0.2,10.3
			c-0.8,1.4-0.8,3.1-0.1,4.6c1.5,3.8,0.2,7-2.2,10c-1.7,2.1-3.2,4.4-3.2,7.2c0,1.1-0.7,2.7,1.7,2.6c5.5-0.1,4.8,3.7,3.6,6.9
			c-1.5,4-3.2,7.9-4.9,11.8c-3.6,8.3-2.7,12,4.1,18.2c3.8,3.5,6.6,16.9,4,21.3c-2.2,3.7-3.1,7.3-2.2,11.5c0.3,1.3,0.2,2.7-0.3,4
			c-2.5,5.3-4.3,10.9-5.2,16.6c-0.3,1.9-1.5,3.3-3.7,3.1c-1.7-0.1-2.9-1.5-2.9-3.1c0,0,0-0.1,0-0.1c1.1-8.7-6-17.4,0.1-26.1
			c1.5-2.2,0.4-4.7-0.8-6.9c-1.6,0.7-1.5,1.9-1.6,2.9c-0.2,11.9-2.7,23.9-0.8,35.5c1.5,9.3-1.3,18.7,1.1,27.2
			c4.5,15.7-5.4,23.8-14,33.1c-1,1.1-2.7,1.7-2.9,4c6.7-1.2,12.1-4.5,17.3-8.3c2.5-1.8,5.1-4.4,8.5-2.5c3.5,2,3.3,5.9,2.5,9.1
			c-1.8,6.9-0.1,13.9-0.8,20.8c-0.4,4.3-2.1,5.4-5.7,5.6c-2.5,0-4.9,0.6-7.2,1.6c-1.6,0.9-3.3,2-2.9,4.1c0.4,2.3,2.5,2.2,4.3,2.2
			c1.3-0.2,2.7-0.2,4-0.2c3.8,0.5,6,2.7,4.6,6.5c-2.6,7.1-1.9,14.1-0.4,21.2c0.9,3.5,0.6,7.2-0.8,10.6c-1,2.2-2.7,4-5.2,3.5
			s-2.3-3.1-2.2-5.1c0-2.9,1.2-5.7,1-8.7c-0.1-1.8-0.3-3.9-2.3-4.4c-2.2-0.6-3.3,1.3-3.8,3c-1.7,5.5-5.5,7.7-11,9.5
			c-4.9,1.6-11.3,3.1-11.6,11.5c-0.2,4.6-5.9,7.7-9.8,10.6c-6.6,4.8-11.8,10.2-13.3,18.6c-1,5.2-4.3,7.7-9.7,8.8
			c-7.9,1.5-14.9,4.1-16.7,13.9c-1.2,6.4-9.1,10-16.5,7.4c-5.8-2-8.6,0.4-13,3.3c-8.3,5.6-17.4,10.1-26.9,13.4
			c-2.9,1-4.4,1.8-3.9,5.5c0.5,4.2-4.2,7.1-10.2,7.1c-7.6,0-8.8,1.1-9.5,8.9c-0.9,10.2-0.9,10.2-10.7,12c-5.3,0.8-10.6,2.1-15.7,3.9
			c-4.3,1.6-8,1.3-11.4-2.7c-4.2-5-10.5-6.3-16.6-5.8c-9.9,0.7-19.6,2.7-28.9,6.1c-10.8,4-22.1,5.2-33.5,5.1c-2.7-0.2-5.4,0.1-8,0.8
			c-3.2,1.1-6.7,1.1-9.9,0c-3-1-6.2-1.1-9.3-0.4c-1.5,0.3-3.2,0.7-4.7,0.2c-15.6-5.9-32.2-3.5-48.3-6c2.8,9,5.4,10.8,14.1,9.7
			c1.8-0.2,3.5-0.9,5.3-1c1.4-0.3,2.8,0.5,3.2,1.8c0.5,1.3-0.5,2.2-1.5,2.7c-4.5,2-9,4.4-14.1,3.8c-3.3-0.4-6.6-1.2-10-1.1
			c-2.1,0.1-4.2-0.5-4.9-2.8c-0.9-3-2.5-5.8-4.6-8.1c-1.3-1.5-1-3.5,0.1-5c2-2.7,1-4-1.9-4.6s-5.2-0.3-5.3,3.2
			c-0.1,3.3,1.1,7.3-4,7.8c-4.6,0.4-9.2,1.5-12.5-3.9s-9.1-6.5-14.9-5.2s-10.6-0.1-15-3.8c-3-2.6-6.4-4.8-10.1-6.6
			c-4-1.8-7.4-4.4-7.6-9.4c0.1-1.4-0.5-2.7-1.6-3.5c-10.1-6-18.6-14.9-31.2-16.1c-3.2-0.3-5.2,0.3-6.1,3.5c-1.1,4.1-3.5,7.1-8.1,6.3
			s-7.7-3.7-8.2-8.6c-0.3-2.6-0.6-4.5-3.9-3.6c-4.8,1.3-6.6-1.8-5.9-5.5c1.3-7-2.4-10.9-7.7-13.3c-8.3-3.8-15.1-9.7-22.6-14.5
			c-10-6.3-20-2.5-29.9-0.1c-2.2,0.6-2.6,2.5-0.2,3.8c5.2,2.8,9.3,10,16.8,3.4c2.5-2.2,5,0.2,5.7,3.3c0.2,1.1,0.1,2.3-0.2,3.3
			c-2,10.5-2,10.6,8.5,14.7c2.4,0.7,4.1,2.9,4.2,5.4c0.8,6-1.1,8.2-7.2,8.6c-8.3,0.5-15.1-1.7-19.1-9.7c-0.6-1.2-1.5-2.6-2.8-2.8
			c-8-1.2-10.8-8.2-15.2-13.3c-3.9-4.4-5.1-9.2-3.6-15.5c1.9-8.2-5-13.8-8.7-20.3c-7-12.4-19.2-19.7-28.5-29.8
			c-3.2-3.5-7-6.5-6.2-12c5.6-1.4,5.6-1.4,6.9-9.8c-2.9,2.5-3.7,6.5-6.5,9.2c-4.3-0.1-8.2-3.4-12.9-1.3c-1.1,0.5-2.8-0.8-3.2-2
			c-2.2-7.2-7.3-14.3-1.8-22.1c0.8-1.1,1.3-2.4,1.5-3.7c0.1-1.1,0.1-2.3-1.1-2.9c-0.9-0.3-1.8-0.1-2.4,0.6c-4.4,3.9-10,6.8-8.8,14.5
			C160.4,747.8,157.5,747.3,154.8,745.4z"/>
		<path class="st6" d="M188.5,760.2c0.6,4.4,2.5,8.2,6.1,10.8c7.2,5,10.7,14.6,20.3,16.8c0.4,0.1,0.8,0.4,1,0.8
			c3.9,10.9,13.4,18.3,17.5,29c0.8,2,1.5,4,0.1,5.8c-3.5,4.5-1.3,8.2,1.1,12.2c2.6,4.3,7.1,7,9,11.7c0.7,1.8,2.4,1.9,4,1.8
			c4-0.2,5.8,1.9,7.3,5.6c2.8,6.9,14.7,11,20.9,7.6c2.6-1.4,1.5-3.9,1.7-6c0.1-1.8,0.3-3.8-2.2-4.3c-1.3-0.3-2.7-0.3-4-0.7
			c-8.4-2.3-10.4-6.4-7.2-14.5c0.9-2.4,2.2-4.9-0.1-6.8c-2.6-2.1-4,1-5.4,2.3c-2,1.9-4.9,3-6.7,1.6c-3.9-3.1-8.2-5.7-12-8.8
			c-3.6-2.9,1.1-4.5,3.2-5.2c13.4-4,26.9-6.5,38.3,4.5c5.9,5.7,13.7,8,20,12.8c3.6,2.7,5.8,4.7,4.7,9.7c-0.6,2.8-3.3,10.5,5.6,5.5
			c3.2-1.8,5.3,0.6,4.2,4.1c-1.8,5.9,2.5,8.1,6.3,9.2c4.2,1.2,6.1-1.9,6.5-6.2c0.4-3.9,2.9-5.8,7.2-4.2s8.7,3.4,13.6,3.4
			c2,0,3.5,1.5,5,3.1c3.5,3.8,7.4,7.1,12.4,8.8c2.5,0.9,5.1,2.4,4.4,5.1c-1.7,6,2.6,7.6,6.4,9.2c3.3,1.3,6.4,3.2,9,5.6
			c4.5,4.4,9.3,6.3,15.7,4.4c6.3-1.8,13.1,1.8,16.6,7.3c2.8,4.3,7.4,2.1,11,1.8s1.3-3.3,1.1-5.3c-0.3-2.8-0.6-5.8,3.1-6.3
			c3.8-0.6,7.7,0.7,10.4,3.6c0.1,0.2,0.2,0.4,0.2,0.6c-7.9,4.7,0.1,8,0.6,12.1c0.7,5.5,3.6,4.4,7.2,5.1c6.5,1.2,12.6,1.1,18.7-1.5
			c1.2-0.5,2.7-0.5,3.6-3.2c-11.8,3.8-22.2,4.4-25.1-11.6c7.6,2.4,15.5-0.5,23.1,1.9c4.2,1.3,8.4,0.9,12.7,1
			c4.7,0.1,9.4-0.6,13.4,2.9c1.6,1.4,3.7,1.4,5.8,0.7c0.8-0.3,1.9-0.9,2.5-0.7c9.8,3.3,19.8,0.5,29.5,0.2c10-0.2,19.8-1.8,29.3-5
			c13.7-4.7,27.8-10.1,42.8-3.8c1.7,0.7,3.8,1.1,4.4,2.8c2.2,5.8,6.1,4.7,10.3,3c5.6-2.3,11.5-3.6,17.6-4c5.6-0.5,7.5-2.9,7-8.2
			c-0.2-2.7,0.1-5.4,1-7.9c1.5-4.7,2.7-8.2,8.7-4.6c2.6,1.5,5.7-0.5,8.3-1.6c2.2-0.9,3.8-2.5,1.3-5.1c-3.1-3.2-1-4.2,2.3-5.2
			c11.9-3.9,23.6-8.2,32.8-17.2c1.6-1.5,3.7-3.5,5.9-2.2c4,2.3,8,1.6,12.3,1.6c5.4,0.1,6.8-2.8,7.9-6.4c2.7-9,8.5-14.1,18-14.9
			c3.4-0.3,6.6-1,6.9-4.9c1.3-14.1,13.1-20,21.8-28.2c2.4-2.3,4.5-3.7,1.9-6.9c-1-1.2-0.9-3.4,0.3-3.3c6.3,0.5,8.7-7.5,15.2-6.6
			c4.6,0.6,5.9-3.1,7-6.7c1-3.2,1.8-7.3,6.3-6.2c4,1,4,5,3.7,8.4c-0.2,2.7-1,5.3-1.2,7.9c-0.1,1.2-0.7,3.1,0.8,3.6
			c1.8,0.6,2.9-0.9,3.5-2.4c1.5-3.8,1.7-8,0.4-11.9c-1.9-6.9-2-13.4,0.7-20.2c2.1-5.2-2.2-5.2-5.1-4.5c-3.9,0.9-7.8,1.6-8.8-2.9
			s3-6.5,7-7.4c3-0.6,6.2-0.8,8.7-1c1.9-7.4-0.1-15,1.3-22.5c0.4-1.5,0.6-3.1,0.7-4.6c0.1-2,0.5-4.3-1.6-5.5s-4,0.4-5.4,1.7
			c-5.2,4.8-11.6,7.6-18.1,10.1c-1.7,0.7-3.8,1.8-4.9,0.1c-1.3-1.9,0.3-4.2,2-5.1c9.2-4.7,11.9-14.7,18.2-21.7
			c0.8-0.9,1.7-2.5,0.6-3.7c-5.2-5.7-2.6-12.4-2.5-18.6c0.1-4.6,0.5-8.7-1.1-13.5c-1.8-5.9-1.4-12.9-0.3-19.1s0.8-12.5,1-18.7
			c0.1-2.9-0.6-6,2.3-8c0.8-0.6,2.1-0.6,2.2,0.3c0.4,3.5,4.5,7.4,2.2,10c-8,8.7,1.5,17.6-1.2,26.1c-0.3,1,0.3,2,1.3,2.3
			c0.1,0,0.3,0.1,0.5,0.1c1.8,0.1,2-1.3,2.2-2.8c0.5-5.4,1.6-10.6,4.8-15.1c0.8-1.4,1-3,0.5-4.5c-2.1-5.1-0.3-9.1,2.8-12.9
			c1.2-1.4,1.5-3.4,0.7-5c-2.3-6-1.8-13-8.8-17.1c-4.2-2.5-3.4-11.1-0.2-18.1c2.3-5,6-9.8,5.3-16.2c-3.1-0.2-2.8,3.3-5.2,3.5
			c-1.8-4.3-2.3-8.8,0.5-12.6c3.1-4.2,7.5-7.6,2.7-13.2c-0.3-0.6-0.3-1.3,0-1.9c6.6-6.5-0.4-11.7-1.5-17.5c-0.2-1.3-1.8-2.8-1.4-3.6
			c4.1-8.4-1.6-14.7-4.6-21.5c-1-2.4,0.5-2.4,1.8-3.2c8.5-5.2,8.4-5.3,4-13.7c-0.7-1.4-1-3.2-3-3.1s-2.3,1.8-2.5,3.4
			c-0.3,2-0.5,4.6-2.8,4.8c-2.5,0.1-3.5-2.3-4.1-4.6c-0.1-0.7-0.4-1.3-0.8-1.8c-7-6-4.4-8.9,3.2-10.5c2.3-0.5,3.9-2.3,2.7-4.4
			c-2.7-4.7-3.3-10.3-8.6-14c-4.1-2.9-7.1-7-12.8-7.4c-2.5-0.4-4.6-2.1-5.5-4.5c-3.9-9.7-10-18.4-13.4-28.3
			c-1.3-3.7,0.8-4.5,3.6-4.5c7.1,0,5-3.9,3.1-7.5c-0.8-1.4-1.9-2.6-3.2-3.5c-1.8-1.2-3.4-3.6-5.7-2.8s-1.3,3.5-1.5,5.4
			c-0.2,1.8-1,4.8-2.1,4.3c-2.7-1.2-6-3.3-6.9-5.8c-2.6-7-5.2-13.8-11.5-18.4c-1-0.7-1.2-2-0.6-3c1.1-1.6,2.8-1.2,4.3-0.7
			c1.1,0.3,2.3,0.9,2.9-0.5c0.7-1.6-0.5-2.6-1.8-3c-2.1-0.7-4.3-2-6.3-1.7c-7.1,0.9-7.1,1.1-13.5-2.2c1.2-1.9,3-2.3,5-2.4
			c2.6-0.1,6.2,0.4,5.9-3.5c-0.2-3.4-2.3-7.5-6-7c-8.8,1.3-14.6-4.9-21.8-7.4c-5.8-2-6.2-8.6-6.6-13.9c-0.2-2,0.1-3.4-1.8-3.9
			c-3.2-0.8-5.4-3-7.8-5c-1.6-1.4-3.8-3.1-5.5,0.1c-1.1,2-2.4,3.3-4.8,1.8c-1.9-1.1-4.3-1.8-3.8-4.8c0.8-4.5-1.8-3.3-4.9-4.2
			c-8-2.3-17.1-2.5-23.2-9.7c-2.8-3.4-7-4.6-11-6.5c-7.4-3.5-15.2-7.5-20.5-14.4c-1.4-1.8-2.3-4.2-5-3.8c-5.7,0.9-9.7-1.7-13.6-5.6
			c-5.3-5.3-12.9-6.9-18.9-11.2c2.9-3.1,6.5-1.6,9.6-2.3c1.5-0.3,3.3-1.2,3.2-3c-0.1-1.4-2-2.1-3.1-2c-4.8,0.4-10.4-2.7-14,3.4
			c-1.2,2-3.4,2.1-5.4,1.3c-3.5-1.4-7.1-2.9-10.5-4.5c-12.1-5.8-24.9-7.5-38-9.7c-10.8-1.8-22.7,2.4-32-4.1
			c-7.3-5.1-13.8-3.8-21.4-3c-15.3,1.5-30.7,2-46.1,1.6c-7.2-0.1-14.1,0.6-20.6,4.3c-4.1,2.3-8.8,0.8-13.3,1s-8,1-9.2,6
			c-0.4,1.7-1.4,3.7-3.6,3.3c-9-1.5-18.2,1.6-27.1-1.8c-2.9-1.1-7.1-2.4-3.6,4c2.3,4.1-1.5,4-4.4,3.6c-2-0.3-4.7-1.1-5.7,0.6
			c-1.6,2.6,1.8,2.9,3,4.2c1,0.8,1.1,2.3,0.3,3.3c-0.1,0.1-0.1,0.2-0.2,0.2c-1.5,1.7-3.4,3.1-5.7,3.1c-1.5,0-2.2-1.4-2.3-2.9
			c-0.3-2.2-0.1-4.5,0.8-6.6c1-2.3-0.4-3.9-2-5.2c-1.4-1.1-3.2-1.4-4.2,0c-4,5.4-9.3,8.2-15.6,10.2c-5,1.6-6.9,5.2,0.9,9.4
			c-4.5,0.3-7.3,0.1-9.5,2.2c-0.8,0.7-2,1.1-3.1,1c-8.8-1.3-21,1.9-27.4,7.3c-1.6,1.4-3,2.7-5.2,2.6s-4.3,0.4-4.5,3s2.3,3,4.1,3.6
			s5.1-0.4,4.7,3.1c-0.4,3.4-3.3,2.2-5.4,2.4c-5.1,0.4-7.8,3.1-7.9,8.2s-2.7,7.5-7.8,8.1c-7.9,1-12.6,6.4-15,13.5
			c-1,3-2.2,6.1-5.3,6.2c-7.5,0.1-10.6,5.3-11.8,10.9c-2,9.2-8.6,14.1-15.6,18c-3.4,1.9-8.7,1.2-13.2,2.3c-6.5,1.7-9.5,5.9-7.4,12.3
			c0.7,2.1,2,3.8,1,6.3c-1.2,3-1.5,5.2-5.1,1.8c-3.2-2.9-8.3-1.8-12-5c-1.4-1.3-3.3,2.2-3.2,4c0.1,4.2,0.7,8.4,1.7,12.5
			c0.9,3.5,3,3.8,4.8,0.4s4.1-2.2,6.1-0.6c2.2,1.7,6,3.7,4,6.8c-4.6,6.9-0.6,8.5,5,9.8c0.4,0.1,0.8,0.4,1.1,0.7
			c0.3,0.5,0.6,1.1,0.8,1.6c-4.6,1.1-6.4,4.3-7.9,8.6c-2.1,6.2-5.6,6.4-9.6,1c-0.7-0.9-1.4-1.9-2.7-1.5c-1.3,0.4-2.3,1.6-2.2,3
			c-0.1,2.9,0,5.8-0.2,8.8c-0.1,1-0.5,2.6-1.3,3c-11.9,6.2-8.2,20.6-15.4,29.3c-2.2,2.7-0.4,6.1,0.6,9c1.4,4.1,0.6,7.4-2.5,10.2
			c-1.7,1.5-4,3.7-2.6,5.7c4.6,6.8-1.5,12.3-1.7,18.5c-0.1,2.8-1.8,2.9-4.2,2.4c-9.1-1.8-10.5-0.5-9.2,8.8c0.1,1.1,0.1,2.2,0,3.3
			c-8.2-1.5-10.3,0.5-7.7,7.9c1.1,3.3,0.3,6-0.1,9.1s-1.2,6.7,4.6,5c5.1-1.5,6.5,4.1,6.4,6.7c-0.1,4.4,1.9,10.9-5.9,12
			c-2.1,0.3-2.6,2.1-2.3,4.2c1.2,8.8,2.2,17.6,1.1,26.5c-0.1,1.6,0.7,3.2,2,4.1c3,2.5,3.5,4.9,1.8,8.8c-2.4,5.5,3.1,8.8,5.4,12.9
			c2.8,5.1,2.9,10,3.5,15.4c0.7,6.1-2.4,12.6,1.3,18.4c0.9,1.3,1.1,3.1,0.4,4.5c-1.8,3.7-0.6,5.5,3.2,7c5.1,2.2,5.3,5.1,0.5,8
			c-2,1.2-2.5,1.8-2.3,4.4c0.5,6.5-3.3,12.7-1.4,19.7c0.7,2.6-2.7,2.1-4.3,0.6c-2.3-2.1-5-4.1-7.5-1.2s-1.3,6.3,1.6,8.8
			c1.5,1.3,3.2,2.4,4.7,3.8c3.9,3.5,2.7,10-2.3,11.6c-3.4,1.1-5,3.4-4.9,6.3s2.7,4.7,5.7,4.5c8.1-0.7,10.8,4.6,12.8,10.8
			c-2.7-2-5.4-4-8-6c-5.3-3.9-10.1-2.9-13.2,2.7s-5.4,5.9-10,1c-5.2-5.6-8.8-12.4-11.6-19.4c-1.7-4.3-3.4-8.2-6.8-11.3
			c-7.1-6.6-11.7-15.4-13.2-25c-1.8-13.6-12.2-23.2-13.6-36.6c-1.3-12-2-24.3-6.8-35.7c-0.7-1.7,0.4-3,1.3-4.3
			c1.4-1.6,1.4-4,0.1-5.6c-4.3-5.2-2.1-7.7,3.4-9.6c4.1-1.4,4.1-5.3,4.3-9c0.2-6.9,3.3-9.1,9.4-5.8c3.4,1.8,5.3,1.4,7.5-1.2
			c3.3-3.8,8.7-5.7,10.4-11.2c0.4-1.5,1.9-2.5,3.5-2.4c4.5-0.2,5.3-3.4,4.5-6.6c-1.7-6.5,0-12.8,0.5-19.2c0.3-3.5-3.1-7.1,0.4-10.7
			c0.8-0.8-1.3-2-2.3-2.8c-4.5-3.9-5.5-9.1-5.1-14.6c0.2-3.6,1.9-5.1,5.2-2.2c4.5,4,6.6,2.1,7.4-3c0.7-4.2,2.1-8.4,2-12.5
			c-0.1-5-0.7-8.9,6.1-10.1c3.4-0.6,4.2-5.3,3.3-8.6c-1.2-4.5,0.8-8.9,0.2-13.3c-0.2-1.3,0.1-3.1,1.7-3.2c2.2-0.2,2.2,1.9,2.2,3.4
			c0,4.3,0.9,8.8-0.3,12.7c-2.4,8.1-0.3,14.6,4.8,21.1c2.4-18.2,10.9-34.8,10.9-53.4c0-5.1,1.5-11.5,5.6-16.2
			c0.9-1.1,1.9-3.1,1.5-4.2c-1.8-4.8,0.2-6.6,4.5-8.4c5.9-2.5,10.2-16.8,7.1-23.8c-2.3-5.2-0.9-9,2.6-12.7
			c5.1-5.4,9.4-11.4,12.9-17.9c1.6-3,2.6-4.1,5.9-3c3.6,1.1,5.1-0.7,7.3-4.2c6.6-10,11.5-21,18-30.9c2.8-3.9,6.8-6.7,11.3-8.2
			c7-2.2,10.3-7.3,14.3-12.3c0.4-0.5,0.5-1.7,0.8-1.8c8.2-1.2,11.9-9.1,18.7-12.3c2.3-1.1,4.7-1.6,5.1-4.6c0.7-5,4.3-7.1,8.5-8.5
			c2.3-0.8,4.4-2.1,6.1-3.9c3.2-3.2,6.5-5.4,11.7-5c5.8,0.4,11.4-3.6,14.6-7.4c7.6-9.1,18.6-10.1,28.2-14.3c6.4-2.8,14-4.6,19.3-7.6
			c6.1-3.4,13.6-4.4,18.9-9.6c2.5-2.5,6.3-3.1,9.7-4.3c6.2-2.1,13.5-1.7,18.4-7.4c1-1,2.5-1.2,3.7-0.5c10.2,5.7,20.2,4.3,30.2-1
			c4.6-2.5,9.5-2.2,14.3-0.6c2.1,0.7,4.4,2.6,6.4,1.5c7.3-4,15.5-3.4,23.2-5.3c8.3-2,16.5-2.4,23.4,4.1c2.5,2.4,5,1.3,7.4-0.2
			c1.7-1.1,4.2-3.7,4.7-3.3c7.1,5,14.8-1.9,22,1.4c5.3,2.4,11.1,3.7,16.9,3.6c5.3,0,8.2,5.1,13.6,6.3c6.4,1.5,13.4,1.7,19.5,5.5
			c3.8,2.4,9.2,2.2,11.2,7.4c0.2,0.4,0.6,0.7,1,0.8c14.2,0.8,21.2,16.4,35.7,16.9c2.7,0.1,5.8,1.1,6.3,5c0.3,2,2.4,2.6,4,3.3
			c6.1,2.8,12,6.3,18.4,8.2c8.1,2.4,14.7,6.4,20,12.8c0.4,0.5,0.9,1.3,1.4,1.4c8.4,1,12,8.1,17.3,13.2c2.4,2.3,5.7,3.5,6.4,7.3
			c0.2,0.9,1.3,2.4,2.1,2.4c7.6,0.6,9.6,7.4,13.2,12.2c2.1,3.1,5.2,5.5,8.7,6.8c5.6,2.2,10.5,5.8,14.4,10.4
			c10.8,12.1,21.7,24.2,33.2,35.6c6.8,6.7,10.5,14.7,15.9,21.9c7.2,9.7,10.1,21.9,19.8,30.5c4.3,3.9,5.2,13,5.5,20.1
			c0.1,5.4,1.8,10.6,4.9,15.1c1.7,2.3,3.3,4.6,3.7,7.8c0.3,2,1.4,3.8,3,5c11.1,6.5,10.7,18.2,12.6,28.5c1.3,6.9-0.9,14.3,3.2,20.8
			c1.3,2,0.1,3.9-0.3,5.8c-0.5,2.7-1,5,2.4,6.6c3.2,1.5,3.9,4.7,1.5,7.3c-6.4,7.1-5.6,15.1-3.6,23.3c0.6,2.5,2.2,5.1-2.5,4.7
			c-2.2-0.2-2.3,1.7-1.7,2.6c6.1,10.2-2.2,17-5.8,24.9c-1.3,2.9-1,4.6-0.2,7.8c2,8.2,2.5,16.6,1.6,24.9c-0.1,0.6-0.5,1.5-1,1.6
			c-11.2,3.3-8.4,11.5-7.2,19.5c1,6.4,2.4,13.6,1,19.2c-1.3,5.4-2.4,11.6-6.8,17.2c-5.2,6.8-12.6,12.7-15.4,22.5
			c6.4-2.4,11.5-5.2,15.9-9.4c1.5-1.4,2.7-2.9,4.8-3.7c3.4-1.2,5.2-4.7,7.9,2.6c2.5,6.9,3.3,11.6,0.1,17.7c-0.8,1.9-0.7,4,0.2,5.9
			c6.5,12.7-2.2,20.6-8.7,29.4c-2.9,3.9-7,7.8-2.5,13.5c2.3,2.9,1.2,5.3-2.2,6.9c-1.2,0.6-3.4,1-2.4,3.2c0.7,1.5,2,1.4,3.5,1
			c2.2-0.7,4.6-1.4,5.1,2.1c0.4,2.8-1.1,3.9-3.5,5.6c-5.5,3.8-8.8,10-12.4,15.6c-1.3,2.1,0.4,4.6,2.7,6.2c1.2,0.8,1.5,2.5,0.7,3.7
			c-0.1,0.2-0.3,0.3-0.4,0.5c-1.5,1.4-2.9,0.3-4.1-0.8c-0.8-0.8-1.4-1.7-2-2.7c-1.2-1.9-2.8-3.1-5-1.6c-1.8,1.2-1.8,3-0.8,4.8
			c2.3,4,2.6,6.8-2.8,8.6c-2.9,0.9-2.1,6.2-5.6,7c-7.6,1.8-14.4,6.2-21.7,7.9s-11,5.5-13.1,11.6c-1.3,3.9-3.2,7.3-6.7,8.8
			c-8.3,3.6-14.4,11.5-24.1,12.6c-0.6,0.1-1.5,0.3-1.8,0.8c-5.6,10.6-17.4,11.8-26.3,17.3c-7.8,4.9-15.5,9.9-20.8,17.8
			c-1.4,2-3.3,1.9-5.4,1.3c-4.4-1.2-7,1.2-9.3,4.4c0.8,1.8,1.9,1.2,2.9,1c2-0.4,3.9,0.1,4,2.3c0.1,2.7-2.5,2.2-4,2.1
			c-3.7-0.3-6,1.2-7.3,4.5c-0.5,1.5-1.8,2.7-3.4,3c-4.7,0.7-6.5,4.6-8.6,7.9c-5.5,8.9-5.4,9.1-14.8,4.7c-2.7-1.3-3.8-0.4-4.5,1.9
			c-2,7.5-8.9,11.7-12.3,18.3c-0.9,1.7-2.6,1.7-4.1,1.6c-3.9-0.2-7.5-0.2-9.9,3.8c-1,1.7-2.9,1.5-4.9,1c-1.9-0.5-3.9-0.7-5.9-0.6
			c-2.2,0.2-4.8,1-5.5,3.3c-0.8,2.6,1.9,3.9,3.5,5.2c6.4,5,13.3,5.5,20.8,2.5c9.5-4,19.3-6.6,29.8-4.4c4.5,0.9,8.9-1,13.2-1.7
			c18.2-3.2,35-10.7,51.7-18c18.4-8.1,36.1-17.8,52.9-28.8c15.5-10.2,31.4-19.9,45.3-32.1c22.6-19.9,45.9-39.1,64.7-63
			c4.6-5.9,9-12.3,15.4-16.7c1.8,2.5-0.3,4.1-1.6,5.8c-3,4.1-6.6,7.8-9.6,11.9c-3.4,3.6-6.1,7.8-9.6,11.3c-3.8,4-8.4,7.3-11,12.3
			c-11.1,13.6-24.6,24.7-37.8,36.1c-32.2,27.6-68.2,49.3-106.3,67.7c-12.9,6.2-26.5,10.7-39.6,16.4c-2.3,1-4.9,0.6-7.3,0.9
			c-15.2,4.5-30.2,9.2-45.8,12.1c-2.9,0.5-5.3,2.3-8,3.2c-1.5,0.5-3,0.7-4.5,0.7c-21.1,3.8-42.4,6.9-63.8,7.6
			c-24.3,0.8-48.8,1.8-73.1-1.7c-16.8-2.5-33.8-3.8-50.3-7.4c-15.2-3.3-30.8-5.8-45.2-12c-2.1-2.3-1.5-4.8-0.6-7.5
			c2-5.7,0.5-7.6-5.5-7.7c-5.7,0-9.4-4.2-12.9-7.6c-2.9-2.8-5-3.7-8.7-2.2c-2.3,0.9-4.9,0.5-7.4,0.4c-4.1-0.2-8.2-1.4-11.1,3.7
			c-1.5,2.8-5.3,1.4-8.1,0.5c-9.4-3.1-18.8-6.8-27-11.9c-9.9-6-22.4-7.5-30.2-17c-0.9-1-2-1.8-2.4-3.2c1.9-2.1,2.9-4.1,0-6.3
			c-1.6-1.3-3.4-2.8-3.7-5.2c0.3-0.6,0.6-1.2,0.9-1.8c2.8-5.5,3.4-9.7-4.9-10.2c-3.9-0.3-5.8-3.2-5.4-7.2s-1-6.1-5.4-6.8
			c-3.5-0.6-6.8-2.6-6.8-7.1c0-2.5-1.5-3.7-3.6-4.2c-12.7-3.2-18.9-13.9-26.5-23c-6.8-8.2-11.6-18.6-19.6-25.2
			c-6.5-5.3-5.7-9.7-4.4-15.8c1.5-7.1-0.5-14-3.6-20c-5.3-10.2-9.9-21-17.9-29.6c1.8,0,5,2,3.4-2.7c-1.8-5.3,0.9-8.9,5.1-11.7
			c0.9-0.6,2.1-1,2.7-1.9c1.7-2.5,3.6-5.6,6.7-3c2.7,2.2,2.1,6.9,0.2,8.6c-8.1,7.3,0,14.1,0,21c0,1,1.6,2.9,2.9,1.9
			C181.1,753.9,184.6,758,188.5,760.2z"/>
		<path class="st10" d="M949,676.6l-6.8,17.5c-6,5.5-8.3,13-11.6,20.1s-9.2,12.1-14.5,17.5c-1.7,1.7-4.4,3.2-3.2,6.1
			c2,4.9-0.7,9-4.1,10.1c-10.2,3.3-11.7,13.2-17.1,20.1c-2.1,2.7-3.4,9-7.4,1.4c-0.4-0.6-1-0.9-1.7-1c-6.8-0.8-5.9-4.5-2.9-8.3
			c3.4-4.3,2.5-6.6-2.5-8c-4.1-1.2-6.8-4.1-4.4-7.9c4.7-7.3,2-14.7,1-22c-0.5-3.4-0.8-6.3,2.1-8.5s3-5.3,2.8-8.5
			c-0.3-3.7-1.4-7.3,1-11c1.2-1.7,0.3-4.3-1.2-5.6c-3.2-2.5-6-5-7.4-9.1c-0.9-2.7-4.2-1.5-6.6-1.4c-4,0.2-6.9-1.1-5.2-5.9
			c2.6-7-4.8-11.5-4.2-18.2c0.2-2.2-3.1-1.7-5.5-0.5c-5.7,2.9-7.4,9.5-13.5,12.9c2.5-8.5,8-14.9,11.4-22.3
			c4.3-9.3,9.4-17.7,7.6-28.9c-0.8-5.2-0.6-11.8,4.8-16.6s4.7-13.2,8.8-19.1c1.4-2-4.1-3.7-2.6-7.5c3.2-8.5,7-17,8.4-25.8
			s3.3-18.2-0.4-27.2c-0.9-2.3-2.4-4.4-2.1-7c-0.3-4,1.7-7.7,2.4-11.6c1.3-7.7-1.8-14.6-1.8-21.9c-0.1-2.3-1-4.4-2.6-6.1
			c-5.4-6.7-7.4-14.8-9.2-22.9c-1.8-7.8-5-15.2-3.8-23.7c0.5-3.7-2.2-7.4-5.2-9.8c-4-3.1-6-7.1-6.9-11.9c-0.8-3.9-2.4-7.1-6.8-8.2
			c-4.9-1.2-6.9-4.9-6.8-9.6c0.2-6.7-1.7-11.9-8.4-14.5c-1.5-0.6-2.7-1.7-3.5-3.1c-3.9-6.8-9.2-12.8-15.5-17.5
			c-1.6-1.3-2.7-3-3.4-4.9c-2.8-6.6-7.8-11.5-13.4-15.5c-5.3-3.8-9.8-7.8-10.3-14.9c-0.3-3.3-2.2-5.7-5-7.7
			c-5.8-4.2-11.5-8.5-15.4-14.8c-0.9-1.3-2.3-2.2-3.8-2.6c-1.5-0.6-3.4-1-4.1-2.2c-4.2-7.7-11.8-12.4-16.7-19.5
			c-1.9-3-4.4-5.6-7.3-7.7c-5.6-3.8-11.1-7.7-14-14.1c-1.4-3.2-4.3-5.4-7.8-5.9c-10.5-1.9-18.4-8-25.3-15.6c-4-4.3-8.4-7.3-14.5-7.5
			c-2.9-0.1-6.2-0.8-8.1-3c-5.7-6.3-12.8-11.2-20.8-14.2c-8.5-3.3-15.2-10.1-24.7-11.3c-4.7-0.6-8.8-3.4-13.2-5.1
			c-3.8-1.5-7.6-2.8-11.8-1.9c-1.1,0.2-2.5,0.6-3.3,0c-7.1-5.8-16.3-6.5-24.1-10.5c-1.3-0.7-2.3-2.4-4-1.1c-5.5,4.1-11,1.8-15.8-0.7
			c-9.5-5-19.5-4.2-29.5-3.8c-7,0.3-13.9,1.4-20.6-1.2c-4.5-3.7-10.5-5.1-14.5-9.5c-1.6-1.7-3.6-1.4-5.7-0.9
			c-7.1,2-14.2,1.5-21.4,0.7s-13.9,1.9-19.7,4.9c-10.2,5.4-20.2,10-32,10.8c-13.3,0.9-26.4,3.4-37.6,11.5c-3.2,2.3-6.9,1.9-10.4,0.8
			c-4.2-1.4-8.6-1.2-11.5,1.7c-5.8,6.1-13.2,9.1-20.6,12.2c-4.4,1.8-8.1,5-10.5,9.1c-2.1,3.5-5.3,6.2-9.2,7.6
			c-10.2,3.9-20.9,6.9-30.4,12.4c-3.1,1.8-6.7,3-9.8-0.5c-1.3-1.4-2.8-0.9-4.2,0.2c-4.4,3.4-9.6,5.9-11.7,11.7
			c-0.6,1.8-2.2,2.8-3.8,3.6c-14.1,7.3-24.3,18.7-33.4,31.4c-4.3,6-9.1,11.6-15.8,15.3c-2,1-3.8,2.3-5.3,4
			c-7,9.1-13.6,18.6-19.5,28.4c-5.1,8.4-7.3,10-17.2,7.6c-4.3-1-6.2,0.6-6.9,4.8c-1.6,9-1.6,9-10.3,9.6c-4.4,0.3-6.8,2-5.2,6.9
			s-1.7,7.7-5,10c-2.9,2-5.8,1-7-2.5c-1.2-3.2-3.4-4.9-6.4-6.4c-4.9-2.4-5.2-6-0.8-9.2c2.9-2.2,6-4,8.8-6.2c1.9-1.5,4-3,4.4-5.8
			c-1.8,0.1-1.8,1.7-2.6,2.6c-1.3,1.4-2.5,2.8-4.6,1.8c-1.8-0.9-2.5-2.5-2.6-4.4c-0.2-2.5,0.5-4.9,0.9-7.3c0.6-3.5,2.2-7.2,1.1-10.6
			c-2.6-7.1-3.4-14.8-2.5-22.3c0.4-2.9-1.7-4.2-4.3-5.1c-6.6-2.5-7-5-1.6-8.9c4.3-3,5.8-6.2,5.2-11.8c-0.7-6.8,3.2-13,8.4-17.5
			c3-2.6,4.2-5.3,4.7-9.1c1-7.1,2.6-14.2,11.2-16.4c2.1,3.4,0,5.9-1.9,8.4c-4.3,5.6-4.5,8.2,0,13.7c3.1,3.8,3.4,7.2,1.4,11.7
			c-3,6.8-7.5,12.8-9.7,19.9c-0.1,0.7-0.5,1.3-1.1,1.7c-11.6,5.1-4.3,15.7-6.7,23.5c-0.7,2.2,1,5.6,3.5,6.8c3,1.4,4-2,5.7-3.6
			s3.4-4.1,6.2-2.4c2.8,1.7,2.5,4.5,1.8,7.2c-1.8,6.7-3.3,13.5-4.3,20.4c-0.3,2.2-1.1,5.2,2.5,6c3.8,0.8,4.4-1.9,5.2-4.6
			c1.8-6.4,7.8-9.1,12.4-12.8c2-1.6,3.7,0.3,4.1,2.7c0.2,1.6-0.8,4,2.1,4c1.9,0.1,3.6-1.2,4.1-3c1.1-7.5,9.7-11.4,9.2-19.6
			c0.1-1.2,0.6-2.2,1.5-3c7.4-6.9,11.7-17.1,22.3-20.7c3-1.2,5.5-3.2,7.3-5.9c13.6-18.7,32.4-32,49.2-47.5
			c4.5-4.1,10.2-6.6,16.8-5.1c1.5,0.4,3.3,0.5,4.6-0.5c6.3-4.9,14.4-4.3,21.3-7.4c5-2.2,9.5-4.4,13.1-8.9
			c5.4-6.6,13.1-10.5,19.8-15.6c9.7-7.4,23-9.5,29.9-20.9c2.2-3.6,6-5.1,9.7-1.4s7.6,3.4,11.8,1.6c3.1-1.4,6.6-1.5,9.8-0.2
			c6.8,2.5,12.2-1.6,17.7-4.2c2.8-1.3,1.6-3.7,0.4-5.8c-0.9-1.7-1.2-3.5,0.6-4.8c1.3-1,3.2-0.8,4.4,0.4c6.2,7.1,13.3,2.9,20,1.5
			c11.4-2.3,22.5-6.5,34.4-3.7c1.8,0.5,3.6,0.4,5.3-0.2c8.7-3.5,17.8-0.9,26.7-2c1.1-0.3,2.3-0.1,3.3,0.4c7.8,5.7,17.5,4,26.1,5.9
			c6.7,1.5,13.9,3.2,21.1,2.1c6.4-1,12.4-0.4,17.9,3.7c5.3,3.9,12.2,1.9,18.2,3.9c11.9,3.9,23.5,8.1,35.1,13.1s22.2,10.2,32.5,17.5
			c5.8,4.1,12.8,8.6,19.8,10.6c6.9,1.9,12.7,5.2,18.9,8.1c8.3,3.9,15.7,8.7,21.7,15.6c2,2.5,5.2,3.7,8.3,3.3c6.5-0.4,8,1,7.1,7
			c-0.6,4.2,1.5,5.4,4.7,5.6c5.4,0.2,8.6,3.2,10.8,7.7c1,2.3,2.7,4.2,4.8,5.5c11.7,6.6,19.4,17.1,26.7,27.9
			c3.2,4.9,7.2,9.2,11.9,12.7c6.5,4.8,10.1,11.7,12.3,19.3c0.5,1.7,0.7,3.5,2.1,4.8c7.8,7.3,15.5,14.9,24.4,20.9
			c1.3,0.9,3,1.5,3.8,2.8c5.1,9.2,15.4,11.9,22.9,18.1c2.6,2.2,4.4,4,4.2,7.7c-0.4,7.9,1.5,14.6,9.8,18c2.9,1.2,3.9,4.1,4.5,7.1
			c1.3,5.9,4,11.5,7.9,16.2c1.8,2.2,2.6,4.1,0.8,6.6c-0.3,0.3-0.5,0.7-0.8,1.1c-1.7,3.9-2.7,8.9,1.2,10.9c2.8,1.4,7.3-1.1,9-5.2
			c0.8-1.9,1.7-4,4.2-3.6c2.2,0.3,3.1,2.4,4,4.3c1.5,3.5,2.2,7.4,2,11.2c0,7,1.2,13.9,3.7,20.4c2.4,6.7,4.2,13.9-3.1,19.6
			c-2.2,1.7-0.3,3.5,1.2,4.2c4.6,2.1,5,5.9,4.9,10.1c-0.3,9-0.2,18,4.2,26.3c0.6,1,0.8,2.1,0.6,3.3c-5,14.9-0.6,30.7-5.1,45.7
			c-2,6.8-6.4,12.3-8.4,19c-1.1,3.5-6.1,2.6-8,5.7c-0.4,0.5-0.9,1-1.4,1.4c-5.4,2.6-8.1,6.8-7.5,13c0.5,4.8-3.7,8.4-4.2,13.5
			c1.3-2.6,3.2-4.7,5.6-6.3c2-1.4,4.3-2.9,6.8-1c2.1,1.7,2.6,4.1,2.2,6.7s-1.9,5-3,7.5c-5,11.1-7.5,23.1-7.2,35.2
			c0.1,4.5,1.6,6.9,6.5,5.7c1.3-0.2,2.7-0.4,4-0.3c9.6-0.2,11.7,2.1,10,11.5c-0.3,1.5-0.9,3.2-0.3,4.6c2.1,5.6,0.3,10.6-2.4,15.4
			c-0.4,0.8-0.8,1.6-1,2.5c-0.6,2.1-1.9,4.8,1,5.8c2.7,1,4.2-1.6,4.8-3.7c3-11.7,12.3-20.1,16.4-31.2c0.5-1.3,1.4-2.6,2.9-2.2
			c2.1,0.5,2.5,2.5,2.5,4.3c0.6,10.1,0.7,20.2-3.8,29.7c-0.8,1.6-2.8,3.7-0.7,5.3c1.8,1.3,3.8-0.5,5.4-1.7c3.3-2.6,7.1-4.7,8.5-9.2
			c0.8-3.2,4-5.3,7.3-4.7c4,0.5,6.2-1.5,7.8-5c1.5-3.3,2.7-6.7,3.9-10c1-2.5,1.4-5.9,5.4-5.6C950,673.9,949.8,675.5,949,676.6z"/>
		<path class="st8" d="M487.8,164.2c7,1.8,14.1,0.9,21.2,0.6c9-0.4,18.4-1.6,27.2,3.2c5.5,3,11.7,7.4,17.6-0.1
			c1.2-1.6,3.2-0.4,3.6,1.3c1,4.6,4.2,4.6,7.7,4.5c1.3-0.1,3.1-0.3,3.9,0.4c10.7,9.4,25.4,6.4,37.4,12.4c6.7,3.4,13.6,7,20.5,9.6
			c10.8,4,20.1,9.3,28.1,17.3c2.5,2.5,5.9,3.3,9.3,3.2c5.9-0.1,10,3,13.7,7.1c6.8,7.5,14.3,14.1,24.9,15.8c3.8,0.6,7.2,2,8.6,5.6
			c3,7.6,9.2,11.8,15.8,15.8c2,1,3.6,2.7,4.7,4.7c2.1,4.5,4,9.1,9.8,10.1c1.7,0.3,2.6,1.9,3,3.4c1.5,6,4.8,10,11.4,10.7
			c0.9,0.2,1.6,0.8,2,1.6c3.3,7.2,9.3,11.8,15.8,15.7c3.2,1.9,5,5.4,4.9,9.1c-0.1,4.1,2,8,5.5,10.1c5,3.3,9.5,7.3,13.4,11.9
			c2,2.2,2.9,5,4.5,7c7.3,9.1,14.7,18.2,23.4,25.8c4.2,3.7,7.5,6.5,7.3,12.1c-0.2,6.1,0.2,11.3,8.3,11.8c3.7,0.2,4.4,4.3,5,7.2
			c1.2,5.3,2.9,9.6,7.6,13.4c4,3.2,7.3,8.5,5,14.9c-0.7,1.9-0.6,4.1,0.1,6c5.2,12,5.4,25.4,13.3,36.9c4.4,6.4,5.2,15.9,3.8,24.7
			c-0.8,5,0.6,10.2-4,14c-1.4,1.1-2.7,2.4-4.1,3.4s-2.1,3.6-4.3,2c-1.6-1.2-1.3-3.3-0.5-5c1.3-2.9,0.8-5.7-0.3-8.5
			c-1.1-2.7-1.2-5.6-0.5-8.4c1.7-7.6-2.3-14.8-3.5-22.2c-0.6-3.6-2.6-6.9-1.9-11.2c0.6-3.7-1.4-7.3-4.9-8.7
			c-6.9-3.1-9.9-8.7-9.6-16.2c0.6-14.4-3.6-26.8-13.2-38.2c-4.4-5.2-6.8-12.1-12.8-16.3c-0.7-0.5-1.2-1.4-1.2-2.3
			c3-13.3-9.8-15.2-15.9-21.9c-1.5-1.6-3.7-2.7-4.4-4.9c-3.9-12.7-14.4-20.4-21.9-30.4c-6.8-9.2-15.4-16-23-24.1
			c-5.5-5.8-12.8-9.6-17.7-16.1c-2-2.7-5.4-4-8.7-3.5c-4.4,0.5-7.3-3.5-8-8.2c-1.7-11.8-11.8-22.7-23.1-24.9
			c-2.7-0.4-5.2-1.7-6.9-3.8c-4.2-5.5-11.4-8.1-14.5-14.8c-0.5-1.1-1.6-1.7-2.8-1.6c-10,0.5-16-5.7-22.9-11.9
			c-4.5-4.1-12-6.5-18.3-7.5c-9.3-1.5-16.2-7.4-24.6-10.2c-10.8-3.7-21.5-7.7-33-8.1c-6.4-0.2-11.5-4.5-18-4.8
			c-10.3-0.5-20.6-2.2-30.9-3.4c-1.5-0.2-3.4-0.4-4.4-1.3c-7-6.2-15-3.2-22.9-3.3c-8.7-0.1-17.3-0.2-25.9,0.5
			c-4.4,0.4-8.9,0-13.3,1.3c-4.9,1.4-10,2-15.2,0.3c-2.4-0.8-5.3-0.3-8,0.4c-12,3.5-24.3,5.3-36.4,7.8c-11.1,2.3-22.1,4.8-33.3,6.6
			c-3.9,0.6-6.8,4.3-9.8,6.8c-10.2,8.2-22.6,10.6-34.4,14.4c-7.3,2.3-14.7,4.2-19.6,10.8c-1.5,2-3.9,2.3-6,2.7
			c-11.6,2.2-21.1,7-26.7,18.1c-1.6,3.1-4.4,5.3-8.1,6.7c-7.5,3-15.2,4.9-20.2,13.1c-2.6,4.3-9.4,6.5-14.8,8.6
			c-4.5,1.8-6.6,4.6-8.1,8.9c-2.6,7.4-6.3,14.2-12.1,19.9c-4.1,4-7.5,3.9-10.6-0.5c-3.8-5.4-5.5-2.2-8.3,1c-8,9.1-11.9,20.7-19,30.2
			c-1.9,2.5-4.3,4.5-6.4,6.7c-4.4,4.6-9.3,9.1-9.4,16.3c-0.2,3.4-1.6,6.6-4,9c-2.8,3-4.7,6.5-4.5,10.2c0.6,9.3-3.1,10.8-11.4,9
			c-3.5-0.8-7.5,1.9-6.3,7.8c1.1,5.3,2.4,10.8,0.6,16.4c-1.1,3.5-2.4,6.3-5.6,8.7c-5.5,4.1-7.1,10.6-7.8,17.2
			c-0.4,4.3-0.8,7-6.5,4.4c-4-1.9-7.1,1.3-8.4,5.1c-1.5,4.1-3.3,8.2-1.6,13c0.7,2.2-0.4,4.5-2.6,5.2c-0.3,0.1-0.6,0.2-0.9,0.2
			c-2.1,0.3-1.4-2.2-1.7-3.7c-0.4-2.1,1.2-5.2-1.6-5.9c-3.1-0.8-4.6,2.3-6.1,4.4c-1.8,2.6-1.2,6.4,0.8,7.2c7.8,3.1,3.9,9,3.7,13.7
			c-0.2,3.9-2.2,7.7-3.3,11.6c-0.8,2.8-2,5.1-5,5.7c-3.3,0.6-3.7-2.6-5.4-4.6c-4.3,3.2-3.2,7.6-3.4,11.7s-5.7,7.7-9.3,5.7
			c-2.7-1.5-3.8-3.8-1.4-6.7c2.6-3.1,2.8-5.9,0.4-9.7c-2-3-3.3-7,0.6-10.3c2.1-1.8,1.5-3.7-0.1-5.9c-2.4-3.5-5.4-2.3-8.4-1.6
			c-2.3,0.5-3.6,1.6-4,4.5c-1.8,11.7-0.7,23.4-0.8,35.1c0,4-0.2,8.1,2,11.8c0.6,1.2,0.9,2.6,0.6,3.9c-2.6,14.4-1.8,29.2-4.1,43.6
			c-0.3,2.1-0.8,5.1-3.3,5.2c-2.1,0.1-2.8-2.8-3.1-4.7c-1.5-12.2-3.9-24.3-3.9-36.5c0-10.7-0.3-21.3-0.4-32c-0.4-30,2-59.9,7.2-89.4
			c3.4-20.2,8.4-40.2,15-59.6c0.6-1.2,1.3-2.3,2.2-3.3l0.7,0.8c0.6,1.3,0.6,2.7,0.2,4c-4.2,10.9-5.8,22.6-8.1,33.9
			c-2.1,10.2-2.9,20.3-6.5,30.5c-2.6,7.4-1.6,16.4-3.1,24.5c-0.5,3-0.4,6.1,0.3,9.1c2.1-2.5,2.1-4.8,2.5-7c0.6-3.3,2-6,5.3-7.3
			c4.4-1.8,6.1-5.1,5.7-9.6c-0.5-6.1,0.7-10.3,8.1-11.2c5-0.6,11.8-11.3,11.4-16.8c-0.2-3.6,0.7-7.2,2.4-10.3
			c1.9-3.6,3.7-7.2,3-11.5c-0.5-3.1,1.2-5.2,4-6.3c3.4-1.3,4.4-3.9,4.9-7.3c1.2-9.1,9.3-13.1,17.5-8.5c3.2,1.8,5.6,4.5,1.7,8
			c-2.3,1.9-3.6,4.7-3.7,7.6c-0.1,3.6-2.7,5.5-4.8,7.8c-1.4,1.5-2.3,3.4-1.4,5.5c0.3,0.6,1,1,1.7,0.8c2-0.5,3.6-1.9,4.5-3.8
			c0.8-1.7,0.1-3.7,1.1-5.2c6.2-9.9,14.7-16.6,26.4-18.6c2-0.3,3.5-0.3,4-2.5c2.3-10.5,11.1-16,18-22.8c3.7-3.7,7.2-7.2,9.6-11.9
			c4.1-8.2,9.1-16,13-24.4c1.1-2.5,3.1-4.5,5.7-5.5c5.7-2.2,10.3-6.3,15.4-9.5c3.1-1.9,5.5-4.7,7-8c3.1-6.9,8.5-10.9,16.2-11.2
			c2.8-0.1,5.6-0.7,7.3-2.9c6.3-8.6,16.1-11.9,24.8-16.9c4.1-2.3,7.3-5,8.8-9.6c1.7-4.9,5.1-8.2,10-10.3c8.9-3.8,17.6-7.9,26.5-11.6
			c7-2.9,12.2-9,20-10.7c3.7-0.8,7.2-2.4,11.1-2.7c5-0.5,9.7-2.5,13.4-5.7c6.9-5.7,14.5-9.6,23.5-10.9c3.8-0.7,7.4-1.9,10.9-3.6
			c7-3.2,14-6.1,21.9-5.6c2.7,0.2,5.3-0.9,7.8-1.9c1.7-0.6,3.5-1.9,5.1-1.5c7,1.9,13.6-0.5,20.3-1.7c3.8-0.6,7.4-1,10.9-2.8
			c4.5-2.2,9.8-2.5,14.5-0.8c11,3.6,21.7,1.9,32.5-0.2C488.7,166.9,487.1,165.4,487.8,164.2z"/>
		<path class="st11" d="M153.4,834.4c-11-9.9-19.1-22.4-28.4-33.8c-14.7-18.1-26-38.4-38.2-58.1c-0.7-1-0.6-2.6-0.8-3.9
			c-2.1-2.8-2.4-6.5-5-9c-2-2.9-3.2-6.2-4.6-9.5c-0.7-3.3-1.1-6.7-2.6-9.8c-4.5-4.5-6.2-10.4-8.1-16.2c-3.7-10.8-7.1-21.7-11.2-32.3
			c-0.9-2.2-1.2-4.6-2.3-6.8l-1.3-8c-0.5-3.1-2.5-7.3,1.4-8.8c4.9-1.9,6.1,3,7.9,6.3c5.3,9.7,9.4,20.1,12.3,30.8l0,0
			c2.2,7.2,5.3,14.2,8.1,21.2c1.9,4.7,3.9,9.5,8.5,12.6c1.8,1.2,2.4,3.2,3.1,5.1c4.3,12.4,12.7,22.6,19.3,33.6
			c10.4,17.3,24.2,32,36.5,47.9c13.5,17.5,28,34.3,43.4,50.2c4.4,4.5,7.9,9.8,12.2,14.4c1.6,1.7,2.8,3.8,1.3,6.1
			c-1.2,1.9-3.8,2.4-5.7,1.2c-0.1-0.1-0.2-0.2-0.3-0.2c-8.7-8-20.1-11.5-29.1-18.5c-5-4-11.8-7.2-14.6-13.8
			C155.1,834.5,154.1,834.5,153.4,834.4z"/>
		<path class="st9" d="M255.9,907.2c11.8,11.9,27.9,16.1,42.1,23.6c5.9,3.1,12.2,5.4,18.4,7.9c2.9,1.2,6.2,2.4,7.1-2.6
			c0.5-2.8,2.4-3.2,5.1-2.7c5.8,0.9,11.9,2.8,17.2-1.9c1.5-1.3,2.7-0.1,3.1,1.2c1.6,6.1,8.3,6.4,11.5,10.7c0.7,1,1.8,0.8,3,0.5
			c1.9-0.5,4.1-4.6,5.8-0.2c1.2,3.2,6.4,6.3,0.8,10.3c-0.9,0.6-0.5,2.9-0.7,4.5c-2,1.9-4.2,1-6.3,0.3c-25.2-8.2-50.1-16.9-74.5-27.3
			c-9.5-4-18.9-8.1-28.5-11.9c-13.7-5.5-25.8-13.4-37.7-21.8c-17.1-12.4-33.2-26-48.2-40.8c-1.6-1.6-2.9-3.3-4.4-5
			c2.2-1.7,3.9,0,5.4,1.2c9.5,7.4,17.1,17.2,28.4,22.4c1.3,0.6,2,2.1,1.4,3.4c0,0,0,0,0,0c4.7,7.7,13.5,9.7,20.5,14
			c6.5,4,14.1,6,21.3,8.9C251.3,900.7,254.3,902.8,255.9,907.2z"/>
		<path class="st8" d="M204.7,878.9c-8.7-5.6-17-12-24.7-18.9c-3.2-2.8-5.4-7.4-10.4-8c-5.9-5.3-12.4-10.2-16.2-17.5
			c2.9-2.6,4.2-0.8,5.4,1.8c1.6,3.5,3.3,7.1,8.3,5.5c1-0.3,1.6-0.1,1.5,1.2c-0.4,7.5,6.4,8.7,10.8,9.7c5,1.2,9.5,3.9,12.9,7.7
			c1,1.2,2.2,2.3,3.4,3.3c2.5,1.8,5.6,4.8,8.2,2c2.4-2.6-1.8-4.3-3.2-6.4c-9-12.8-22.6-21.6-30.4-35.5c-1.5-2.6-4.4-4.4-6.5-6.7
			C146.5,799,132,778.6,117,758.8c-9.9-13.2-19.4-27.2-25-43.2c-1.3-3.8-5-5.7-6.9-8.8c-6-9.7-10.3-20.3-12.6-31.5
			c3.5,3.3,3.3,8.2,5.3,12.1c4.1,8.1,9.4,15.8,13.4,23.5c5.7,10.9,13,20.8,19,31.4c5.4,9.3,11.5,18.2,18.4,26.6
			c7.5,9.4,15.9,18.2,22.7,28.1c7.7,11.1,17.7,20.1,25.8,30.8c8.5,11.2,20.9,19.1,28.2,31.2c5.2,8.7,13.7,13.9,20.1,21.2
			c1.2,1.3,4.2,2.5,2.4,4.7c-1.4,1.8-3.7,0.2-5.6-0.6c-2.7-1.2-5.1-2.9-7.1-5C211.9,876,208.3,875.4,204.7,878.9z"/>
		<path class="st11" d="M158.8,787.2c-2.3,0-3.6-1.6-5-3c-9.4-9.7-17.7-20.1-22.3-33c-1.3-3.8-2-7.7-2-11.7c0-3.2,2.3-5.3,6-4.3
			c3.7,0.9,7.1,2.8,9.8,5.4c10.6,10.3,18.3,22.5,24.3,35.8c1,1.4,0.6,3,0.6,4.5C170.4,790.3,167.8,791.7,158.8,787.2z"/>
		<path class="st8" d="M72.5,675.3c-4.6-10-9.2-20-13.8-30.1c-0.6-1.2-1.2-2.4-1.8-3.6c-0.8-1.7-2-3-4.2-2.5s-1.8,2.3-1.8,3.8
			c0,1.3,0,2.7,0,4c-1.8-7.9-3.9-15.8-5.2-23.8c-0.5-3.2-2-5.9-2.7-8.9c-0.3-1.4-0.8-3.5,0.9-4.2c2.1-0.8,3.7,1.3,3.8,2.8
			c0.5,10.4,9.4,16.4,12.7,24.9C65.2,649.9,72.1,661.6,72.5,675.3z"/>
		<path class="st8" d="M255.9,907.2c-2.9-2.2-5.8-4.4-9.4-5.4c1.3-2.3,3.1-4.1,5.4-5.4c2.1,1.9,4.4,3.8,6.4,5.8c1,1,3,2,2.3,3.7
			C259.8,908.1,257.5,906.9,255.9,907.2z"/>
		<path class="st8" d="M52.3,655c5.9,12.5,10.5,25.6,13.5,39.1c-6-12-9.4-25-13.5-37.8L52.3,655z"/>
		<path class="st8" d="M158.8,787.2c0.6,0.1,1.3,0.2,1.9,0.4c8.1,2.2,8.8,1.7,8.8-6.5c0-1.5,0-3.1,0-4.6c2.7,3.4,1.4,7.3,1.1,10.8
			C170.3,791.1,163.4,791,158.8,787.2z"/>
		<path class="st8" d="M43.2,606.6c-0.3-2.7-0.3-4-0.5-5.3c-0.4-1.1-0.3-2.2,0.1-3.3C46.5,599.7,48.5,601.9,43.2,606.6z"/>
		<path class="st6" d="M83.2,559.2c-1.6,0-2.6-0.8-2.3-2.4c0.2-1.5,0.6-3.3,2.4-3.5c2-0.2,2.5,1.5,2.6,3
			C86,558.1,85.2,559.2,83.2,559.2z"/>
		<path class="st8" d="M56.3,353c0.7-6.2,1.4-12.4,5.4-17.5l0,0C63.4,341.5,60.7,349.9,56.3,353z"/>
		<path class="st6" d="M95.8,535.8c1.1,1.6,2.4,3.2,0.8,5c-0.5,0.3-1.2,0.4-1.7,0.1C93.7,539.2,93.8,537.4,95.8,535.8z"/>
		<path class="st12" d="M607.8,34.8c26.1,4.7,51,13.3,75.3,23.6c22,9.3,43.4,20.2,63.8,32.6c9.8,6,19.5,12.1,28.1,20.3
			c5.3,5.1,12.9,8.4,18.8,13.6c8.8,7.9,18.1,15.1,25.6,24.2c1.2,1.5,2.2,2.8,4.2,2.9s3.7,0.9,3.8,3.1c0.4,5.6,4.4,8.6,7.9,12
			c18.9,18.2,34.6,39.2,50.2,60.2c12.8,17.2,24.4,35.2,34.6,54.1c11.2,20.9,22.2,41.9,29.8,64.3c6.8,20.2,14.3,40.4,18.6,61.1
			c4,19.8,8.9,39.5,10.5,59.9c1.3,16.8,0.9,33.6,0.8,50.4c-0.1,14-1.6,28.1-2.5,42.1c-1.6,13.8-4,27.4-7.3,40.9c-1.8,7.7-2,8-10.1,7
			c-3.1-0.4-2.9,1.8-2.5,3.3c1.2,5.4-1,9.1-5.2,12.1c-0.6,0.3-1.1,0.9-1.3,1.5c-3.7,10.2-11.9,9.2-20,8.2c-3.3-0.4-6.1-0.1-8.8,2
			c-3.4,2.6-6.2,1.4-8.3-2.1c-3.4-5.5-3.1-11.6-3.1-17.6c0-2.9,2.6-4.6,5.1-5.8c2.6-1.4,4.7-3.5,6-6.1c1.5-2.8,1.5-4.5-2-5.5
			c-4.9-1.4-6.8-5.5-8.2-10c-0.8-2.4-0.5-5,1-7.1c1-1.4,6.6-3.9,6.6-2.9c-4-1.4-2.7-4.6-2.1-7.2c1.2-4.9,1.9-10.2,7.1-13.2
			c2.2-1.2,2.7-3.5,2.2-5.9c-0.8-4.2-0.6-8.6-2.7-12.5c-1.9-3.6-1.3-6.9,1-10c0.5-0.8,1-1.5,1.5-2.2c5.2-5.6,6.8-12.5,3.1-18.8
			c-3.5-5.9-5.1-12.1-6.2-18.7c-0.2-1.8-1-3.5-2.2-4.8c-8.5-8.6-7.4-18.7-5.4-29.4c1.3-7.2,2.9-15.3,2.5-21.9
			c-0.4-5.9-0.8-13.7-4.4-19.3c-3-4.6-2.8-9-1.9-13.4c1.4-7.1,0.3-12.9-6.3-16.7c-2.5-1.4-2.6-3.6-2-5.8c2.4-8.9-1.2-15.9-7.3-21.5
			c-3.4-3.2-5.6-6.1-5.1-10.9c0.3-3.2-0.5-5.3-4.6-4.2c-3.3,0.9-5-1.1-7-3.8c-3.9-5.2-6.7-11.2-8.2-17.6
			c-1.3-5.4-7.2-10.3-11.1-15.4c-1.9-2.5-4.5-4.3-4.2-8c0.1-1.6-0.7-3.2-2.8-3.1c-1.4,0.1-2.5,1.4-2.4,2.8c0,3.9-1.3,6.9-5.1,8.7
			c-2.5,1.2-0.4,2.4,0.4,3.6c1,1.4,2.5,3,0.7,4.8c-1.6,1.6-3.2,1.1-4.8-0.1c-1.9-1.4-4-2.3-5.9-0.1c-2.2,2.4-0.9,4.7,0.6,6.7
			c2.1,2.7,3.9,5.5,0.8,8.2s-6,1.3-8.9-1.2c-10.1-8.6-20.8-16.7-30.6-25.6c-8.9-8.1-17.5-17.2-18.2-30c-0.5-8.4-4.3-14.8-7.9-21.7
			c-3-5.7-9.3-7-13.9-10.2c-4.3-3-8.1-5.3-8.3-11c-0.2-3.6-2.2-6.1-5.7-6.5s-5.8-2.6-7.6-5c-1.9-2.5-4.5-4.3-7.5-5.2
			c-2.3-0.7-5-1.5-6.1-3.9c-2-4.3-4.9-5.2-9.3-3.9c-2.9,0.9-5.9-0.7-6.4-3.5c-0.8-4.9-4.5-5.5-7.9-7.1c-19.3-9.5-40.2-14.9-60-22.9
			c-8.1-3.2-15.7-7.5-22.5-12.8c-6.9-5.5-15.2-6.8-22.8-8.2c-7.1-1.3-14.3-1.8-21.5-1.5c-10.7,0.3-20.5-2.6-30.1-5.6
			c-6.5-2-11.6-8.4-19.5-4.6c-14.4-5.3-30.3-5.1-44.3-12.2c-5.6-2.9-12.8-1.1-19.3-0.5c-1.5,0.2-3.1,0.9-4.6,0.8
			c-14-0.7-27.8,1.2-41.5,4c-2.4,0.5-4.5-0.2-6.6-2.2c-3.8-3.6-10.3-2.4-13.1,2c-1.2,2.2-3.7,3.4-6.1,2.9c-7.7-0.8-15.4-0.3-23,1.4
			c-5.4,1.3-10.7,3.3-16.5,2.7c-0.9-0.1-1.8,0.2-2.4,0.9c-4.7,9-13.9,6.4-21.2,8.6c-5.4,1.6-9.9,5.7-16.3,3.3c-2-0.7-0.9,2.1-1,3.5
			c-0.2,10.5-2.5,20.8-6.7,30.4c-0.6,1.3-2.2,2.1-3.4,3.1c-2-4.5,1.3-8.6,1.1-13.1c-0.5-8.8-5.5-17-13.7-20.5
			c-1.3-0.4-2.5-1-3.7-1.5c-3.6-2-3.8-4.5-0.4-6.6c9.9-6.1,20.5-10.1,32.2-10.7c1.3-0.1,2.9,0.7,4,0.1c9.6-5.4,20.6-5.3,30.8-8.4
			c9.7-2.9,19.9-3.2,29.9-4.2c5.1-0.5,10.3-0.6,15.4-1.8c12.2-2.8,24.5-1.3,36.7-0.8s24.5,2.3,36.8,0.1c2.4-0.5,4.9-0.6,7.4-0.2
			c10,1.7,20.1,0.2,30.2,1.3c4.1,0.4,8,1.2,11.1,4.2c3.1,3,6.5,4,10.9,1.5c5.1-3,10.1-1.8,14.1,2.4s7.8,5.6,12.7,1.2
			c2.8-2.5,5.4-2.1,5.9,2.4c0.4,3.2,2.7,4.3,5.4,3.4c6.2-2.2,11.7,0.2,16.8,2.9c4.5,2.4,9,3.9,14,3.8c2.3,0,4.5,0.6,6.5,1.5
			c10,4.4,21.6,4,31.1,10.3c2.1,1.4,4.9,1.8,6.2-1.5c1.2-3.1,3.5-3.2,6-2.4c6.8,2.2,13.9,3.7,20.5,6.5c1.2,0.5,2.9,0.9,3.5,1.9
			c4.9,7.6,13.5,8,20.8,10.9c8.1,3.3,16.5,6.1,22.7,12.8c0.7,0.6,1.5,1.1,2.3,1.3c16.4,5.8,28.2,18.7,42.1,28.2
			c4.8,3.4,8.6,8,10.9,13.4c1.9,3.9,5,7,8.9,8.7c5.4,2.5,9.4,6,10.5,12.2c0.2,1.1,0.4,2.3,1.6,2.8c15.8,6.2,25.5,18.9,33.6,32.9
			c2.3,3.7,5.2,6.9,8.7,9.5c-2.2-6.6-0.3-13.8,1.4-20.9c0.3-1.5,2.2-2.3,3.8-2.5c8.6-0.9,17.2-4.2,25.9-0.4c3.5,1.6,5.1,0.4,6.4-3.2
			c2.6-7.6,2.9-7.6,10.9-6.1c4.6,0.8,4.7-2.2,3.6-4.8c-2.1-5-4.4-9.5-1-15c1.1-1.8-0.7-4.9-2.3-6.8c-6-7.4-9.9-16-14.4-24.2
			c-2.8-5.1-7.2-8.5-10.9-12.8c-21.7-25-45.1-48.3-72-67.6c-15.3-11-31.7-20.5-46.7-31.9c-6.3-4.8-11.9-10.5-20.5-12.1
			c-5.3-1-9.8-4.8-14.1-8.8c-8.6-8-19.9-11.3-30.7-14.9c-12.3-4.1-24.2-9.4-36.8-12.8c-8.2-2.2-16.5-4.2-24.6-6.8
			c-2.1-0.7-5.2-0.3-5.5-3.8L607.8,34.8z"/>
		<path class="st13" d="M924.7,528.3c-2.2,7.8,3.4,14.3,3.7,21.8c0.2,4.1,0,6.6-3.9,8.7c-5.8,3.2-7.7,14.7-3.5,20.2
			c-4.1-1.3-7.7-0.8-8.2,3.8c-0.6,5.2,1.8,9.6,6.3,12.5c2.1,1.3,6.9-1.1,6.4,2.7c-0.5,4-2.7,8.5-6.5,10.9c-2.7,1.8-7.6,2.1-7.2,5.9
			c0.7,6.2-0.4,13.2,4.2,18.5c2.2,2.5,4.4,0.6,5.6-1.1c2.1-3,4.5-2.6,7.6-2.1c4.4,0.8,8.9,0.5,13.4,0.6c1.7,0,3-0.3,3.5-2.3
			c1-4.4,4-7.4,7.7-9.6c2.3-1.4,2.6-3.2,2-5.7c-0.5-2.3-1.3-4.7-0.2-7.2s1.8-4.5,4.5-1.3c1.2,1.5,2.3,3.8,4.8,2.5
			c2.2-1.1,2.5-3.3,3-5.6c2.7-13.3,6.7-26.3,8.1-39.9c0.1-0.8,0.8-1.5,1.2-2.3v2.8c-1,22.6-5.8,44.5-12.2,66
			c-4.5,12.5-7.8,25.3-12.1,37.8l0,0c-1.5,2.2-0.8,5.6-4,6.7c-4.7,4.9-4.8,11.9-7.7,17.7c-2.1,4.2-4.5,6.2-8.8,4.9
			c-3.5-1.1-5.8,0.4-6.1,3.2c-0.7,7.6-7.9,8.3-12,12.3c-1.7,1.7-4.4,1.8-6.2,0.3c-2.1-2-0.3-4,0.8-5.9c6.1-10.8,5.3-22.5,3.7-34.4
			c-0.5,10.7-11.4,15.2-14.2,24.6c-1.1,3.7-1.5,8-4.3,11.1c-1.7,1.8-2.9,5-6.5,3.1c-3.1-1.7-3.6-4.3-2.2-7.4
			c1.1-2.4,2.2-4.9,3.2-7.4c0.6-1.4,2.2-3.1,1.9-4.2c-1.7-6.1-1.1-12,0.2-18.1c0.5-2.2-1.6-3.6-3.9-3.6c-3.6,0-7.2-0.6-10.7,0.6
			c-4.7,1.6-6.6-0.1-6.8-5c-0.7-14.1,2.2-28.2,8.5-40.9c0.8-1.4,1.4-2.8,2-4.3c0.9-2.2,0.3-4.7-1.6-6.1c-2-1.6-3.7,0.5-5.3,1.6
			c-3.5,2.5-5.5,6.3-8.2,9.9c-0.3-4.1,0-8.2,2.3-11.5c1.8-2.6,2.7-5.7,2.3-8.8c-0.8-7.2,2.8-10.9,9.7-12.1c2,3.8-0.4,7.4-1.3,11.1
			c-0.3,1.5-1.2,3.3,1,3.9c1.7,0.4,2.1-1.5,2.2-2.7c0.5-4.3,5.1-9.4-1.9-12.3c0-2.6-0.5-5.6,3.7-4.5c1.6,0.5,3.3-0.4,3.9-1.9
			c4.8-12.4,10.7-24.1,10.6-38.3c-0.1-7.7-3.2-16.5,2.3-23.9c1-1.3,1.1-3.1,0.2-4.5c-5.4-8.7-4.7-18.5-4.6-28.1
			c0-3.4,0.7-6.7-4.3-7.5c-2.5-0.4-3.4-3.4-3.6-5.9c-0.3-3.5,2.7-1.1,3.7-2c5-4.3,4-10.5,2.2-14.9c-3.4-8.5-5.1-17.6-4.8-26.8
			c-0.1-2.2-0.6-4.4-1.5-6.5c-0.7-1.7-0.9-4.6-3.4-4.4c-2.2,0.2-1.6,2.9-2,4.5c-1.5,5.6-8.5,3-10.8,7.4c-0.7-0.5-1.8-0.9-2-1.5
			c-1.3-5.4-4.7-10.9,1-15.8c1.3-1.1,1.2-2.2-0.1-3.3c-5.5-5-8.2-11.4-9.4-18.5c-0.5-3-1.7-4.8-4.5-6c-7.1-3.2-11.1-10.9-9.8-18.6
			c0.4-1.9,1.1-4.1-0.8-4.8c-6-2.1-9.4-8.2-15.5-10c-2.3-0.6-4.4-1.5-5.6-3.5c-4.7-8.3-12.9-12.6-20.3-17.8
			c-5.3-3.7-7.3-10.9-14.1-12.9c-0.6-0.4-0.9-1-0.8-1.7c2.2-7.2-5-10.8-6.4-16.7c-1.3-5.2-7.7-6.1-11.2-9.9
			c-5.9-6.3-9.6-14-15.3-20.4s-11.2-12.1-18.6-16.1c-1-0.5-2.3-1.2-2.6-2.1c-2.4-7.1-6.9-10.6-14.7-10.9c-3.3-0.1-5.8-2.9-2.7-6.8
			c1.1-1.4,1.5-2.8,0.3-4.3c-1.1-1.5-3.2-2-4.9-1.1c-5,2.3-7.8-0.2-10.8-3.9c-8.5-10.7-21.1-16.4-33-21.1s-23.7-10.1-33.8-17.5
			c-6.5-4.8-12-9.2-20.4-9.5c-2.8-0.1-5.6-2.7-8.2-4.4c-11.7-7.4-25.2-10.2-38.2-13c-5.9-1.3-11.5-1.7-16.4-5.4
			c-1.7-1.2-3.8-1.6-5.8-1c-8.8,2.6-17.5-2.3-26.2-0.4c-1,0.2-2.4-0.9-3.5-1.5c-1.8-1-3.9-2.9-5.5-2.1c-6.8,3.9-11.3-1.9-16.9-3.1
			c-9.1-1.8-18.5-1.7-27.6,0.1c-4.5,0.9-8.5,1.6-13.2,0.6c-5.3-1.1-10.7-0.7-15.9,0.9c-9.1,2.8-18.4,4.5-27.8,6.3
			c-2.8,0.6-5.1-1.2-6.6-3.7c-1-1.6-2.4-3.4-4.2-2.1c-2.3,1.6-0.1,2.8,1.1,4.1c3.1,3.2,1.6,6.1-1.8,7.4c-7,2.6-13.7,8.6-22,3.1
			c-1.8-1.2-3.9,0.4-5.7,1.1c-5.1,1.9-9.8,3.4-14.2-2.5c-3.2-4.3-6.6,0.3-7.6,2.8c-2.8,6.9-9,8.5-14.6,11.1
			c-4.1,1.9-8.1,3.6-10.7,7.6c-0.5,1-1.4,1.7-2.4,2.1c-10.5,2.3-17.1,9.5-23.1,17.7c-2.5,3.4-6.7,4.9-10.4,5.8
			c-4.9,1.2-10.4,2.2-14.4,4.3c-7,3.6-13.9,3.4-21.1,4.6c-8,1.3-13,8.5-18.9,13.5c-10.6,8.9-20.8,18.4-30.8,28
			c-5.2,5-7,13.9-14.4,16.2c-10.8,3.4-16.6,12.4-21.4,20.5c-3.6,6.1-8.1,12.6-10.1,19.8c-0.9,2.9-2,5.4-5.1,6.6
			c-2,0.8-3.9,1.3-5.7-0.2s-1.5-3.1-0.2-4.8c0.7-1,1.2-2,0-2.8s-2-0.1-2.4,1.2c-1,3-4.4,2.9-6.2,4.9s-4.8,3.6-4.6,7.1
			c0.4,6-2.3,6.5-7.5,5.2c-3.3-0.8-3.6-1.5-3.4-4.6c0.3-8.3,2.6-16.2,4.9-24c0.7-2.3,1.3-4.6-1.1-6c-2.3-1.2-2.7,1.4-4,2.5
			c-2.3,2.1-3.4,7.5-7.2,5.7c-4.2-2.1-6.4-7.2-5.6-12c0.8-5.2,1.5-10.1-0.1-15.2c-0.8-2.8,0.3-4.8,3.8-4.7c2.1,0.2,4.1-1.1,4.8-3.1
			c2.2-8.3,7.4-15.1,10.8-22.7c1.2-2.7,0.3-4.6-1.5-6.7c-6.4-7.5-6.4-10.2-0.2-17.3c1.7-1.8,2.6-4.3,2.4-6.8c-0.3-5.8,4.3-8.9,7-13
			c6.2-5.5,8.6-13.6,13.2-20.1c1.4-2.1,2.4-4.5,4.6-5.9c6.4-5.3,12.1-11.4,17-18.1c2.7-3.8,5.1-8.6,10.8-8.9
			c-2.3,6.8-7.2,12.2-11.9,16.7c-12,11.7-20.8,25.4-28.9,39.7c-1.6,2.7-1.2,4.6,2.4,5.1c5,0.7,6.7,4.1,3.2,7.7
			c-5.1,5.3-5.2,11.6-5.2,18.1c0,1.8-0.4,4,1.7,4.7c1.6,0.5,2.7-1.4,3.7-2.5c1.5-1.6,2.8-3.4,4.3-5.2c1.7,1.4,1.1,3,0.5,4.3
			c-4,9.4-4.6,20-9.8,29c-3.2,5.7-0.1,11.9-1.8,17.7c-0.1,0.7-0.1,1.3-0.1,2c-0.1,3.5-3.9,8.4,0.5,10.1c3.2,1.2,4.8-4.5,6.6-7.3
			c4.1-6.4,7.7-13.1,11.5-19.7c1.2-2.1,2.4-4.9,5.3-4.2s2.8,3.6,3.1,6.1c0.2,1.9-1,4.6,1.7,5.2s2.9-2.2,3.6-4
			c1.6-4.2,5.2-6.5,8.5-9.3c3.9-3.4,9.1-6,9.3-12.4c0-1.9,1.9-2.3,3.1-3.2c1.4-1,3.7-2,4-3.4c2.5-10.1,10.7-8.9,18.1-9.5
			c0.8-0.1,2.3-0.2,2.4-0.6c2-8.6,12-6.7,16.3-12.2c0.6-0.9,2.4-1.1,2.6-2c3-11.9,13.9-7.5,21.2-10.4c9.7-3.8,20.6-3.3,30.1-7.9
			c8.8-4.3,15.3-9.9,17-20.5c1.6-9.8,11.3-16.6,20.7-19.2c8.6-2.3,16.8-5.9,24.3-10.8c6.9-4.6,14.5-8.1,22.5-10.1
			c12.1-3,23.8-7.5,36.1-10.2c4.8-1.1,9.8-0.6,14.4-2.8c2.4-1.2,3.7-0.1,3.8,2.7c0.2,5.6,4,7.8,9.2,4.7c4.5-2.7,8.1-2.8,13.1-1.1
			c4.8,1.6,10.4,0.2,15.7,0.5c8.1,0.5,16.3,2.8,24.6,0.6c2.6-0.8,5.5-0.3,7.7,1.4c1.2,1,2.7,1.6,4.3,1.7c13.2,0.6,25.6,6.5,39,6.3
			c2.9-0.1,5.7,0.7,8.6,1.3c20,3.8,40.5,6.3,58.8,16.1c10.9,5.9,23.5,7.9,33.3,16.7c4.4,3.9,12,4.3,18.1,6.3
			c1.5,0.5,3.2,0.7,4.4,1.6c12,9.6,26.8,13.9,40.1,20.9c10.9,5.7,21.8,12,29.5,22.3c0.4,0.5,0.8,1.2,1.4,1.4
			c13.8,4.8,16.4,21.5,29.5,27.2c2.3,1,4.4,4.1,5.4,6.6c6,14.9,17.5,25.7,26.7,38.1c4.1,5.5,8.6,11.4,11.6,18
			c2.1,4.6,5.6,8.3,10.1,10.6c8.6,4.2,15,11.6,24.5,14.2c5.8,1.6,7.6,1.1,8.2-4.8c0.2-2.1,0.2-4.2,2.7-4.8s2.7,2,4,2.9
			c4.1,2.9,3.8,7.9,5.9,11.8c6.2,11.2,13.8,22.2,17.4,34.2c5.1,17,14.7,33.1,13.2,51.9c-0.3,3.9,1.1,8,3,11.6
			c2.4,4.7,4.1,9.5,3.6,14.8c-0.2,2.7,0.7,5.4,2.4,7.5c4.7,6.3,6.1,13.2,3.8,20.7c-0.8,2.7-1.1,5.2,0,7.8
			c4.7,10.6,7.3,21.6,5.2,35.2L924.7,528.3z"/>
		<path class="st14" d="M602.4,34.8c13.4,4,27,7.6,40.2,12.2c19.3,6.8,39.4,11.9,56.8,23.2c4.5,2.9,8,7.5,13.3,9.5
			c0.6,0.2,1.1,0.9,1.7,1c16.3,2.7,25.2,17.2,38.5,24.7c7.3,4.1,14.2,9.2,21.5,13.6c11.7,7.1,21.9,16.2,32.3,25
			c11.2,9.4,21.7,19.5,31.5,30.3c12.5,13.9,27.2,26.1,34.6,43.9c2.3,5.6,7.5,9.1,9.2,15c1,3.4,3.6,6.3-1.4,8.9
			c-2.1,1.1-0.2,3.3,0.7,4.6c1.7,2.4,3.1,4.9,3.1,8c0,5.1-2.5,7.4-6.4,4.5c-7.1-5.2-8.2,0.3-8.9,4.8c-0.9,6-2.9,7.2-8.3,4.3
			c-8.6-4.6-17.5,0.1-26.2,0.2c-2.4,0-3,2.6-2.8,4.7c0.8,6.8-3.1,13.6,0.2,20.5c-1.8,0-1.4-1.4-2-1.7c-9.9-5.4-13.2-15.8-18.8-24.5
			c-2.8-4.3-7.4-6.4-11.1-9.7c-1.7-1.5-3.9-2.5-5.1-4.3c-2.6-4-5.6-5.3-10.2-1.6c0.3-9.5-2.7-15.2-11.7-18.1c-4-1.6-7-5.1-8.1-9.3
			c-0.8-3.2-3.4-6.4-6-8.7c-6.8-5.8-14.7-10.5-21.2-16.2c-8.6-7.5-19.2-11-27.9-17.4c-10.8-8-22-13.2-34.9-15.4
			c-1-0.2-2.6-0.7-2.8-1.5c-3-8.9-11.7-8.8-18.4-11.6c-2.7-1.1-5.5-1.9-8.4-2.4c-2.4-0.5-6.7-4.5-5.8,2.8c0.2,1.7-2.6,2.1-4.5,1.9
			c-0.9,0-1.8-0.2-2.6-0.6c-9.2-6.4-20.4-6.6-30.4-10.5c-4.1-1.7-8.6-2.6-13.1-2.4c-6.6,0.4-10.6-6.1-17.1-6.7
			c-2.1-0.2-3.9-1.4-6.4-0.4c-7.5,2.9-10.1,0.9-9.8-7c-0.2,0-0.5-0.2-0.6-0.1c-9.4,5.9-9.4,5.8-19-1.5c-3.4-2.6-7.8-3.2-10.5-0.4
			c-4.3,4.6-8.9,2.5-11-0.2c-6-7.7-14.5-5.1-21.7-5.8c-4.9-0.5-10,0.5-15.1-0.6c-7.1-1.4-14.3,1.5-21.4,1c-13.5-0.9-27-0.5-40.5-2
			c-9.1-1-18.8,0.5-28.2,2.3c-10.3,1.9-20.9,1.9-31.1,4c-12.2,2.5-25.1,2.4-36.2,8.9c-5.3,3.1-10.3-0.6-15.6,1.4
			c-8.1,3-16.5,5.2-24,9.5c-1,0.6-2.3,0.9-2.3,2.2s1.2,1.9,2.3,2c7.8,0.7,12,6.6,15.8,12.1c4.5,6.5,3.5,14,0.8,21.2
			c-0.4,1-0.6,2.1-1,3.2l0,0c-8.7,10.9-18.8,19.6-33.1,22.4c-14.9,2.9-27.4-7.3-27.6-22.7c-0.2-11.8,2.7-22.1,12.9-29.3
			c0.6-0.4,1-0.9,1.4-1.4c2.1-2.8,7.1-5.4,5.4-8.4c-2-3.6-5.6,1.3-8.7,1.5c-5.8,0.5-11.6,0.8-17.3,2.2c-1.6,0.4-3.2,0.1-3.9-1.8
			c-0.6-1.8-0.1-3.7,1.4-4.9c10-8.9,18.4-19.6,29.5-27.4c6.3-4.4,11.7-9.8,16.1-16.1c3.5-5,8.4-8.8,14-11.2c5-2.2,9.3-5.4,13.9-8.2
			c1.1-0.7,2.4-1.5,2.8-2.8c2.7-9.2,9.7-11.8,18.4-11.9c1.4,0,2.9,0.1,3.8-1c8.2-9.9,20.3-12.5,31.6-16.2
			c12.4-4.1,24.9-8.2,37.7-11.2l0,0c20.9-5.2,42.1-7.7,63.4-10.4c23.3-2.9,46.5-2.1,69.8-2.2c7.7,0,15.5,1,23.3,1.8h1.3
			c6.6,1.7,13.5,1.8,20.2,2.7l0,0c5.2,2,10.8,1.6,16.2,2.7l0,0c3.9,1.8,8.1,1.7,12.1,2.7L602.4,34.8z"/>
		<path class="st12" d="M394.8,37.5c-15.2,4.9-30.6,9.4-45.7,15c-8,3-17.2,4.8-21.7,13.8c-0.7,1.8-2.8,2.6-4.6,1.8c0,0,0,0-0.1,0
			c-7.5-3.7-11.2,3.8-16.9,5.4C303.3,89,286.5,87.3,278.1,96c-3,3.1-4.7,6.8-7.5,9.9c-8.2,8.6-18.2,15.1-26.9,23.2
			c-5.6,5.2-9.4,12-16.2,15.9c-1,0.6-1.4,1.9-0.8,3c1,1.8,2.4,0.7,3.5,0.2c7.5-2.8,16.3,0.5,23.2-5.3c1.5-1.1,3.6-0.7,4.6,0.8
			c0,0.1,0.1,0.1,0.1,0.2c1,1.8,0.8,4.1-0.7,5.7c-3.1,3.2-5.8,7.1-9.5,9.4c-13.2,8.4-13.4,35.4-2.6,44.2c7.4,6.1,14.3,5.4,22.4,3
			c11.1-3.3,18.9-10.8,26.4-18.9c0.7-0.6,1.4-1.1,2.2-1.6c-6.8,12.2-17.7,18.8-30.7,23c-11.6,3.8-21.1,0.8-29.4-7.1
			c-5.6-5.2-11.9-4.1-18.3-3.1c-3.4,0.5-3.9,3.2-5,5.6c-1,2-2.2,4.2-4.8,4.1s-1.8-2.6-2.2-4.2c-0.7-2.5-2.2-2.8-3.8-0.9
			c-1.6,1.8-3,3.9-4.2,6c-1.4,2.8-3.8,2.4-5.7,1.6c-2.7-1.1-2.1-3-1.3-5.5c2.2-6.8,6.7-11.2,13.1-14c5.6-2.4,3.7-7,2.9-11
			c-0.4-2-2.4-1.2-3.9-0.6c-3.3,1.3-5.2,4.2-7.7,6.4c-1.1,1-2.2,2.6-4,1.3c-1.5-1.1-0.5-2.5,0.1-3.6c3-6.4,6.9-12.1,12.4-16.5
			c4.8-3.9,8.9-7.6,11.3-14.2c1.7-4.7,4.4-11.1,10.9-13.6c5.4-2,0.6-6.6-0.1-8.1c-2.7-5.6-0.1-7,3.7-10.7
			c6.2-5.9,14.4-8.8,19.9-15.4c1.2-1.5,3.1-3.3,4.9-3.4c6.2-0.5,9.8-4.9,13.4-8.7c4.7-4.7,10.5-8.3,16.9-10.4
			c5.5-2,9.9-5.6,13.8-9.3c5.5-5.2,11.8-7.6,18.8-9.7c5.9-1.7,11.5-4.9,17.1-7.6c17.7-8.4,36.6-12.9,55.2-18.5
			C391.1,37.2,393,37.5,394.8,37.5z"/>
		<path class="st10" d="M180.4,154.8c-7.9,4.8-11,13.8-17.7,19.7c-3.1,2.8-6.2,5.7-9.3,8.6c-2.1-3.7,2.2-4.8,3.1-7.2
			s3.6-3.9,4.9-6.3l5.4-5.4c2.2-3.6,5.9-5.8,8.1-9.4c11.7-12.6,25.6-22.8,38.9-33.5c9.3-7.5,19-15,29.9-20.4c0.4-0.6,0.9-0.6,1.4,0
			c-7.3,6.9-14.4,14-23.6,18.5c-1.2,0.6-2.5,0.7-3.4,1.9C207.5,134.6,192.8,143.4,180.4,154.8z"/>
		<path class="st12" d="M551.2,26.7c-17.5-0.2-34.8-1.8-52.3-1.5c-20.1,0.4-40,2.7-59.9,5c-14.9,1.7-29.2,6.2-44.1,7.2
			c11.5-4.9,23.9-6.5,36.1-8.1c13.4-1.7,26.8-3.7,40.3-4.9c8.7-0.8,17.4-0.5,26.1-0.5c16.8,0,33.5-0.5,50.2,1.3
			C549,25.5,550.3,25.5,551.2,26.7z"/>
		<path class="st5" d="M245.1,100.8h-1.4c4-4.6,9.5-6.9,14.8-9.4C255.3,96.3,249.7,97.8,245.1,100.8z"/>
		<path class="st12" d="M572.8,29.4c-6.9,0-13.8,0.5-20.2-2.7C559.4,26.5,566.2,27.4,572.8,29.4z"/>
		<path class="st12" d="M589,32.1c-5.5,0-11.2,0.5-16.2-2.7C578.3,29.4,583.8,30.3,589,32.1z"/>
		<path class="st5" d="M525,20.6c-2.8,1.1-4.8,2.1-6.7-0.1C520.4,17.4,522.4,19,525,20.6z"/>
		<path class="st12" d="M601.1,34.8c-4.3,0-8.6,0.3-12.1-2.7C593.2,32.1,597.3,33,601.1,34.8z"/>
		<path class="st8" d="M73.8,710.3c2.5,2.5,4,5.9,4.1,9.4c-3.3,0.6-2.5-2.9-4.1-4l0,0V710.3z"/>
		<path class="st15" d="M352.3,961.8c-12.3-1.5-23.6-6.6-35.2-10.4c-19.8-6.5-38.7-15.5-57.3-24.7c-15.6-7.8-31.1-16.2-45.1-26.9
			c-5.5-4.5-11.2-8.8-17.5-12.2l0,0c-4.3-4.5-9.6-7.5-14.8-10.8l-2.7-1.4c-0.5-5.2,1.2-5.6,5.5-3.2c9.1,5.2,15.8,13.5,25.1,18.3
			c1,0.4,2,0.8,3.1,1.1c2-0.2,3.4,1,4.9,2.1c3.5,3.3,7.5,5.9,11.9,7.9c3.4,1.8,7,3.4,10.2,5.5c16.7,10.8,34.7,18.8,53.2,25.9
			c3.3,1.5,7,1.8,10.5,1c6.3-1.5,11.9,2,17.5,3.6c22.9,6.6,46.2,11.1,69.5,16.3c12.1,3.5,24.8,3.9,37.1,5.5
			c17.3,2.3,34.8,3.4,52.3,3.1c17.7-0.2,35.3-1.6,52.8-4.2c14.2-2.1,28.5-2.3,42.7-4.3c1.1-0.2,2.4,0.3,3.3-0.2
			c18-7.6,38.3-3.7,56.3-11.9c6.2-2.8,13.8-0.7,20.6-2.7c1.3-0.5,2.8,0.1,3.3,1.4c0,0,0,0.1,0,0.1c0.4,1.2-0.5,2.1-1.3,2.9
			c-1.1,1.1-2.5,2-4,2.5c-7.3,2.8-14.5,6.4-22,8.5c-29.1,8.2-58.2,16.8-88.3,20.6c-12.9,1.6-25.9,2.4-38.8,2.6
			c-25.1,0.3-50.3,0.2-75.3-1.5c-8.5-0.7-16.9-1.9-25.2-3.6C387,969.8,369.4,967,352.3,961.8z"/>
		<path class="st16" d="M245.1,916.7l-4-2.7c-3.9-5.2-9.9-7.9-14.8-12c-1.5-1.3-3.2-2.3-4.1-4.2c8.1,2.9,14.4,9,22.1,12.5
			c14.1,6.3,27.9,12.9,42.3,18.7c18.2,7.4,36.6,14.4,55.1,21.1c9,3.3,18,6.7,27.5,8.5c16.9,6.4,34.6,10.1,52.2,13.3
			c19,3.5,38.3,6.8,57.5,7.8c21,1.1,42.1,1.5,63.2-0.5c11.3-1.1,22.7-1.5,34-3c8.8-1.2,17.6-2.7,26.4-4c-0.2,3.4-3.1,3.5-5.3,4.2
			c-5.6,1.8-11.4,2.4-17.2,2.9c-4.3,0.2-8.5,0.7-12.7,1.5c-1.8,0.1-3.5,0.3-5.3,0.7c-4.3,0-8.6,0.4-12.8,1.1
			c-0.7,0.2-1.5,0.3-2.2,0.3c-20.8,0-41.4,2.5-62.4,1c-19.9-1.4-39.6-4.2-59.4-6.2c-10.2-1-20-4.5-30.1-6.6
			c-23.9-5.3-47.4-11.9-70.4-20c-14.4-4.9-28.2-11.5-43.3-14.7c-5.1-1.1-9.6-4.6-14.7-6.3c-3.1-1.9-6.8-2.7-9.5-5.4
			C253.1,922.1,249,919.6,245.1,916.7z"/>
		<path class="st6" d="M73.8,715.7c2.1,0.5,2.4,3,4.1,4c0.4,3.5,2.8,6.3,4,9.4c0.7,0.7,0.8,1.9,0.1,2.6c0,0-0.1,0.1-0.1,0.1
			C77.3,727.7,74.4,721.9,73.8,715.7z"/>
		<path class="st8" d="M81.9,731.9c0-0.9,0-1.8,0-2.7c2.4,2.7,4.1,5.7,4,9.5C83.3,737.2,81.7,735.2,81.9,731.9z"/>
		<path class="st5" d="M161.5,169.6c-1.2,5.4-6.9,8.1-8.1,13.5c-2.4,1-2.9,3.4-4,5.4c-4.8,3.6-6.5,9.3-9.7,14
			c-1.4,2-2.4,4.2-3.8,6.2c-2.9,3.9-6.4,7.4-8.1,12.1c-6.8,4.4-10.3,10.4-9.4,18.6c0.3,3.2-0.7,5.2-3.8,7c-6.6,3.9-9.6,13-8.3,20
			c0.9,4.6-2.2,7.8-6.2,10c-1.7,0.9-4.4,1.3-4,3.8c0.4,3,3.3,2.5,5.4,2.5c3.4,0.1,4.9,1.9,4.7,5.1c-0.5,7.9-1,15.6,2.4,23.3
			c2,4.4-0.9,9.6-1.7,14.5c-0.3,1.5-0.5,3.1-0.7,4.6c-0.2,1.4,0.7,2.7,2.1,3.1c1.4,0.4,1.8-0.9,2.4-1.8c0.2-0.4,0.4-0.8,0.7-1.2
			c1.2-1.9,1.4-4.5,3.9-5.1c0.9-0.2,1.5,0.8,1.6,1.8c0.3,2.8,0.3,5.5-2.3,7.3c-3.6,2.5-6.5,6.2-10.7,7.9c-2.2,0.9-4.3,2.1-4.2,4.7
			s2.6,3.1,4.5,3.2c3.7,0.2,5.1,2.7,5.7,5.6s2,5.3,4.7,3.3c2.4-1.8,6.8-4.3,4.6-8.2c-1.7-2.8-2.2-4.8-0.2-7s4.7-3.7,7.8-2.6
			c6.3,2,7.4-1.6,7.7-6.5c0.4-8.7,2.9-10.2,10.9-6.8c6.1,2.6,11.5-0.6,14.1-9.2c1.1-3.5,2.4-6.1,5.6-7.7c2.6-1.3,3.9-3.6,4.9-6.2
			c3.2-8.4,8.4-14.6,16.7-18.9c5-2.6,9.4-7.8,12.4-12.9c4.1-7,9.7-12.1,15.3-17.6c3.8-3.7,7.1-8.1,11.6-10.6
			c6.8-3.8,11.8-9,16.4-15.1c2-2.7,6.5-2.8,8.1-6.5c0.5-1.2,2.8-1.4,3.4-0.1c3.7,8.3,9.6,2.8,12.6,0.7c7.7-5.4,16.8-6.6,25.1-10
			c4.8-1.9,9-4.2,11.3-8.9c3.3-6.6,9.5-8.8,15.6-11c4.9-1.8,9.1-3.9,12.7-8.1c3.4-4.3,9.2-5.8,14.3-3.9c4.5,1.6,8.2-0.9,12.5-2
			c8-2.2,14-8.2,23.6-8.6c15-0.6,31.3-1.6,43.8-12.9c1.6-1.5,3-2.6,5.3-1.4c0.7,0.4,2.1,0.6,2.6,0.2c7.8-6.6,16.8-1.3,25.2-2.5
			c2-0.3,4.2,0.1,6-0.6c4.7-1.8,8-2.2,11.9,2.6c2.5,3.1,8,4.2,11.4,7.4c0.5,1.6,3.8,3.4-0.8,4.6c-9.9,2.6-19.7,3.4-29.7,0.6
			c-6-1.7-12.3-3-17.8,1.8c-1.9,1.6-4.3,1.1-6.5,1.1c-3.1,0-6.3-0.2-9.1,1.6c-3.2,1.9-6.3,3.5-9.8,0.3c-0.9-0.7-2.1-0.8-3.2-0.4
			c-10.9,5.7-24,2.2-34.7,9c-4.4,2.8-9.8,3.9-15.3,4.6c-6.5,0.8-12.1,4.4-17.1,8.4c-5,4.1-10.9,6.9-17.3,7.9
			c-8.4,1.4-16.7,3.6-23.6,9.8c-5.9,5.2-14.4,5.9-21.2,9.9c-2.3,1.3-4.8,2.4-7.4,3.1c-7.5,2.2-12.1,6.8-14.4,14.4
			c-2,6.9-9.6,7.6-14.8,10.7c-6.5,3.9-13.2,7.1-17.8,13.4c-1.9,2.6-4.6,3.3-7.7,3.1c-7.6-0.4-12.4,3.5-15.4,10.2
			c-4.2,9.3-13.5,12.7-21.5,17.3c-3.5,2-5.9,4.1-7.7,7.7c-4.9,9.8-9.3,20.1-15.7,28.9c-4.9,6.7-12.2,11.5-18,17.8
			c-3.1,3.3-5.5,6.2-5.5,10.9c0,3.3-1.9,5.6-5.1,3.5c-2.8-1.9-4.1-0.7-6.3,0.8c-5.8,4-12.9,6.1-16.8,12.8c-1.4,2.4-3.4,3.6-2.5,7.4
			c1,4.3-5,4.8-7.4,7.5c-1.1,1.2-2.5-0.2-3.2-1.4c-2.1-3.8-0.6-8.1,2.1-9.7c4.1-2.5,4.3-5.5,4.6-9.3c0.2-2.4,1.3-4.8,4-5.7
			c3.7-1.2,1.7-3,0.2-4.3c-3.7-3.1-8.5-1.6-12.5-1.4c-2.7,0.1-4.5,3.9-4.2,7.5c0.5,4.8-0.7,8.4-6.4,9c-1.7,0.1-2.9,1.5-2.8,3.2
			c0,0.4,0.1,0.9,0.3,1.2c1.9,4-0.4,6.9-1.9,10.1c-1.9,4.2-4.4,7.8-3,13.2s-9.8,17.5-15.4,17.7c-3.6,0.2-4.8,1.6-4.5,5
			c0.5,7.2,0.5,13.6-8.8,16.2c-3.5,1-2.2,6.8-3.2,10.3c-0.6,2.2-0.6,5-3.6,4.6c-2.8-0.4-1.8-3.2-1.9-5c-0.4-11.7,3.9-22.9,3-34.7
			c-0.2-2.5,1.1-5,3.3-6.3c2.5-1.3,3.8-4.2,3.1-6.9c-2.5-9.1,1.8-17.3,3.1-25.9c1.4-9.4,5.2-18,6.4-27.3c3.2-5.4,4-11.6,5.4-17.5
			c5.4-4.9,5.9-12.8,11-17.8c5.5-5.4,5.6-13,8.3-19.5c4.5-10.9,10.6-21,15.3-31.8c6.2-14.1,14.8-26.9,23.1-39.4
			c12.2-18.4,22.3-38.6,38.4-54.3C159,171.5,160.3,170.6,161.5,169.6z"/>
		<path class="st5" d="M175,154.8c-1,4.6-4.8,6.8-8.1,9.4C167.9,159.6,171.7,157.4,175,154.8z"/>
		<path class="st16" d="M365,629.9c-12.3-3.3-23,3-33.8,6.7c-4.1,1.4-6.4,1.3-9.4-1.2c-5.8-5-9.6-4.7-15,1
			c-4.9,5.1-11.7,4.3-16.5-1.1c-9-10.2-12.6-9.2-17.1,1.5c-0.2,0.4-0.3,1.1-0.6,1.2c-4.1,1.3-9-2.7-12.7,3.8
			c-2.9,4.9-8.5-1.2-13.1-0.9c-1.2,0.1-2.8-1.6-2.2-3.6c0.4-1.4,0.4-3.5,2.4-3.6c4-0.2,7.2-1.4,7.4-6c0.2-5.8,0.6-11.8-5.2-15.7
			c-1.1-0.7-2.6-1.5-3-2.5c-2.4-6.4-4.6-6.7-8.6-0.8c-2.1,3.1-3.7-0.4-4.5-2.2c-4.3-9.5-11.5-17.1-16.9-25.9c-1.2-2-3.7-2.6-6-2.3
			c-5.8,0.8-8.8-2.4-12-6.7c-2.8-3.7-4.4-8.2-8.6-11c-2.8-1.9-1.6-11.7,1.4-14c3.7-2.8,4.4-5.5,2-9.7c-3.4-5.9-3.4-13.4-2.5-19
			c2.2-14.2,1.5-28.2,2-42.3c0-6,3.8-11.4,9.5-13.5c2.1-0.9,3.9-2.5,3.9-5.1c0.2-10.7,3.8-21,3-32c-0.6-8.4,3.7-14.8,10.4-20.4
			c10.1-8.3,16.9-19.9,19.4-32.7c1.6-7.6,2.5-15.4,2.6-23.1c0-3.7,3.5-4.6,5.8-5.9c7.6-4.2,14.2-9,18.2-17.3
			c1.7-3.6,5.9-5.5,9.9-6.1c3.7-0.6,6.1-1.5,6.9-5.8c1.2-6.7,7.9-6.6,12.6-8.7c3.8-1.7,7.1-2.8,7.9-7.9c0.7-4.2,5-5.7,8.9-6
			c3.4-0.2,6.1-1,8.2-3.7c0.4-0.5,0.9-1,1.5-1.2c6.8-1.6,13.3-3.4,16.5-10.8c0.6-1.5,3.7-2.8,5.4-1.7c5.4,3.4,8.5-0.5,12.8-2.5
			c6.5-3,14.1-3.8,21.2-5.8c10.3-2.7,20.7-4.6,31.2-5.9c18.6-2.4,37.5-6.4,56.6-2.6c3.7,0.7,7.6,0.5,11.4,0.3
			c4.1-0.3,8.1,0.7,11.6,2.9c5.5,3.7,10.9,1.9,16.7,1.6c9.6-0.5,19.9-3.6,28.6,3.6c0.7,0.5,1.8,1.3,2.3,1.1c8.5-3.4,15,3.3,22.2,5.1
			c5.8,1.4,10.7,7.4,17.3,9.3c2.5,0.8,1.9,3.8,2,6c0.1,2-0.5,5.4,1.2,5.5c5.9,0.4,10.7,5.3,16.6,4.5c3.4-0.5,6.2-0.4,8.5,2.3
			c0.5,0.7,1.3,1.2,2.2,1.4c9.4,0,14.6,9.8,23.9,10.2c1.8,0.1,3.9,1.4,5.3,2.7c4.8,4.4,10.8,5.1,16.8,5.8c6.4,0.8,10.5,3,13.5,9.8
			c2.8,6.3,8.1,11,14.6,13.1c4.3,1.3,8.4,3.2,12.2,5.5c2.8,1.7,5.3,3.2,5.3,7c0,1.1,0.4,2.7,1.1,3.1c7.8,4.4,12.9,11.6,19,17.7
			c1.8,1.8,4.3,3.1,5.8,5.6c3.9,6.9,8.5,12.6,16.1,16.4c6.1,3,9.8,9.5,11.5,16.3c0.7,2.8,1.3,6,3.8,6.6c5.7,1.3,5.5,5.6,6.8,9.8
			c2.2,7.5,7,14,8.9,21.7c0.9,3.7,2.7,7.1,2.4,11.1c-0.1,1.4,0,2.9,1.2,3.7c8.9,6.3,8,16.3,9.4,25.3c0.7,4.2,1.2,8.3,2.9,12.3
			c2.3,5.6,4.3,11.2,4.2,17.5c-0.1,5.2-0.7,9.7-4.6,13.5c-1.4,1.4-3.9,5-2.9,5.4c8.3,3.4-0.7,9.9,3,14.3s2.8,11.4,2,16.2
			c-1.1,6.5,0.4,12.2,0.3,18.1c-0.2,6.1-4.1,12.8-8,17.9c-5.5,7.1-6.5,17-0.6,24.4c4.4,5.5,3.4,9.7-3.1,12.7
			c-1.4,0.7-2.9,1.1-4.3,1.8c-1.3,0.5-2.1,1.9-1.8,3.3c0.3,1.3,1.4,1.6,2.5,1.7c5.7,0.4,6.2,3.1,5.7,8.6c-0.9,9.2-4.5,18.2-3.2,27.6
			c0.3,2.2-1.4,3.4-2.5,5.1c-4.7,7.8-11.7,13.5-17.7,20.2c-1.4,1.6-2,4-2.6,6.1s-1.6,4.4-3.5,4.6c-7.3,0.8-8.8,9.5-15.5,11
			c-0.8,0.3-1.2,1.1-0.9,1.9c0,0.1,0.1,0.2,0.2,0.4c0.4,0.5,2,0.9,2.3,0.5c6.9-7,14.7,0.9,21.9-1.3c1.2-0.4,2.6,0,4.1,0
			c-0.2,5.6-3.2,8.6-8.2,9.8c-4,0.8-7.6,3-10.1,6.2c-3.5,4.6-2.9,6.3,2.8,7.3c1.5,0.2,3.4-0.2,3.8,1.9c0.3,1.4-0.6,2.8-2,3.2
			c-7,1.1-6.9,10.3-13.5,11.7c-0.5,0.3-0.9,0.9-0.9,1.6c2,8.8-4.7,12-10.6,14.6c-7.9,3.5-11,10.8-14,17.3c-2.8,6.2-5.5,11-12,13
			c-11,3.4-19.2,11.3-28.7,17.1c-7.9,4.8-16.8,3.7-24.8,7.2c-3.4,1.5-6.2,2.6-8.9,5.9c-3.7,4.4-10.7,4.9-16.7,4.6
			c-3.7-0.2-7.4-1.7-11.1-2.1c-5.2-0.5-10.2-0.9-15.4,2.3c-5.4,3.3-12.6,1.5-18.8,3.9c-3.4,1.3-7.3,1.9-10.8,3.4
			c-2.2,0.9-4.6,2.6-7,1.6c-5.3-2.2-9.9-2.6-14.9,1.6c-2.4,2-5.9,0.2-6.5-3.4s-1.6-4.4-5.3-3.4c-7.5,2.2-15.5,0.3-23.1,4.1
			c-5.2,2.6-10.3-3.2-15.3-5.3c-7-3-14.4-5.3-21.3-9c-6.5-3.5-15.4-2.7-23.3-3.3c-2-0.2-3.9,0.3-5.8-0.6
			c-7.2-3.5-14.5-6.8-21.6-10.3c-2-1-4.5-3.4-2.7-5.2c4.5-4.7-0.9-8.2-0.7-12.3c0-1-0.6-1.5-1.7-1.6c-17.7-1.5-29.3-6.8-41.1-18.5
			c-4.4-4.4-8.6-9.1-15.6-9.5c-2.2-0.2-5.7-1.7-5.1-4.3s3.7-3.3,6.7-2.3c1.3,0.4,2.7,0.5,4,0.3c2.1-0.1,5.1,1,6-1.6
			c0.8-2.2-2-3-3.6-4.1c-2.2-1.5-2.5-3.7-1.4-5.9c1.3-2.6,3.3-2.9,6.2-2c3.2,0.9,4.8,4,8.1,4.6c2.5,0.5,5.1,1.9,6.2-1.4
			c1-2.9-1.3-5-3.8-5.4c-3.5-0.6-5.5-2.3-7.1-5.3c-4.1-7.8-4.2-7.7,3.7-11.1c2.9-1.2,10.7-14.6,10.1-17.4c-0.3-1.5-1.4-2.1-2.6-2.7
			c-9.8-4.5-10.8-15.5-2-22c2.2-1.6,3.5-4.2,3.6-6.9c0.2-4.3,1.2-8.4,3-12.3c0.9-2,1.1-4.3,0.3-6.5c-3.8-13.2-3.7-13.3-19.5-17.2
			c-5.4-1.3-10.1-3.3-13.8-7.7c-1.1-1.4-2.6-2.5-4.2-3.3c-3.6-1.5-7.5-2.7-6.2-7.8c1.2-4.9,4.6-9,9.4-9.3
			C359,637.4,362.2,634.4,365,629.9z"/>
		<path class="st6" d="M284.2,738.7c2.1-0.3,4.5,2.8,6.1,0.2s-1.6-3.7-2.5-5.6c-2.6-5.1-7.9-7.9-10.8-12.8
			c-3.5-5.9-2.6-9.1,3.9-11.6c5.1-2,5.4-3.8,1.1-7.2c-1.4-1.1-2.4-2.7-2.8-4.5c-0.7-2.9-2.6-3.4-5.1-3c-2.9,0.5-3.2,2.5-3.4,5
			c-0.1,1.4,2.1,3.9-1.2,4.2c-2.8,0.2-5.5-1.8-5.1-4.2c1-5.8-1.2-12.9,6-16.9c2.2-1.2,2.8-1.1,4.1,0.6c3.6,4.9,6.7,10.4,11.2,14.4
			c5.7,5,10.7,11.8,19.6,11.6c2.3,0,3.8,1.5,2.9,3.4c-2.1,4.2,0.4,7.4,1.7,10.8c1.1,3,1.3,5.5-0.6,8.2c-0.8,1.1-2.9,2.3-1,3.9
			c1.5,1.1,3.6,1,5.1-0.1c1.7-1.3,3.3-2.8,4.7-4.4c2.2,4.9,0.7,9.8,1.1,14.9c-6.3-2.5-12.5-2.3-18.5-5.3c-7-3.5-11.3,2.3-9.2,11.4
			c0.8,3.4,1.8,6.8-1.2,9.4c-3,2.8-7.5,3.5-11.2,1.5c-1.2-0.6-2.5-0.9-3.8-1.3c-18.5-6.7-24.2-17.9-24-38c0-2.8-3.9-8.2,3.8-7.4
			c0.4-0.7,0.6-1.6,0.6-2.4c-0.1-1.4-1-1.8-2.4-1.4c-2.1,0.7-4.3,1.2-5.9,3c-1.1,1.1-2.1,3.5-4.3,1.6c-1.7-1.5-3.3-3.5-2.8-5.8
			s2.5-1.6,4.4-1.4c2.8,0.3,4.2-1.9,5.5-4.1c2-3.3,4.6-2.4,5.3,0.5c0.8,3.5,2.8,4.5,5.7,5.7c3.9,1.7,8.9,2,7.8,9.4
			c-0.6,4,6.3,6.4,8.6,10.6c-2.2,1.7-3.8,0-5.4-1.1c-1.5-1.3-3.2-2.4-5-3.3c-3.6-1.5-7.5-2.8-10.7,0.5c-2.8,2.9-1.2,6.3,0.1,9.5
			c3.9,9.7,11,16.3,20.1,20.8c3,1.5,6.5,2.5,9.5-0.1s1.1-5.8,0.6-8.8C286.1,745.7,282.2,742.8,284.2,738.7z"/>
		<path class="st17" d="M284.2,738.7c1.7,4.3,3.7,8.6,5,13c1.9,6.8-2.3,11-9.1,9.7c-10.8-2.1-25.1-17-26.8-27.7
			c-1.1-7,3.3-10.6,10.4-9.4c5.6,1,8.7,6.2,13.8,7.7C279.2,734.6,281.5,736.9,284.2,738.7z"/>
		<path class="st6" d="M179.3,623.9c-0.8,2.4,0.9,4.1,1.8,6.1c1.1,2.3,1.4,5-1,6.7s-4.7,1-6.3-1.6c-1.7-2.7-3.3-4.2-4.4,0.5
			c-0.2,1-13.8,3.2-14.7,2.3c-6-6.2-12.4-12.2-13.4-21.5c-0.2-2.3-0.1-5,2-6c1.9-0.8,3.4,1.3,4.8,2.8c2.1,2.4,4.7,3.8,8.3,2.9
			c2.4-0.7,5-0.4,7.1,0.9c2.4,1.6,4.6,1,7,0.2C176.6,615,179.3,617,179.3,623.9z"/>
		<path class="st6" d="M337.7,710c0.6,7.4,0.6,14.1,10.5,12.4c-1.2,3.3-2.7,4.5-5.5,3.7c-4.4-1.2-8.5-1.7-12.8,0.9
			c-2.3,1.4-5-0.1-6.6-1.7c-2.1-2-1.6-5-0.7-7.5c0.7-1.9,2.5-3.9,4.6-3C331.7,716.5,334,713.3,337.7,710z"/>
		<path class="st6" d="M170.9,676.4c0.5-2.8-1.5-7.5,4.3-7.7c6.2-0.3,10.7,4.3,10.2,10.9c-0.3,4.3-3.4,6.6-7.9,6.5
			C172.4,686,171,683.9,170.9,676.4z"/>
		<path class="st6" d="M152.1,711.5c2.9,4.2,10.3-2.8,11.9,4.9c0.5,2.7-8.3,10.2-11.4,10c-5.2-0.3-5.6-4.2-5.9-8.1
			C146.4,714.7,148.2,712.6,152.1,711.5z"/>
		<path class="st6" d="M303,699c0.1,1.8-0.3,3.4-2,4c-1.5,0.6-2.7-0.5-3.4-1.6c-2.2-3.4-4.3-6.8-6.1-10.4c-1.1-2.2-1-4.6,1.6-5.8
			c2.3-1.1,4.6-0.5,5.7,1.9C300.4,691,301.6,695.1,303,699z"/>
		<path class="st6" d="M252.9,753.5c-3.2,2.3-5.4,7.6-9.1,4c-3.4-3.2-12.1-5.5-5.7-13.4c0.8-1,0.8-2.7,2.6-2.4
			c1.6,0.2,1.9,1.7,2.5,2.8c0.2,0.4,0.4,0.8,0.4,1.3C243,752.2,245,755.9,252.9,753.5z"/>
		<path class="st16" d="M244.6,629.5c-0.2,0.6-0.5,1.1-0.9,1.6c-0.6,0.8-1.8,0.9-2.6,0.3c-0.1-0.1-0.3-0.2-0.4-0.4
			c-2.2-3-5.2-4.6-8.5-6.1c-1.7-0.8-2.5-2.8-1.7-4.5c0,0,0-0.1,0.1-0.1c0.9-2.3,2.9-1.7,4.6-1.1
			C239.9,620.8,243.4,623.7,244.6,629.5z"/>
		<path class="st16" d="M284.3,648.5c-0.3,2.2,0.1,4.7-3,4.3c-4.4-0.6-6.8-3-6.5-7.7c0.2-2.2-0.3-5.1,3.1-4.6
			C282.4,641.1,283.5,644.9,284.3,648.5z"/>
		<path class="st6" d="M195.5,747.3c1.8,0.4,3,2.1,2,3.2c-2.3,2.6-1.9,5-1.1,7.9c0.4,1.5,0.7,4.2-1.8,4.1c-2.2-0.2-4.3-1-6-2.4
			C187.2,759.1,193.5,747.5,195.5,747.3z"/>
		<path class="st16" d="M180.9,562.4c3.8,1,6.6,4.1,7.4,8c0.2,1.2-0.5,2.3-1.9,1.8c-3.7-1.3-6.6-3.8-7.7-7.6
			C178.1,562.8,179.5,562.4,180.9,562.4z"/>
		<path class="st16" d="M224.7,608.8c-0.4,2-1.9,3.7-3.6,2.8c-3.2-1.9-6.2-4.2-8.8-6.8c-1.1-1,0.2-2.4,1.3-2
			c3.7,1.4,7.2,3.1,10.7,4.8C224.6,607.6,224.5,608.3,224.7,608.8z"/>
		<path class="st6" d="M154.4,674c3.8,0.1,4.2,3.4,5.1,5.9c0.7,1.8-1,2.2-2.4,2c-2.9-0.3-5.1-1.6-5.8-4.5
			C150.7,675.1,152.4,674.4,154.4,674z"/>
		<path class="st6" d="M202.4,752.5c2,0.7,3.8,1.6,3.5,4.1c-0.2,2-1.2,3.5-3.3,3.3s-4-1.3-3.8-3.6
			C199,754.5,199.9,752.5,202.4,752.5z"/>
		<path class="st6" d="M153.3,698.1c-0.1,2.6-1.8,2.8-3.7,2.8c-2.3,0-3.1-1.3-2.8-3.4s1.5-3.2,3.6-3S153.3,696.2,153.3,698.1z"/>
		<path class="st16" d="M720.2,807.6c1.4,0.2,2.2,0.9,2,2.2s-0.9,2.5-2.5,2.5c-1.1,0.1-2.1-0.8-2.2-1.9c0-0.2,0-0.4,0.1-0.7
			C717.9,808.5,718.9,807.6,720.2,807.6z"/>
		<path class="st6" d="M185.6,743.6c0,1.8-0.6,2.8-1.9,2.8c-1.8-0.1-2-1.5-1.9-2.9c0.1-1.2,0.8-2.1,2.2-1.8
			C185,741.8,185.7,742.7,185.6,743.6z"/>
		<path class="st2" d="M542.4,965.6h5.4c4-1,8.2-1.2,12.1-2.7c7.9-0.7,15.8-1.6,22.9-5.4h4c14.3-4.1,28.8-7.3,43-11.6
			c3.8-1.2,7.8-1.8,11-4.5c6.9,1.8,12.5-3,18.1-5.1c16.2-6.2,32-13.4,47.3-21.6c25.3-13.3,49.6-28.3,72.2-45.9
			c12.7-9.9,24.7-20.5,36.7-31.2c5.6-5,10.5-10.8,15.7-16.2c3-4.6,7.8-7.5,10.8-12.1c3.2-3.6,5-8.3,9.4-10.8
			c8-5.1,12.4-13.5,18.1-20.5c8.7-10.7,16.9-21.9,25.2-33c6.2-8.2,11-17.5,16.1-26.3c10.4-17.7,19.9-36.1,26.8-55.6
			c4.1-11.6,8.7-22.9,12.3-34.6c7.9-25.6,12.6-52,18.8-78.1c0.6-2.5,0.8-5.2,3.2-7.6c1.2,3.6,2.3,6.6,2.2,10
			c-0.7,17-1.5,33.8-6,50.4c-3.6,13-5,26.8-9.1,39.6c-4,12.3-5.8,25.3-12.1,36.8c-3,5.5-3.5,11.9-6.3,17.7
			c-8.7,17.6-15.8,36-26,52.8c-5.5,9.2-11.1,18.3-17.7,26.8c-4.7,6.1-6.8,14-12.7,19.5c-8.9,8.3-13.2,20.3-22,28.3
			s-14.5,19-25.3,24.8c-3.2,1.7-4.4,5-6.7,7.4c-12.3,12.3-25.4,23.7-39.3,34.2c-15.9,12-32.6,22.7-49.3,33.2
			c-13.8,8.6-29.1,14.8-43.9,21.7c-18.4,8.7-37.4,15.9-57,21.6c-23.6,6.7-47.6,12-71.8,15.8c-38.4,6-77,3.9-115.4,3.5
			c-17.7-0.2-35.4-3.1-53-6.8c-11.1-2.4-22.1-5.4-33.2-7.6c-2.4-0.5-4.9-0.8-6.7-2.7c3.5,0.5,7.1,0.8,10.6,1.5
			c29,6,58.1,11.3,87.9,12.3c18.4,0.6,36.8,1.5,55.1,0.6c24.7-1.2,49.2-4,73.5-9.5c17.4-4,34.2-9.8,51.5-13.8
			c10.4-2.5,20.4-6.6,29.5-12.2c-14.5,1.3-28.9,4-42.8,8.2c-5.2,1.5-10.5,2.2-15.9,1.9c-6.4-0.4-12,2-18,4.1
			c-6.7,2.3-14.3,2.1-21.6,2.6c-14.9,1.1-29.7,3.2-44.5,4.7c-20.4,2-40.9,3-61.6,1.3c-15.1-1.3-30.2-2.5-45.2-4.7
			c-6.9-1-14.4,0.2-20.7-4c3.9-2.5,8-0.2,11.7,0.3c18.9,2.1,37.8,4.4,56.8,5.4c15.7,0.8,31.4,0.6,47-0.6c5.1-0.4,10.3,0.8,15.3-1
			l0,0C533.3,965.1,538.1,967.5,542.4,965.6z"/>
		<path class="st9" d="M480.7,910.8c9.3-4,18.2-6.4,27.6-1.2c2,1.1,5.6,0.9,7.9,0c4.9-1.9,9.3-0.3,13.8,0.8c1.8,0.5,6,0.8,4.6,3.4
			c-1.8,3.5,3.4,8.4-2.6,10.5c-1.1,0.4-3.1,0.2-3,2.1s2,2,3.4,2.6c11.5,5,22.8,3.5,34.2-0.5c2.4-0.8,5.4-2.4,6.4,0.5
			s-3.1,4.8-4.7,4.3c-8.2-2.7-14.2,4.7-21.7,4.4c-1.1,0-2.4,0.7-3.3,0.3c-6.4-2.8-13.5-0.1-19.5-1.6c-13.7-3.4-27.6,1.3-41.1-2.2
			c-3.5-0.9-7.2,0.7-10.5,1.9c-5.3,1.9-10.2-0.4-15.2-0.9c-2-0.2-2.9-2-2.7-4s1.2-3.6,3.2-3.6c5.5,0,10.8-3,16.5-0.6
			c2.6,1,5.4,1,7.9-0.2c2.7-1.2,5-0.3,6.9,1.2c3.3,2.7,6.3,3.6,10.3,1.3c2.6-1.5,5.9-1.2,8.3,0.8c2.2,1.8,4.2,1.1,6.1-0.2
			c1.2-0.8,2.2-2.1,1.7-3.4c-0.8-2.4-2.9-3.2-5.3-3.2c-3,0-4.6-1.5-4.6-4.5c0-4.5-2.8-5-6.3-4.9c-4,0.1-8.1,0-12.1,0
			C484.4,914,482,913.8,480.7,910.8z"/>
		<path class="st9" d="M524.2,211.4c6.8,4.7,13.9-2.7,21.6-1.5c2.9,0.3,5.5,1.8,7.2,4.2c1.6,2.3-1,3.6-1.8,5.2
			c-1.5,3.3-3.5,2.8-5.7,0.5c-2.8-2.9-6.4-3.6-8.6-0.1c-3.8,6.2-10.6,2-15.2,5.2c-1.2,0.9-1.6-1-1.6-2c0-1.6-0.5-3.1-1.5-4.3
			c-1.1-1.6-4.5-2.3-2.5-5.3C518,211,520.6,211.4,524.2,211.4z"/>
		<path class="st9" d="M134.3,498.2c-0.2,1.8-1.5,3.3-2.9,3.2c-4.6-0.3-2.3,9.2-7.7,5.8c-3-1.9-0.4-6.8-1.4-10.1
			c-0.9-2.5-2.1-4.9-3.6-7.1c-1.6-2.6-1.5-5,0.4-7.4c0.9-1.3,2.7-1.9,4.2-1.2c2.7,1.1,3.3,3.7,3,6.1c-0.4,4.4,0.6,7.3,5.5,7.9
			C133.3,495.5,134.4,496.7,134.3,498.2z"/>
		<path class="st9" d="M180.6,769.6c-0.8,2.7,0.8,4.5,2.6,6.3c2.8,2.6,5.3,5.4,6.8,9c0.8,2,1.7,3.9-0.3,5.4
			c-2.4,1.8-4.3,0.1-5.7-1.6c-1.5-1.7-2.7-3.6-3.6-5.6c-1.8-5-2.4-10.3-6.3-14.5c-1.6-1.7-0.6-4.8,0.9-6.9c0.4-0.9,1.5-1.2,2.3-0.8
			c0.2,0.1,0.4,0.2,0.5,0.4C180.3,763.5,182.2,765.9,180.6,769.6z"/>
		<path class="st9" d="M460.3,214.7c6.8-1.7,14.1,0.6,20.8-2.7c2-1,5.5,1.5,6,4.2c0.6,2.9-2.1,4.8-4.6,4.4c-7.5-1-15-2.6-22.5-4
			L460.3,214.7z"/>
		<path class="st9" d="M835.8,481c0,7.8-7.4,3.5-10.8,6.1c-1.8,1.3-2.6-2.5-2.8-4.7c-0.5-6.3,5.6-6.4,8.8-8.2
			C833,473.2,835.8,477.4,835.8,481z"/>
		<path class="st16" d="M660.5,955.8c-0.2,1.1-0.5,2.2-1.8,2.6c-17.2,5-34.2,11.4-52.2,13.6c5.5-5.7,13.4-4,20-6.4
			C637.5,961.4,649.1,958.9,660.5,955.8z"/>
		<path class="st9" d="M300.2,879c-1.7,2.6-0.5,7.4-5.4,7.9c-3.9,0.4-4.8-2.4-5.1-5.5c-0.3-4.3,2.9-5,6.1-5.1
			C297.6,876.2,300,875.7,300.2,879z"/>
		<path class="st9" d="M541.7,911.8c3.6,0.4,8-2.7,10.2,1.9c0.8,1.7-1.3,3.3-3,3.8C544,919.3,543.3,914.9,541.7,911.8z"/>
		<path class="st9" d="M696.9,865.4c-1.8-0.1-3.9,0-3.9-2.5c0-3.8,3.5-3.5,5.9-4c1.9-0.4,3.4,1.3,3.1,3.4
			C701.5,865.2,699.2,865.4,696.9,865.4z"/>
		<path class="st9" d="M782.4,797.1c1.4-0.2,3,0.8,2.5,1.5c-1.7,2.5-3.5,5.3-6,6.7c-1.7,0.9-2.4-1.9-2.5-3.7
			C776.1,796.8,780.5,798.6,782.4,797.1z"/>
		<path class="st9" d="M213.8,316.1c2.5,0.7,4.3,1.9,4.2,4.6c-0.1,2.3-1.1,4-3.6,3.7s-3-2.3-3-4.5
			C211.5,318.1,211.5,316.2,213.8,316.1z"/>
		<path class="st9" d="M793.8,396.5c-0.3,1.7-0.7,3.1-2.5,2.8c-2.6-0.5-4.4-2-4.1-5c0.1-1.4,0.6-2.9,2.3-2.6
			C792.5,392,793.1,394.5,793.8,396.5z"/>
		<path class="st9" d="M655.6,265c-1,1.4-1.5,3.7-3.3,3.8c-2.5,0.1-3-2.5-3.5-4.3c-0.3-1.1,0.3-2.3,1.4-2.7c0.5-0.1,1-0.1,1.4,0.1
			C653.2,262.3,655.2,262.6,655.6,265z"/>
		<path class="st9" d="M747.8,841.1c-1.3-0.1-3.1-0.5-2.9-2c0.5-2.7,3-3.6,5.3-4.2c1.3-0.3,1.7,1,1.7,2.2
			C752,839.8,750.4,841,747.8,841.1z"/>
		<path class="st9" d="M788.2,797.5c1.6-2.2,2.4-5.3,5.5-4c1.5,0.7,2.1,2.5,1.4,3.9c0,0,0,0.1,0,0.1
			C792.9,801.6,790.5,796.8,788.2,797.5z"/>
		<path class="st9" d="M559.6,913.8c3.9-3.8,6.3-5,9.2-2.7c0.4,0.3,0.7,1.5,0.5,1.7C566.8,915,564.1,913.5,559.6,913.8z"/>
		<path class="st9" d="M686.1,865.7c1.2,0.5,3.2,0.5,2.9,2.1c-0.3,1.8-1.8,3.2-3.6,3.5c-1.6,0-2.8-1.3-2.8-2.8c0-0.1,0-0.2,0-0.3
			C682.7,866.3,684.6,866.2,686.1,865.7z"/>
		<path class="st18" d="M861.3,823.6c-1.8,5.7-6.7,8.5-10.8,12.1C852.3,830.1,857.3,827.2,861.3,823.6z"/>
		<path class="st9" d="M716.3,856.5c1.3,0.4,2.1,1.8,1.9,3.1c-0.2,1.7-1.2,3-3.1,2.5c-1.2-0.2-1.9-1.3-1.7-2.5
			c0-0.2,0.1-0.5,0.2-0.7C714.1,857.8,714.5,856.4,716.3,856.5z"/>
		<path class="st9" d="M126.4,547.4c-0.2,1.8-0.8,3.2-1.8,2.8c-1.4-0.5-2-2.2-2-3.8c0-1.2,1-2.7,1.7-2.2
			C125.4,544.9,125.9,546.5,126.4,547.4z"/>
		<path class="st3" d="M953,665.8c3.1-12.9,5.8-25.9,12.1-37.8C962.7,641.2,959,653.8,953,665.8z"/>
		<path class="st7" d="M224.9,909.9c7.9,1.1,12.8,6.4,17.5,12.2C235.9,919,229.7,915.5,224.9,909.9z"/>
		<path class="st7" d="M210.1,899.1c5.8,2.4,12.1,4.2,14.8,10.8C219,907.5,214.6,903.2,210.1,899.1z"/>
		<path class="st3" d="M949,672.6c1.4-2.2,1.9-5,4-6.7c0.3,4-1.2,7.9-4,10.8C949,675.3,949,673.9,949,672.6z"/>
		<path class="st13" d="M907,719.2c0,1.1-0.7,2.2-1.8,2.5c-1.5,0.4-1.9-0.7-1.9-1.9s0.2-2.3,1.6-2.5S906.9,717.9,907,719.2z"/>
		<path class="st14" d="M648.4,159.7c-1.4,0-2.5-1.1-2.5-2.4c-0.2-1.6,0.7-2.4,2.2-2.4s2.6,0.4,2.6,2.1
			C650.8,158.4,649.8,159.5,648.4,159.7z"/>
		<path class="st12" d="M874.8,648.2c-0.4-12.1,4.9-22.2,12-31.3c3.2-4,8.3-5.1,13.4-5c3.2,0,4.2,2,4.2,4.9
			c-0.1,5.8,0.3,11.6,1.2,17.4c1,6.3-11.2,24.3-17.2,26.8C880.1,664.4,874.8,659.4,874.8,648.2z"/>
		<path class="st10" d="M879,591.8c6-0.2,8.3,1.9,4.8,7.9c-1,1.8-0.7,4.4-1.5,6.4c-0.7,1.8-1.3,5-4.4,3.7c-2.4-1-3.8-3.2-2.3-6
			C877.5,600,878.2,595.8,879,591.8z"/>
		<path class="st10" d="M135.9,208.7c2.9-7.8,6.2-15.4,13.5-20.2C144.4,194.9,142.6,203.5,135.9,208.7z"/>
		<path class="st19" d="M857.3,234.5c0,17.1-9.5,24.3-25.2,20.4c-5.6-1.4-11.2-2.9-16.8-4.4c-0.8-0.2-2-0.3-2.4-0.9
			c-5-7.2-13.6-9.6-20-15.3c-8.2-7.4-16.2-15.2-24.9-22.2c-6.2-5-11.2-11.2-14.7-18.3c-1-2-1.8-4.1-3.6-5.6
			c-6.9-5.6-10.6-14.2-18-19.5c-2.5-1.8-3-4.4-1.7-7.2c1.5-3.1-0.3-5.7-1.2-8.4c-0.6-1.7-2.2-2.7-3.7-1.2c-3.1,3-5.9,2.1-8.9,0
			c-1.7-1.2-3.9-1.5-5.8-0.7c-3.6,1.6-6.4,0.8-9.3-1.5c-0.9-0.7-2-1.1-3.1-1c-10.8,3.1-18.3-3.7-26.3-8.8c-0.9-0.6-1.9-2.1-2.7-1.9
			c-13.9,2.1-22.6-10.9-35.4-12c-5.5-0.5-10.9,0.2-16.3,0.2c-1.5,0-3,0.4-4.5-0.3c-11.8-5.1-24.5-3.8-36.8-5.8
			c-12.1-1.9-24.4-2.5-36.4-5.1c-2.5-0.5-4.8-0.1-7.3,0.2c-11.1,1.3-22.2,1.6-32.7-3.4c-3.2-1.7-7.1-1.7-10.3,0.1
			c-2.3,1.2-4.6,2-7,0.6c-9.4-5.5-19.9-4-29.5-2.8c-8,0.9-16,0.1-23.6-2.5c-8.9-2.9-17.4-1.3-25.8,0.1c-20.8,3.4-41.5,1.9-62.3,1.1
			c-7.7-0.3-15.7-0.2-23,3c-6.7,2.9-14,4.3-20.4,8.5c-2.8,1.8-8.8,5.7-7.2-3.9c0.7-4-2.7-2.5-4.4-1c-3.2,2.9-7.3,3.1-11.2,3.7
			c-1.3,0.2-2.8,0.3-3.6-1.1c-1-1.8,0.3-3,1.4-4.1c0.6-0.7,1.2-1.3,2-1.8c16.1-8.2,29.9-20.2,46.6-27.6c8.1-3.7,15.5-8.6,22.1-14.6
			c5.4-4.9,13.4-5.6,20.6-7.3c1.7-0.4,3.6,0.2,5.2-0.9c18.6-13.4,41.5-14.1,62.5-20.1c8.3-2.3,17.6-4.6,26.3-4.3
			c17.2,0.6,33.9-3.7,51.1-3.5c24.9,0.4,49.8,2.4,74.5,6.2c13.3,1.9,26.4,6.4,39.1,11.5c9.5,3.8,19.4,6.6,29.5,8.4
			c8.4,1.5,15.5,6.7,23.5,9.5c15.3,5.2,29,13.8,43.6,20.6c11.7,5.4,22.6,12.6,32.2,21.3c8.5,7.8,19.1,12.5,28,19.5
			c11.3,8.8,22.9,17,31.9,28.7c7.8,10.2,17.6,18.9,24.9,29.6c6,8.9,11,18.4,16.6,27.6C856.6,222,858.4,228.6,857.3,234.5z"/>
		<path class="st20" d="M280.5,160.2c6.5-0.9,11.2,2.6,13.5,8.3c2.7,6.4,0.6,13-3.5,18.2c-6.5,8.1-14.4,14.3-24.9,17
			c-6.8,1.7-12.5,1.1-17.4-3.5c-4.6-4.4-3.3-10.2-2.4-15.8C247.6,173.2,267.5,158.7,280.5,160.2z"/>
		<path class="st4" d="M210.3,199.1c-1.5,0.1-2.6-0.5-2.7-2.2c-0.2-1.9,0.6-3,2.6-2.9c1.2-0.1,2.3,0.8,2.4,2c0,0.2,0,0.3,0,0.5
			c0.2,1.2-0.6,2.4-1.8,2.6C210.6,199.1,210.4,199.1,210.3,199.1z"/>
		<path class="st7" d="M548.5,981.4c-6.5,2.5-13.5,2.1-20.2,2.5c-14.8,0.8-29.5,0.9-44.3,0.1c-17.3-1-34.6-2.1-51.7-5
			c-4.8-0.8-9.7-1.1-14.6-1.6c-12.7-2.1-25.4-4.7-37.9-7.8c-14.7-3.6-29.5-6.6-43.7-12.1c-3.7-1.5-5.4,3.1-9.3,1.7
			c-5.5-1.9-11-3.9-16.3-6.2c-15.2-6.5-30.4-12.9-43.8-22.8c11.2,2,21.9,5.7,32.4,9.7c13.9,5.4,28.4,9.1,42.2,14.7s28.7,8,43,12.1
			c7.7,2.2,15.8,3,23.4,5.3c15.4,4.8,31.5,4.6,47.2,7.5c6.3,1.2,12.9,1.1,19.3,1.9C499,984.4,523.7,981.1,548.5,981.4z"/>
		<path class="st7" d="M245.1,916.7c4.6,1.7,8.8,4.4,12.1,8.1C252.4,923.6,248,920.7,245.1,916.7z"/>
		<path class="st7" d="M579.5,977.3c-3.6,3-7.9,2.7-12.1,2.7C571.1,977.7,575.2,977.2,579.5,977.3z"/>
		<path class="st7" d="M562,980c-4.3,2.7-9,0.7-13.5,1.3C552.8,978.6,557.5,980.6,562,980z"/>
		<path class="st10" d="M62.3,344.1c0-4.4,1.8-7.1,5.2-8.9c1.6-0.8,3.5-1.4,3.6-3.6c0.2-6.6,3.9-4,6.6-2.2c5.7,3.9,6.8,9.5,4.2,16.1
			c3.6-0.2,3.5-3.1,4.8-4.6c1.7-1.9,3.7-4.3,6-1.8c1.9,2.1,4.1,5.5,0.7,8.1c-2.7,2.1-5,4.3-6.4,7.5c-0.8,1.9-3,2.8-4.9,2
			c-0.1,0-0.1-0.1-0.2-0.1c-2.5-1.1-5.4-3-4.9-5.7c0.7-4.5,0.5-7-5-7.8C68.6,342.8,65.6,340,62.3,344.1z"/>
		<path class="st10" d="M55.9,375.7c-3-0.4-2.5-2.9-2-4.6c1.4-5.4,3.1-10.7,4.9-16c1-2.9,3.4-4.7,6.2-2.5c2.4,1.9,3.6,6.2,1.2,7.7
			c-5.2,3.1-8,6.7-7.4,12.9C58.8,374.4,57.5,375.5,55.9,375.7z"/>
		<path class="st10" d="M249,239.4c-1,3.7-4.6,3.3-7.4,4.2c-0.9,0.3-2.9,0.1-2.5-1.2c1-3.7,5.2-3.3,7.7-5.1
			C247.8,236.7,248.8,237.9,249,239.4z"/>
		<path class="st10" d="M54.8,412.2c-0.3-3.4,0.6-5.9,3.5-7.3c1.4-0.7,2.1,0.5,2,1.7C60.2,410,58.4,411.8,54.8,412.2z"/>
		<path class="st21" d="M296.6,733.2c-6.9-0.1-16.5-9.9-16.1-16.4c0.2-3.4,7.1-9.1,10.7-8.8c6.4,0.5,14.4,9,14.5,15.5
			C305.9,729.8,302.5,733.4,296.6,733.2z"/>
	</g>
</g>


			<g id="inner-colour-1-1">
				<path class="balloon-colour-2" :style="balloonstyles" d="M442.3,773.3c13.4,65-29.6,138.1-76.6,153.6c1.9,2.3,3.6,6.4,7.1,6.8l0.4-0.2c0.7-0.5,1.6-0.3,2.1,0.4
					c0,0.1,0.1,0.2,0.1,0.2c0.4,0.8,0.1,1.8-0.7,2.2c-0.1,0-0.1,0.1-0.2,0.1c-4.8,2.7-10.1,4.4-15.6,5c-0.9,0.2-1.9-0.3-2.1-1.2
					c0,0,0-0.1,0-0.1c-0.1-0.8,0.4-1.6,1.3-1.8c0.1,0,0.2-0.1,0.3-0.1h0.3c2.8-2.9,1.7-7.1,1.9-9.9l-1.7,0.4
					c-49.5,10.2-124.1-41.6-138.1-109.7s24.1-133.6,85.3-146.2S428.2,705.2,442.3,773.3z"/>
			</g>
			<g id="inner-colour-1-2">
				<path class="balloon-colour-2" :style="balloonstyles" d="M623.7,651.9c-17.5,64-89,109.7-137.9,102.1c0.7,2.9,0.4,7.3,3.3,9.3h0.5c0.8-0.1,1.6,0.5,1.7,1.3
					c0,0.1,0,0.2,0,0.3c0,0.9-0.7,1.6-1.6,1.6c-0.1,0-0.1,0-0.2,0c-5.5,0.3-11-0.6-16.2-2.6c-0.9-0.2-1.5-1.1-1.3-2.1c0,0,0-0.1,0-0.1
					c0.3-0.8,1.1-1.3,1.9-1c0.1,0,0.2,0,0.3,0.1l0.3,0.1c3.8-1.3,4.8-5.5,6.2-8l-1.7-0.4c-48.8-13.4-91.7-93.3-73.3-160.4
					s82.1-108.1,142.3-91.6C608.1,517.1,642.1,584.8,623.7,651.9z"/>
			</g>
			<g id="inner-colour-2-1">
				<path class="balloon-colour-1" :style="balloonstyles" d="M633.7,829.9C627.3,896,564.6,953.1,515.1,954c1.2,2.8,1.6,7.2,4.8,8.7l0.5-0.1c0.8-0.3,1.7,0.2,1.9,0.9
					c0,0.1,0.1,0.2,0.1,0.3c0.2,0.9-0.4,1.7-1.3,1.9c-0.1,0-0.1,0-0.2,0c-5.4,1.2-11,1.3-16.4,0.2c-1,0-1.7-0.8-1.7-1.8
					c0,0,0-0.1,0-0.1c0.1-0.8,0.9-1.4,1.7-1.3h0.3l0.3,0.1c3.5-2,3.8-6.3,4.7-8.9l-1.8-0.2c-50.4-4.9-106.2-76.4-99.5-145.6
					s62.5-120.5,124.7-114.5S640.4,760.7,633.7,829.9z"/>
			</g>
			<g id="inner-colour-1-3">
				<path class="balloon-colour-2" :style="balloonstyles" d="M797.8,830.7c-27.3,60.5-105.1,94.4-152.2,79.3c0.2,3-0.8,7.3,1.8,9.8l0.5,0.1c0.8,0,1.5,0.7,1.5,1.6
					c0,0.1,0,0.2,0,0.3c-0.1,0.9-1,1.5-1.9,1.4c-0.1,0-0.1,0-0.1,0c-5.5-0.6-10.8-2.3-15.6-5.1c-0.9-0.3-1.4-1.3-1-2.2c0,0,0-0.1,0-0.1
					c0.4-0.8,1.3-1.1,2.1-0.7l0.3,0.1c0.1,0.1,0.2,0.1,0.3,0.2c4-0.7,5.6-4.7,7.3-6.9l-1.6-0.7c-46.1-20.8-76-106.5-47.4-169.9
					s98-94,154.9-68.2S826.4,767.3,797.8,830.7z"/>
			</g>
			<g id="inner-colour-2-1_1_">
				<path class="balloon-colour-1" :style="balloonstyles" d="M890,726.6c-39.2,53.5-122.3,70.7-165.3,46.1c-0.4,3-2.3,7-0.3,9.9l0.4,0.2c0.8,0.2,1.3,1,1.1,1.9
					c0,0.1,0,0.2-0.1,0.2c-0.3,0.8-1.2,1.3-2.1,1c-0.1,0-0.1-0.1-0.2-0.1c-5.3-1.7-10.1-4.5-14.2-8.2c-0.8-0.5-1-1.6-0.5-2.4
					c0,0,0-0.1,0.1-0.1c0.5-0.7,1.5-0.8,2.2-0.2l0.2,0.2l0.3,0.2c4,0.1,6.4-3.5,8.6-5.2l-1.5-1c-40.8-29.9-52.4-119.9-11.2-176
					s115.3-71.7,165.7-34.7S931.1,670.5,890,726.6z"/>
			</g>
			<g id="inner-colour-2-1_2_">
				<path class="balloon-colour-1" :style="balloonstyles" d="M311.7,642c29.7,59.3,7,141.1-34.4,168.1c2.5,1.7,5.2,5.2,8.7,4.8l0.3-0.3c0.5-0.6,1.5-0.7,2.1-0.2
					c0.1,0.1,0.1,0.1,0.2,0.2c0.6,0.7,0.6,1.7-0.1,2.3c-0.1,0-0.1,0.1-0.2,0.1c-3.9,3.9-8.6,6.9-13.8,8.9c-0.8,0.5-1.9,0.2-2.4-0.6
					c0,0,0-0.1,0-0.1c-0.3-0.8,0-1.7,0.8-2l0.3-0.1l0.3-0.1c2-3.5-0.2-7.3-0.7-10.1c-0.5,0.3-1,0.5-1.6,0.8
					c-45.2,22.6-130.6-8.2-161.7-70.3S98.3,608,154.2,580S280.6,579.8,311.7,642z"/>
			</g>

		</svg>
		<div class="balloon-text-container d-table w-100 h-100">
			<div class="d-table-cell align-middle w-100 h-100">
				<p class="balloon-text px-3 mb-0" :style="balloonstyles">{{this.text}}</p>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
	props:{
		id: String,
		balloons: Array,
		weighthex: String,
		textcolourhex: String,
		text: String,
		font: String,
	},
 	computed: {
    balloonstyles() {
      return {
        '--balloon-colour-1': this.balloons[0].hex,
        '--balloon-colour-2': this.balloons[1].hex,
        '--weight-colour': this.weighthex,
        '--balloon-text-font': this.font + ', sans-serif',
        '--balloon-text-colour': this.textcolourhex
      }
    }
  },
	data() {
    return {
      loaded: false,
    }
  },
}
</script>
<style lang="scss">

	.st0{opacity:0.8;}
	.st1{opacity:0.5;}
	.st2{fill:#A2B2C9;}
	.st3{fill:#D1D7DD;}
	.st4{fill:#E0E2E6;}
	.st5{fill:#D8DCE0;}
	.st6{fill:#C6CDD8;}
	.st7{fill:#A7B5C7;}
	.st8{fill:#D4D9DF;}
	.st9{fill:#C6CDD7;}
	.st10{fill:#DBDDE2;}
	.st11{fill:#D6DBE0;}
	.st12{fill:#E7E9EB;}
	.st13{fill:#DBDEE2;}
	.st14{fill:#E9EBEC;}
	.st15{fill:#9AABC4;}
	.st16{fill:#B8C0D0;}
	.st17{fill:#D9DEE3;}
	.st18{fill:#BDC6D1;}
	.st19{fill:#F9F9F9;}
	.st20{fill:#FBFBFB;}
	.st21{fill:#D7DBE1;}
	.balloon-colour-2{fill: var(--balloon-colour-2);}
	.balloon-colour-1{fill: var(--balloon-colour-1);}

	#balloon-path-1{
		fill: var(--balloon-colour-1);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	#balloon-path-2{
		fill: var(--balloon-colour-2);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}

	#weight{
		fill: var(--weight-colour);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	.balloon-text-container{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.balloon-text{
		color: var(--balloon-text-colour);
		font-family: var(--balloon-text-font);
		font-size: 28px;
	}
</style>