<template>
	<div class="container">
		<div class="card p-5 mob-px-3 border-0 shadow">
			<form class="container" @submit.prevent="submit">
				<div class="row">
					<div class="col-lg-5 pr-5 mob-px-3 mob-mb-4">
						<five-latex-balloons :id="'custom-five'" :balloons='fields.balloons' :weighthex="fields.weighthex" v-if="loaded == true"></five-latex-balloons>
					</div>
					<div class="col-lg-7 mob-px-0">
						<div class="row half_row">
							<div class="col-lg-6 half_col text-left">
								<label class="pl-3 mb-2"><b>Balloon 1 colour</b></label>
								<div class="select-holder mb-4">
				          <select id="balloon-1-colour" class="form-control" v-model="fields.balloon1" @change="changeBalloonColour(0, 'balloon-1-colour')">
				          	<option data-hex="#add8ea" value="Pearl Light Blue">Pearl Light Blue</option>
				          	<option data-hex="#ead936" value="Pearl Citrine Yellow">Pearl Citrine Yellow</option>
				            <option data-hex="#e57727" value="Pearl Mandarin Orange">Pearl Mandarin Orange</option>
				            <option data-hex="#bb4879" value="Pearl Magenta">Pearl Magenta</option>
				            <option data-hex="#C12D2D" value="Pearl Ruby Red">Pearl Ruby Red</option>
				            <option data-hex="#900048" value="Pearl Burgundy">Pearl Burgundy</option>
				            <option data-hex="#553d91" value="Pearl Quartz Purple">Pearl Quartz Purple</option>
				            <option data-hex="#0359a1" value="Pearl Sapphire Blue">Pearl Sapphire Blue</option>
				            <option data-hex="#478388" value="Pearl Teal">Pearl Teal</option>
				            <option data-hex="#003a58" value="Pearl Midnight Blue">Pearl Midnight Blue</option>
				            <option data-hex="#8aad51" value="Pearl Lime Green">Pearl Lime Green</option>
				            <option data-hex="#345e41" value="Pearl Forest Green">Pearl Forest Green</option>
				            <option data-hex="#007f5b" value="Pearl Emerald Green">Pear Emerald Green</option>
				            <option data-hex="#131510" value="Pearl Onyx Black">Pearl Onyx Black</option>
				            <option data-hex="#ebe8e7" value="Pearl White">Pearl White</option>
				            <option data-hex="#efe0b1" value="Pearl Ivory">Pearl Ivory</option>
				            <option data-hex="#e7de81" value="Pearl Lemon Chiffon">Pearl Lemon Chiffon</option>
				            <option data-hex="#dfb8aa" value="Pearl Peach">Pearl Peach</option>
				            <option data-hex="#ebb9c9" value="Pearl Pink">Pearl Pink</option>
				            <option data-hex="#bc99c4" value="Pearl Lavender">Pearl Lavender</option>
				            <option data-hex="#77bbde" value="Pearl Azure">Pearl Azure</option>
				            <option data-hex="#c6e2d7" value="Pearl Mint Green">Pearl Mint Green</option>
				            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
				            <option data-hex="#98989b" value="Metallic Silver">Metallic Silver</option>
				            <option data-hex="#C39440" value="Metallic Gold">Metallic Gold</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-lg-6 half_col text-left">
		        		<label class="pl-3 mb-2"><b>Balloon 2 colour</b></label>
								<div class="select-holder mb-4">
				          <select id="balloon-2-colour" class="form-control" v-model="fields.balloon2" @change="changeBalloonColour(1, 'balloon-2-colour')">
				          	<option data-hex="#add8ea" value="Pearl Light Blue">Pearl Light Blue</option>
				          	<option data-hex="#ead936" value="Pearl Citrine Yellow">Pearl Citrine Yellow</option>
				            <option data-hex="#e57727" value="Pearl Mandarin Orange">Pearl Mandarin Orange</option>
				            <option data-hex="#bb4879" value="Pearl Magenta">Pearl Magenta</option>
				            <option data-hex="#C12D2D" value="Pearl Ruby Red">Pearl Ruby Red</option>
				            <option data-hex="#900048" value="Pearl Burgundy">Pearl Burgundy</option>
				            <option data-hex="#553d91" value="Pearl Quartz Purple">Pearl Quartz Purple</option>
				            <option data-hex="#0359a1" value="Pearl Sapphire Blue">Pearl Sapphire Blue</option>
				            <option data-hex="#478388" value="Pearl Teal">Pearl Teal</option>
				            <option data-hex="#003a58" value="Pearl Midnight Blue">Pearl Midnight Blue</option>
				            <option data-hex="#8aad51" value="Pearl Lime Green">Pearl Lime Green</option>
				            <option data-hex="#345e41" value="Pearl Forest Green">Pearl Forest Green</option>
				            <option data-hex="#007f5b" value="Pearl Emerald Green">Pear Emerald Green</option>
				            <option data-hex="#131510" value="Pearl Onyx Black">Pearl Onyx Black</option>
				            <option data-hex="#ebe8e7" value="Pearl White">Pearl White</option>
				            <option data-hex="#efe0b1" value="Pearl Ivory">Pearl Ivory</option>
				            <option data-hex="#e7de81" value="Pearl Lemon Chiffon">Pearl Lemon Chiffon</option>
				            <option data-hex="#dfb8aa" value="Pearl Peach">Pearl Peach</option>
				            <option data-hex="#ebb9c9" value="Pearl Pink">Pearl Pink</option>
				            <option data-hex="#bc99c4" value="Pearl Lavender">Pearl Lavender</option>
				            <option data-hex="#77bbde" value="Pearl Azure">Pearl Azure</option>
				            <option data-hex="#c6e2d7" value="Pearl Mint Green">Pearl Mint Green</option>
				            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
				            <option data-hex="#98989b" value="Metallic Silver">Metallic Silver</option>
				            <option data-hex="#C39440" value="Metallic Gold">Metallic Gold</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-lg-6 half_col text-left">
		        		<label class="pl-3 mb-2"><b>Balloon 3 colour</b></label>
								<div class="select-holder mb-4">
				          <select id="balloon-3-colour" class="form-control" v-model="fields.balloon3" @change="changeBalloonColour(2, 'balloon-3-colour')">
				          	<option data-hex="#add8ea" value="Pearl Light Blue">Pearl Light Blue</option>
				          	<option data-hex="#ead936" value="Pearl Citrine Yellow">Pearl Citrine Yellow</option>
				            <option data-hex="#e57727" value="Pearl Mandarin Orange">Pearl Mandarin Orange</option>
				            <option data-hex="#bb4879" value="Pearl Magenta">Pearl Magenta</option>
				            <option data-hex="#C12D2D" value="Pearl Ruby Red">Pearl Ruby Red</option>
				            <option data-hex="#900048" value="Pearl Burgundy">Pearl Burgundy</option>
				            <option data-hex="#553d91" value="Pearl Quartz Purple">Pearl Quartz Purple</option>
				            <option data-hex="#0359a1" value="Pearl Sapphire Blue">Pearl Sapphire Blue</option>
				            <option data-hex="#478388" value="Pearl Teal">Pearl Teal</option>
				            <option data-hex="#003a58" value="Pearl Midnight Blue">Pearl Midnight Blue</option>
				            <option data-hex="#8aad51" value="Pearl Lime Green">Pearl Lime Green</option>
				            <option data-hex="#345e41" value="Pearl Forest Green">Pearl Forest Green</option>
				            <option data-hex="#007f5b" value="Pearl Emerald Green">Pear Emerald Green</option>
				            <option data-hex="#131510" value="Pearl Onyx Black">Pearl Onyx Black</option>
				            <option data-hex="#ebe8e7" value="Pearl White">Pearl White</option>
				            <option data-hex="#efe0b1" value="Pearl Ivory">Pearl Ivory</option>
				            <option data-hex="#e7de81" value="Pearl Lemon Chiffon">Pearl Lemon Chiffon</option>
				            <option data-hex="#dfb8aa" value="Pearl Peach">Pearl Peach</option>
				            <option data-hex="#ebb9c9" value="Pearl Pink">Pearl Pink</option>
				            <option data-hex="#bc99c4" value="Pearl Lavender">Pearl Lavender</option>
				            <option data-hex="#77bbde" value="Pearl Azure">Pearl Azure</option>
				            <option data-hex="#c6e2d7" value="Pearl Mint Green">Pearl Mint Green</option>
				            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
				            <option data-hex="#98989b" value="Metallic Silver">Metallic Silver</option>
				            <option data-hex="#C39440" value="Metallic Gold">Metallic Gold</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-lg-6 half_col text-left">
		        		<label class="pl-3 mb-2"><b>Balloon 4 colour</b></label>
								<div class="select-holder mb-4">
				          <select id="balloon-4-colour" class="form-control" v-model="fields.balloon4" @change="changeBalloonColour(3, 'balloon-4-colour')">
				          	<option data-hex="#add8ea" value="Pearl Light Blue">Pearl Light Blue</option>
				          	<option data-hex="#ead936" value="Pearl Citrine Yellow">Pearl Citrine Yellow</option>
				            <option data-hex="#e57727" value="Pearl Mandarin Orange">Pearl Mandarin Orange</option>
				            <option data-hex="#bb4879" value="Pearl Magenta">Pearl Magenta</option>
				            <option data-hex="#C12D2D" value="Pearl Ruby Red">Pearl Ruby Red</option>
				            <option data-hex="#900048" value="Pearl Burgundy">Pearl Burgundy</option>
				            <option data-hex="#553d91" value="Pearl Quartz Purple">Pearl Quartz Purple</option>
				            <option data-hex="#0359a1" value="Pearl Sapphire Blue">Pearl Sapphire Blue</option>
				            <option data-hex="#478388" value="Pearl Teal">Pearl Teal</option>
				            <option data-hex="#003a58" value="Pearl Midnight Blue">Pearl Midnight Blue</option>
				            <option data-hex="#8aad51" value="Pearl Lime Green">Pearl Lime Green</option>
				            <option data-hex="#345e41" value="Pearl Forest Green">Pearl Forest Green</option>
				            <option data-hex="#007f5b" value="Pearl Emerald Green">Pear Emerald Green</option>
				            <option data-hex="#131510" value="Pearl Onyx Black">Pearl Onyx Black</option>
				            <option data-hex="#ebe8e7" value="Pearl White">Pearl White</option>
				            <option data-hex="#efe0b1" value="Pearl Ivory">Pearl Ivory</option>
				            <option data-hex="#e7de81" value="Pearl Lemon Chiffon">Pearl Lemon Chiffon</option>
				            <option data-hex="#dfb8aa" value="Pearl Peach">Pearl Peach</option>
				            <option data-hex="#ebb9c9" value="Pearl Pink">Pearl Pink</option>
				            <option data-hex="#bc99c4" value="Pearl Lavender">Pearl Lavender</option>
				            <option data-hex="#77bbde" value="Pearl Azure">Pearl Azure</option>
				            <option data-hex="#c6e2d7" value="Pearl Mint Green">Pearl Mint Green</option>
				            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
				            <option data-hex="#98989b" value="Metallic Silver">Metallic Silver</option>
				            <option data-hex="#C39440" value="Metallic Gold">Metallic Gold</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-lg-6 half_col text-left">
		        		<label class="pl-3 mb-2"><b>Balloon 5 colour</b></label>
								<div class="select-holder mb-4">
				          <select id="balloon-5-colour" class="form-control" v-model="fields.balloon5" @change="changeBalloonColour(4, 'balloon-5-colour')">
				          	<option data-hex="#add8ea" value="Pearl Light Blue">Pearl Light Blue</option>
				          	<option data-hex="#ead936" value="Pearl Citrine Yellow">Pearl Citrine Yellow</option>
				            <option data-hex="#e57727" value="Pearl Mandarin Orange">Pearl Mandarin Orange</option>
				            <option data-hex="#bb4879" value="Pearl Magenta">Pearl Magenta</option>
				            <option data-hex="#C12D2D" value="Pearl Ruby Red">Pearl Ruby Red</option>
				            <option data-hex="#900048" value="Pearl Burgundy">Pearl Burgundy</option>
				            <option data-hex="#553d91" value="Pearl Quartz Purple">Pearl Quartz Purple</option>
				            <option data-hex="#0359a1" value="Pearl Sapphire Blue">Pearl Sapphire Blue</option>
				            <option data-hex="#478388" value="Pearl Teal">Pearl Teal</option>
				            <option data-hex="#003a58" value="Pearl Midnight Blue">Pearl Midnight Blue</option>
				            <option data-hex="#8aad51" value="Pearl Lime Green">Pearl Lime Green</option>
				            <option data-hex="#345e41" value="Pearl Forest Green">Pearl Forest Green</option>
				            <option data-hex="#007f5b" value="Pearl Emerald Green">Pear Emerald Green</option>
				            <option data-hex="#131510" value="Pearl Onyx Black">Pearl Onyx Black</option>
				            <option data-hex="#ebe8e7" value="Pearl White">Pearl White</option>
				            <option data-hex="#efe0b1" value="Pearl Ivory">Pearl Ivory</option>
				            <option data-hex="#e7de81" value="Pearl Lemon Chiffon">Pearl Lemon Chiffon</option>
				            <option data-hex="#dfb8aa" value="Pearl Peach">Pearl Peach</option>
				            <option data-hex="#ebb9c9" value="Pearl Pink">Pearl Pink</option>
				            <option data-hex="#bc99c4" value="Pearl Lavender">Pearl Lavender</option>
				            <option data-hex="#77bbde" value="Pearl Azure">Pearl Azure</option>
				            <option data-hex="#c6e2d7" value="Pearl Mint Green">Pearl Mint Green</option>
				            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
				            <option data-hex="#98989b" value="Metallic Silver">Metallic Silver</option>
				            <option data-hex="#C39440" value="Metallic Gold">Metallic Gold</option>
				          </select>
		        		</div>
		        	</div>
        			<div class="col-6 half_col text-left">
								<label class="pl-3 mb-2"><b>Weight Colour</b></label>
	      				<div class="select-holder mb-3">
					        <select id="weightcolour" class="form-control" v-model="fields.weight" @change="changeWeightColour()">
					        	<option data-hex="#9b9b9b" value="Silver">Silver</option>
					          <option data-hex="#a58b0c" value="Gold">Gold</option>
					          <option data-hex="#ffffff" value="White">White</option>
					          <option data-hex="#000000" value="Black">Black</option>
					          <option data-hex="#ead936" value="Yellow">Yellow</option>
					          <option data-hex="#f4194f" value="Red">Red</option>
					          <option data-hex="#1c3bf2" value="Blue">Blue</option>
					          <option data-hex="#27b512" value="Green">Green</option>
					          <option data-hex="#d81db0" value="Pink">Pink</option>
					          <option data-hex="#e27e1a" value="Orange">Orange</option>
					          <option data-hex="#931ae2" value="Purple">Purple</option>
					        </select>
					  		</div>
					  	</div>
					  	<div class="col-6 col-lg-12 half_col text-left">
					  		<label class="pl-3 mb-1"><b>Quantity*</b></label>
	      				<div class="select-holder">
					        <select id="quantity" class="form-control" v-model="fields.quantity" @change="calculateTotal">
					          <option value="1">1</option>
					          <option value="2">2</option>
					          <option value="3">3</option>
					          <option value="4">4</option>
					          <option value="5">5</option>
					          <option value="6">6</option>
					          <option value="7">7</option>
					          <option value="8">8</option>
					          <option value="9">9</option>
					        </select>
					  		</div>
					  		<p class="text-small ml-3 mb-0 d-none d-lg-block">*Please <a href="/contact">get in touch</a> to order over 9 units</p>
					  	</div>
					  	<div class="col-12">
					  		<p class="text-small ml-3 mb-0 d-lg-none">*Please <a href="/contact">get in touch</a> to order over 9 units</p>
								<hr class="my-4">
							</div>
					  	<div class="col-12 half_col text-left">
					  		<div class="form-check mb-4">
						      <input class="form-check-input" type="checkbox" value="" id="accept" required>
						      <label class="form-check-label" for="accept">
						        I understand that my balloons will not look identical to the graphics shown and the final product may differ in appearance.
						      </label>
						    </div>
						    <p class="text-larger mb-1 text-center text-lg-right"><b>Total:</b> £{{fields.total}} <button type="submit" class="btn btn-red ml-4">Add to basket</button></p>
		        		
						  </div>
					  </div>
        	</div>
				</div>
			</form>
		</div>
		<custom-confirm-add-to-basket :product="'Bunch of 5 balloons'" :qty="fields.quantity" v-if="confirm"></custom-confirm-add-to-basket>
	</div>
</template>
<script>
	const FiveLatexBalloons = () => import(/* webpackChunkName: "FiveLatexBalloons" */ './FiveLatexBalloons.vue');
	const CustomConfirmAddToBasket = () => import(/* webpackChunkName: "CustomConfirmAddToBasket" */ './CustomConfirmAddToBasket.vue');
	export default {
	components:{
		FiveLatexBalloons,
		CustomConfirmAddToBasket,
	},
	data() {
    return {
    	pagetext:{
    		title: 'Bunch of 5 Balloons',
    		text: 'Create your own bunch of 5 balloons with our bunch builder! You can select your own colours and order up to 9 units of each bunch online, for orders over 9 units please <a href="/contact">get in touch</a>.', 
    	},
    	fields:{
    		balloons: [],
    		balloon1: "Pearl Light Blue",
    		balloon2: "Pearl Light Blue",
    		balloon3: "Pearl Light Blue",
    		balloon4: "Pearl Light Blue",
    		balloon5: "Pearl Light Blue",
    		weight: 'Silver',
    		weighthex: '#9b9b9b',
	      quantity: 1,
	      notes: '',
	      price: 13.50,
	      total: 13.50,
    	},
      errors: {},
      confirm: false,
      loaded: false,
    }
  },
	mounted(){
		this.$emit('loaded', this.pagetext);
		for(var x = 0; x < 5; x++){
			var balloon = {
				'type': 'Latex',
				'colour': "Pearl Light Blue",
				'hex': "#d6e3f1", 
				'id': x
			};
			this.fields.balloons.push(balloon);
		}
		this.loaded = true;
	},
	methods: {
		calculateTotal(){
			this.fields.total = (this.fields.price * this.fields.quantity).toFixed(2);
		},
		changeBalloonColour(i, id){
			this.fields.balloons[i].hex = document.getElementById(id).querySelector(':checked').getAttribute('data-hex');
		},
		changeWeightColour(i, id){
			this.fields.weighthex = document.getElementById('weightcolour').querySelector(':checked').getAttribute('data-hex');
		},
		submit(val){
			axios.post('/add-decorfive-to-basket', this.fields)
        .then(response => {
        	console.log(response.data);
          this.confirm = true;
        })
        .catch(error => {
          // Error handling
          console.log(error.response);
          this.confirm = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
		},
  },
}
</script>
<style lang="scss">

</style>