<template>
	<div class="custom-balloon-container position-relative text-center">
		<svg :id="id" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1755.21 3126.17">

			<path id="ribbon-path-5" :style="balloonstyles" data-name="Path 2033" d="M1012.86,3095.66l-7.31,10.92c-22.6-36.41-22.87-71.72-23.14-105.86-.26-33.66-.54-68.47-22.8-104.37s-44.66-37.59-66.3-39.24c-21.94-1.66-44.64-3.4-67.24-39.82s-22.88-71.71-23.14-105.84c-.26-33.68-.53-68.48-22.81-104.38s-44.64-37.59-66.28-39.23c-21.93-1.68-44.63-3.4-67.22-39.82s-22.88-71.71-23.15-105.85c-.26-33.65-.54-68.46-22.8-104.36l7.29-10.92c22.6,36.41,22.87,71.72,23.15,105.84.26,33.66.53,68.48,22.8,104.36s44.65,37.6,66.29,39.23c21.94,1.68,44.63,3.4,67.23,39.83s22.87,71.72,23.14,105.84c.26,33.67.53,68.48,22.8,104.37s44.65,37.59,66.3,39.23c22,1.67,44.64,3.4,67.24,39.83s22.87,71.72,23.14,105.85C990.3,3025,990.59,3059.75,1012.86,3095.66Z" transform="translate(-73.07 -59.42)"/>

			<path id="ribbon-path-4" :style="balloonstyles" data-name="Path 2033" d="M1004.15,3063.63,990,3070.05c.76-53.07,22.89-89.93,44.27-125.56,21.1-35.14,42.9-71.47,43.67-123.79s-20.29-69.17-40.62-85.5c-20.63-16.53-42-33.64-41.19-86.73s22.87-89.91,44.25-125.54c21.11-35.14,42.91-71.47,43.67-123.78s-20.27-69.17-40.61-85.48c-20.62-16.54-42-33.65-41.18-86.73s22.88-89.91,44.27-125.55c21.08-35.13,42.89-71.46,43.66-123.77l14.12-6.42c-.75,53.07-22.88,89.92-44.25,125.55-21.09,35.13-42.91,71.47-43.65,123.77s20.26,69.17,40.61,85.48c20.62,16.55,41.94,33.64,41.18,86.73s-22.89,89.92-44.26,125.53c-21.1,35.15-42.91,71.49-43.67,123.79s20.29,69.17,40.63,85.49c20.63,16.54,42,33.65,41.19,86.73s-22.88,89.93-44.27,125.56C1026.71,2975,1004.91,3011.32,1004.15,3063.63Z" transform="translate(-73.07 -59.42)"/>

			<path id="ribbon-path-3" :style="balloonstyles" data-name="Path 2033" d="M1015.73,3113.7l-11.27,11.78c-19.57-65.56-12.2-117-5.09-166.73,7-49.05,14.27-99.76-5-164.38s-46.15-79.61-72.12-94.14c-26.34-14.7-53.58-29.93-73.15-95.5s-12.21-117-5.1-166.7c7-49.06,14.29-99.76-5-164.38s-46.14-79.61-72.11-94.11c-26.33-14.72-53.57-29.94-73.13-95.5s-12.21-117-5.09-166.71c7-49,14.27-99.75-5-164.36l11.25-11.78c19.57,65.56,12.2,117,5.1,166.71-7,49-14.28,99.76,5,164.35s46.12,79.62,72.1,94.12c26.34,14.73,53.57,29.94,73.14,95.5s12.19,117,5.09,166.7c-7,49.06-14.28,99.77,5,164.38s46.14,79.6,72.13,94.12c26.34,14.71,53.57,29.93,73.13,95.51s12.21,117,5.1,166.71C1003.7,2998.36,996.45,3049.07,1015.73,3113.7Z" transform="translate(-73.07 -59.42)"/>

			<path id="ribbon-path-2" :style="balloonstyles" data-name="Path 2033" d="M1009,3066.92l-10.3,20.49c-10.53-69.94-71.16-162.26-60.31-211.23,10.71-48.29,21.78-98.22,11.42-167.16s-32-89.1-52.91-108.62c-21.2-19.77-43.13-40.24-53.65-110.19s.7-120.56,11.55-169.52c10.72-48.3,21.79-98.23,11.42-167.16s-32-89.09-52.89-108.6c-21.19-19.78-43.12-40.24-53.64-110.18s.69-120.56,11.56-169.53C782,1716.94,793,1667,782.67,1598.08l10.78-9.82c10.53,69.93-.7,120.57-11.55,169.53-10.71,48.29-21.79,98.22-11.41,167.14s32,89.1,52.89,108.59c21.2,19.8,43.12,40.25,53.65,110.2s-.71,120.57-11.56,169.51c-10.72,48.31-21.79,98.24-11.42,167.16s32,89.09,52.92,108.61c21.2,19.78,43.12,40.24,53.64,110.2s-.7,120.57-11.56,169.54C938.33,2917.05,979.31,3004.63,1009,3066.92Z" transform="translate(-73.07 -59.42)"/>
			
			<path id="ribbon-path-1" :style="balloonstyles" data-name="Path 2033" d="M1010.25,3022,998.1,3048c-4.12-97.2-56.21-234.42-40.9-299,15.11-63.69,30.72-129.56,26.68-225.37s-23.8-127.37-42.88-157.93c-19.36-31-39.37-63-43.49-160.2s11.72-164,27-228.56c15.11-63.71,30.73-129.56,26.68-225.37s-23.79-127.36-42.87-157.89c-19.35-31-39.36-63-43.48-160.2s11.72-164,27-228.57c15.1-63.68,30.72-129.54,26.67-225.33l11.66-11.32c4.12,97.2-11.72,164-27,228.57-15.11,63.69-30.74,129.56-26.67,225.34s23.77,127.37,42.87,157.89c19.35,31,39.36,63,43.47,160.21s-11.73,164-27,228.55c-15.12,63.71-30.74,129.58-26.68,225.37s23.8,127.36,42.89,157.91c19.35,31,39.37,63,43.47,160.21s-11.72,164-27,228.58C953.39,2804.57,986.3,2931.58,1010.25,3022Z" transform="translate(-73.07 -59.42)"/>

			<path id="balloon-path-5" :style="balloonstyles" d="M943.93,1803.43c111.25,210.25,36.43,505-109.91,605.23,8.91,6,19,18.24,31.47,16.44l1.19-1.15c3-2.85,6.17-2.36,8.33-.06s2.38,5.69-.7,8.68c-17.06,16.48-27,23.22-48.71,32.86-4,1.77-7.42.44-8.73-2.42-1.21-2.62-.39-5.59,2.61-7.37.31-.18.62-.34.94-.49l1.09-.48c6.71-12.78-1.15-26.13-3.44-36-1.84,1.1-3.72,2.08-5.6,3.07-160.35,84.85-468.62-18.72-585.24-239.09S176.59,1698.67,374.52,1594,827.32,1583.06,943.93,1803.43Z" transform="translate(-73.07 -59.42)"/>

			<path id="balloon-path-4" :style="balloonstyles" d="M1634.1,1634.09c-73.84,226.11-337.75,377.18-511.54,341.64,1.86,10.6.07,26.31,10.06,34l1.65.06c4.11.15,6,2.8,5.84,6s-2.44,5.67-6.73,5.53c-23.7-.81-35.47-3.29-57.48-12.18-4-1.62-5.47-5-4.32-8,1-2.7,3.74-4.16,7.1-3.24a8.52,8.52,0,0,1,1,.33l1.1.45c13.85-4.06,18-19,23.52-27.52-2.06-.57-4.08-1.23-6.09-1.9C925.76,1913,786,1619.37,863.34,1382.36s312.73-372.77,525.59-303.25S1711.49,1397.08,1634.1,1634.09Z" transform="translate(-73.07 -59.42)"/>

			<path id="balloon-path-3" :style="balloonstyles" d="M833,954.53c129.19,199.72,80.41,499.87-56.61,612.52,9.4,5.23,20.48,16.51,32.78,13.62l1.09-1.25c2.7-3.09,6-2.89,8.3-.78s2.86,5.46.06,8.7c-15.56,17.91-24.9,25.5-45.66,37-3.79,2.1-7.34,1.08-8.9-1.66-1.44-2.5-.88-5.52,1.95-7.56a8.51,8.51,0,0,1,.9-.57l1-.57c5.56-13.32-3.43-25.93-6.57-35.6-1.74,1.24-3.53,2.39-5.31,3.54-152.33,98.54-468.47,22.29-603.9-187.05S59.47,917.22,247.49,795.61,697.61,745.18,833,954.53Z" transform="translate(-73.07 -59.42)"/>

			<path id="balloon-path-2" :style="balloonstyles" d="M1761.6,1004.7c-119.19,205.84-408.72,298.8-571.34,227.94-.38,10.75-5.4,25.75,2.76,35.4l1.61.4c4,1,5.28,4,4.47,7s-3.56,5-7.73,4c-23-5.71-34-10.59-53.7-23.85-3.6-2.42-4.3-6.06-2.57-8.69,1.57-2.42,4.52-3.29,7.62-1.69a8.51,8.51,0,0,1,.92.54l1,.66c14.4-1.09,21.54-14.84,28.73-22-1.9-1-3.74-2.05-5.57-3.12-157-90.9-232.76-407.16-107.84-622.94s383.33-299.68,577.11-187.46S1886.53,788.93,1761.6,1004.7Z" transform="translate(-73.07 -59.42)"/>

			<path id="balloon-path-1" :style="balloonstyles" d="M1218.12,434.1c44.21,233.72-114.29,493.23-283.71,545.8,6.74,8.39,12.73,23,25.22,25l1.47-.75c3.67-1.85,6.6-.43,8,2.4s.6,6.14-3.23,8.09c-21.16,10.71-32.67,14.2-56.24,17-4.31.52-7.21-1.77-7.62-4.89-.39-2.86,1.27-5.45,4.66-6.26a7.72,7.72,0,0,1,1.05-.19l1.18-.14c10.18-10.23,6.61-25.31,7.36-35.45-2.09.5-4.17.89-6.26,1.28-178.25,33.72-442.2-156.25-488.56-401.23S515.91,107.46,735.94,65.85,1171.77,189.12,1218.12,434.1Z" transform="translate(-73.07 -59.42)"/>

			<path id="weight" :style="balloonstyles" d="M922.11,3185.59h150.58c10.9,0,17.43-11,11.45-19.21l-76.32-105.32a11.44,11.44,0,0,1-.55-12.79l1.41-2.31c5-8.27,21.16-18.39,10.74-18.39H972.57c-10.44,0,7.06,10.15,12.11,18.42l1.54,2.52a11.41,11.41,0,0,1-.49,12.74L910.6,3166.44C904.71,3174.7,911.25,3185.59,922.11,3185.59Z" transform="translate(-73.07 -59.42)"/>

		</svg>
	</div>
</template>
<script>
	export default {
	props:{
		id: String,
		balloons: Array,
		weighthex: String,
	},
 	computed: {
    balloonstyles() {
      return {
        '--balloon-colour-1': this.balloons[0].hex,
        '--balloon-colour-2': this.balloons[1].hex,
        '--balloon-colour-3': this.balloons[2].hex,
        '--balloon-colour-4': this.balloons[3].hex,
        '--balloon-colour-5': this.balloons[4].hex,
        '--weight-colour': this.weighthex,
      }
    }
  },
	data() {
    return {
      loaded: false,
    }
  },
}
</script>
<style lang="scss">
	#balloon-path-1{
		fill: var(--balloon-colour-1);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	#balloon-path-2{
		fill: var(--balloon-colour-2);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	#balloon-path-3{
		fill: var(--balloon-colour-3);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	#balloon-path-4{
		fill: var(--balloon-colour-4);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	#balloon-path-5{
		fill: var(--balloon-colour-5);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	#ribbon-path-1,
	#ribbon-path-2,
	#ribbon-path-3,
	#ribbon-path-4,
	#ribbon-path-5{
		fill: #cccccc;
	}
	#weight{
		fill: var(--weight-colour);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
</style>