<template>
	<div class="container">
		<div class="card p-5 mob-px-3 border-0 shadow">
			<form class="container" @submit.prevent="submit">
				<div class="row">
					<div class="col-lg-5 pr-5 mob-px-3 mob-mb-4">
						<foil-balloon :id="'custom-foil'" :font="fields.font" :textcolourhex="fields.textcolourhex" :text="fields.text" :colour="fields.balloonhex" :shape="fields.shape" v-if="loaded == true"></foil-balloon>
					</div>
					<div class="col-lg-7 mob-px-0 text-left" v-if="loaded == true">
						<div class="row half_row">
							<div class="col-lg-6 half_col text-left">
								<label class="pl-3 mb-2"><b>Balloon colour</b></label>
								<div class="select-holder mb-4">
				          <select id="foil-balloon-colour" class="form-control" v-model="fields.colour" @change="changeBalloonColour(0, 'foil-balloon-colour')">
				          	<option data-hex="#4fa2c7" value="Turquoise">Turquoise</option>
				            <option data-hex="#3f8384" value="Teal">Teal</option>
				            <option data-hex="#c75c2b" value="Orange">Orange</option>
				            <option data-hex="#7c2429" value="Burgundy">Burgundy</option>
				            <option data-hex="#acaba9" value="Silver">Silver</option>
				            <option data-hex="#739b5e" value="Emerald">Emerald Satin</option>
				            <option data-hex="#edcedd" value="Pearl Pink">Pearl Pink</option>
				            <option data-hex="#36297a" value="Quartz Purple">Quartz Purple</option>
				            <option data-hex="#b5adac" value="Platinum">Platinum</option>
				            <option data-hex="#a875a7" value="Spring Lilac">Spring Lilac</option>
				            <option data-hex="#cde1f3" value="Pearl Blue">Pearl Blue</option>
				            <option data-hex="#f5e84e" value="Yellow">Yellow</option>
				            <option data-hex="#2b2825" value="Onyx Satin">Onyx Satin</option>
				            <option data-hex="#f0d4c7" value="Rose Gold">Rose Gold</option>
				            <option data-hex="#d09cb9" value="Pastel Pink">Pastel Pink</option>
				            <option data-hex="#9bc2e9" value="Pastel Blue">Pastel Blue</option>
				            <option data-hex="#141510" value="Onyx Black">Onyx Black</option>
				            <option data-hex="#9bc2e9" value="Pale Blue">Pale Blue</option>
				            <option data-hex="#efdd4a" value="Citrin Yellow">Citrin Yellow</option>
				            <option data-hex="#b4b5c5" value="Graphite">Graphite</option>
				            <option data-hex="#b02b33" value="Ruby Red">Ruby Red</option>
				            <option data-hex="#bfb6cf" value="Pastel Lilac Satin">Pastel Lilac Satin</option>
				            <option data-hex="#f9f9f9" value="White Satin">White Satin</option>
				            <option data-hex="#59b2b7" value="Tiffany Blue">Tiffany Blue</option>
				            <option data-hex="#3976b7" value="Sapphire Blue">Sapphire Blue</option>
				            <option data-hex="#e4bb65" value="Metallic Gold">Metallic Gold</option>
				            <option data-hex="#bbcd5f" value="Lime Green">Lime Green</option>
				            <option data-hex="#e091b1" value="Rose pink">Rose pink</option>
				            <option data-hex="#d79fc1" value="Falmingo Pink">Falmingo Pink</option>
				            <option data-hex="#ecbfb4" value="Rose Copper Satin">Rose Copper Satin</option>
				            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
				            <option data-hex="#244b8e" value="Dark Blue">Dark Blue</option>
				            <option data-hex="#3b7b5c" value="Emerald Green">Emerald Green</option>
				            <option data-hex="#d8bdc8" value="Pastel Pink Satin">Pastel Pink Satin</option>
				            <option data-hex="#c43583" value="Magenta">Magenta</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-6 half_col mb-3" >
	  						<label class="pl-3"><b>Balloon Shape</b></label>
								<div class="select-holder">
					        <select id="custom_balloon_shape" class="form-control" v-model="fields.shape">
					          <option value="Round">Round</option>
					          <option value="Star">Star</option>
					          <option value="Heart">Heart</option>
					        </select>
					  		</div>
					  	</div>
		        	<div class="col-6 half_col mb-3" v-if="hastext">
			  				<label class="pl-3"><b>Text Colour</b></label>
			  				<div class="select-holder">
				          <select id="textcolour" class="form-control" v-model="fields.textcolour" @change="changeText()">
				            <option data-hex="#fff" value="White" checked>White</option>
				            <option data-hex="#000" value="Black">Black</option>
				            <option data-hex="#666" value="Silver">Silver</option>
				            <option data-hex="#c9aa49" value="Grey">Gold</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-6 half_col mb-3" v-if="hastext">
			  				<label class="pl-3"><b>Font</b></label>
			  				<div class="select-holder">
				          <select id="custom_balloon_font" class="form-control" v-model="fields.font" @change="changeText()">
				            <option value="Arial">Arial</option>
				            <option value="Lora">Lora</option>
				            <option value="Montserrat">Montserrat</option>
				          </select>
		        		</div>
		        	</div>
		        	<div class="col-12 half_col mb-3" v-if="hastext">
			  				<label class="pl-3"><b>Text (max 40 letters - we may adjust your text to make sure it fits correctly)</b></label>
			  				<div class="input-group">
			          	<input :id="'custom_balloon_text'" class="form-control border" placeholder="Balloon Text" v-model="fields.text" :maxlength="max"/>
			          </div>
		        	</div>
		        </div>
        		<div class="row half_row">
        			<div class="col-6 half_col">
					  		<label class="pl-3 mb-1"><b>Optional Extras</b></label>
	      				<div class="select-holder">
					        <select id="extras" class="form-control" v-model="fields.extras" @change="calculateTotal">
					          <option value="No extras">No extras</option>
					          <option value="2 latex balloons">2 latex balloons below - £3.00</option>
					        </select>
					  		</div>
					  	</div>
					  	<div class="col-6 half_col">
					  		<label class="pl-3 mb-1"><b>Quantity*</b></label>
	      				<div class="select-holder">
					        <select id="quantity" class="form-control" v-model="fields.quantity" @change="calculateTotal">
					          <option value="1">1</option>
					          <option value="2">2</option>
					          <option value="3">3</option>
					          <option value="4">4</option>
					          <option value="5">5</option>
					          <option value="6">6</option>
					          <option value="7">7</option>
					          <option value="8">8</option>
					          <option value="9">9</option>
					        </select>
					  		</div>
					  		<p class="text-small ml-3 mb-0 d-none d-lg-block">*Please <a href="/contact" target="_blank">get in touch</a> to order over 9 units</p>
					  	</div>
					  	<div class="col-12">
					  		<p class="text-small ml-3 mb-0 d-lg-none">*Please <a href="/contact" target="_blank">get in touch</a> to order over 9 units</p>
					  	</div>
					  </div>
					</div>
					<div class="col-12">
					  <div class="row">
					  	<div class="col-12">
								<hr class="my-4">

								<div class="form-group">
							    <label for="notes" class="ml-3"><b>Any additional information about your order</b></label>
							    <textarea class="form-control" id="notes" rows="5" v-model="fields.notes" placeholder="Tell us anything else we might need to know about your custom order"></textarea>
							  </div>

							</div>
					  	<div class="col-12 half_col text-left">
					  		<div class="form-check mb-4">
						      <input class="form-check-input" type="checkbox" value="" id="accept" required>
						      <label class="form-check-label" for="accept">
						        I understand that my balloons will not look identical to the graphics shown and the final product may differ in appearance.
						      </label>
						    </div>
						    <p class="text-larger mb-1 text-center text-lg-right"><b>Total:</b> £{{fields.total}} <button type="submit" class="btn btn-red ml-4">Add to basket</button></p>
		        		
						  </div>
					  </div>
        	</div>
        </div>
			</form>
		</div>
		<custom-confirm-add-to-basket :product="'Foil Balloon'" :qty="fields.quantity" v-if="confirm"></custom-confirm-add-to-basket>
	</div>
</template>
<script>
	const FoilBalloon = () => import(/* webpackChunkName: "FoilBalloon" */ './FoilBalloon.vue');
	const CustomConfirmAddToBasket = () => import(/* webpackChunkName: "CustomConfirmAddToBasket" */ './CustomConfirmAddToBasket.vue');
	export default {
	components:{
		FoilBalloon,
		CustomConfirmAddToBasket
	},
	data() {
    return {
    	pagetext:{
    		title: 'Foil Balloons',
    		text: 'Create your own 18" custom foil balloon with our balloon builder! These balloons can be further customised after purchase, just let us know what you need in the form below. We also have foil numbers and letters available in our <a href="/shop" target="_blank">shop</a>.', 
    	},
    	fields:{
    		balloons: [],
    		colour: "Turquoise",
    		balloonhex: '#4fa2c7',
    		shape:"Round",
    		textcolour: 'Black',
    		textcolourhex: '#000000',
    		font: 'Arial',
      	text: 'Your text here',
    		extras: 'No extras',
      	quantity: 1,
      	price: 12.00,
      	total: 12.00,
      	notes: '',
    	},
      errors: {},
      max: 40,
      hastext: true,
      confirm: false,
      loaded: false,
    }
  },
	mounted(){
		this.$emit('loaded', this.pagetext);	
		for(var x = 0; x < 2; x++){
			if(x == 0){
				var balloon = {
					'type': 'Latex',
					'colour': "Pearl Light Blue",
					'hex': "#d6e3f1", 
					'id': x
				};
			}else{
				var balloon = {
					'type': 'Latex',
					'colour': "Pearl Pink",
					'hex': "#e4cbd8", 
					'id': x
				};
			}
			this.fields.balloons.push(balloon);
		}
		this.loaded = true;
		this.fields.total = this.fields.total.toFixed(2);
	},
	methods: {
		changeText(){
			this.fields.textcolourhex = document.getElementById('textcolour').querySelector(':checked').getAttribute('data-hex');
		},
		calculateTotal(){
			if(this.fields.extras == '2 latex balloons'){
				this.fields.price = 15.00;
			}else{
				this.fields.price = 12.00;
			}
			this.fields.total = (this.fields.price * this.fields.quantity).toFixed(2);
		},
		changeBalloonColour(i, id){
			this.fields.balloonhex = document.getElementById(id).querySelector(':checked').getAttribute('data-hex');
		},
		changeWeightColour(i, id){
			this.fields.weighthex = document.getElementById('weightcolour').querySelector(':checked').getAttribute('data-hex');
		},
		submit(val){
			axios.post('/add-foilballoon-to-basket', this.fields)
        .then(response => {
        	console.log(response.data);
          this.confirm = true;
        })
        .catch(error => {
          // Error handling
          console.log(error.response);
          this.confirm = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
		},
  },
}
</script>
<style lang="scss">

</style>