<template>
	<div id="custom-balloons-top" class="container mb-5 pb-5 mob-mb-0 position-relative z-2">
		<div class="row">
			<div class="col-lg-12 mb-5">
				<h1 class="mt-5 mb-2 text-primary">{{pagetext.title}}</h1>
				<p v-html="pagetext.text"></p>
			</div>
			<div class="col-12" v-if="showerror">
				<p class="text-primary" data-aos="slide-up"><i class="fa fa-warning"></i> {{showerror}}</p>
			</div>
			
			<select-type v-if="thestage == 0" @back="back(0)" @selected="typeChange" :fields="fields" :errors="errors"></select-type>
			<decor-three v-if="thestage == 1 && fields.type == 3" @loaded="loadedcomponent"></decor-three>
			<decor-five v-if="thestage == 1 && fields.type == 5" @loaded="loadedcomponent"></decor-five>
			<bubble-balloons v-if="thestage == 1 && fields.type == 1" @loaded="loadedcomponent"></bubble-balloons>
			<foil v-if="thestage == 1 && fields.type == 2" @loaded="loadedcomponent"></foil>
			<select-balloons v-if="thestage == 1 && fields.type == 9" @back="back(0)" @selected="balloonsChange" :fields="fields"></select-balloons>
			<div class="col-12 text-center">
				<p v-if="thestage != 0" @click="thestage  = 0" class="mt-4 cursor-pointer text-red text-large mb-0"><i class="fa fa-angle-double-left"></i> <b>Back to all custom balloons</b></p>
			</div>
		</div>
	</div>
</template>
<script>
	const SelectType = () => import(/* webpackChunkName: "SelectType" */ './SelectType.vue');
	const DecorThree = () => import(/* webpackChunkName: "DecorThree" */ './DecorThree.vue');
	const DecorFive = () => import(/* webpackChunkName: "DecorFive" */ './DecorFive.vue');
	const Foil = () => import(/* webpackChunkName: "Foil" */ './Foil.vue');
	const SelectBalloons = () => import(/* webpackChunkName: "SelectBalloons" */ './SelectBalloons.vue');
	export default {
		components:{
  		SelectType,
  		DecorThree,
  		DecorFive,
  		Foil,
  		SelectBalloons
  	},
  	props:{type: Number},
		data() {
			return {
				pagetext:{
					title: 'Custom Balloons',
      		text: 'Create your own custom bunch of 3 or 5 balloons with our easy to use online ordering system.'
				},
				fields: {
					type: null,
					total: 0.00,
					balloons: [],
					weight: '',
					quantity: 0,
					notes: "",
				},
				stages: [0,1,2,3],
				thestage: 0,
				errors: {},
				success: false,
				loaded: true,
				showerror: '',
			}
		},
		mounted(){
			if(this.type != null){
				console.log(this.type)
				this.fields.type = this.type;
				this.thestage = 1;
			}
		},
		methods: {
			loadedcomponent(val){
				this.pagetext = val;
			},
			backToTop(){
				$('html,body').animate({
           scrollTop: $("#custom-balloons-top").offset().top - 400
        });
			},
			back(val){
				this.thestage = val;
			},
			balloonsChange(val){
				this.fields.balloons = val.balloons;
				this.fields.total = val.total;
				this.fields.quantity = val.quantity;
				this.fields.notes = val.notes;
				this.fields.weight = val.weight;
				console.log(this.fields);
    		this.backToTop();
    		this.thestage = 3;
			},
			typeChange(val){
				this.fields.type = val;
				this.thestage = 1;
				console.log(this.fields.type);
				this.backToTop();
			},
      submit() {
      	console.log(this.fields);
      	// if (this.loaded) {
      	// 	this.loaded = false;
      	// 	this.success = false;
      	// 	this.errors = {};
      		

      	// 	axios.post('/custom-balloons/store', this.fields)
      	// 	.then(response => {
	      //     // Empty fields and enable success message
	      //     var invoice = response.data;
	      //     this.loaded = true;
	      //     this.success = true;
	      //     document.getElementById("loader-message").innerHTML = "Payment Successful";
       //      $('#close-loader-btn').removeClass('d-none').addClass('d-block');
       //      $('#loader-roller').removeClass('d-block').addClass('d-none');
       //      $('#loader-success').removeClass('d-none').addClass('d-block');
       //      window.location.href = "/shop/success/"+invoice.transaction_id;
	      //   })
      	// 	.catch(error => {
	      //    // Error handling
	      //    	console.log(error.response.data.message);
	      //    	this.showerror = error.response.data.message;
	      //     document.getElementById("loader").classList.remove("on");
	      //     this.loaded = true;
	      //     if (error.response.status === 422) {
	      //     	this.errors = error.response.data.errors || {};
	      //     }
	      //   });
      	// }
      },
    },
  }
</script>