<template>
	<div class="custom-balloon-container position-relative text-center">
		<svg :id="id" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810.93 981.66">
			<g data-name="Balloon Path">
				<path class="balloon-path" :style="balloonstyles" d="M918.44,481.76c-11.59,237.61-226.31,452.9-403.32,464.46,4.59,9.73,7,25.36,18.68,30.19l1.61-.38c4-.94,6.52,1.12,7.2,4.2s-.86,6.09-5.08,7.09c-23.08,5.47-35.09,6.18-58.66,3.41-4.31-.5-6.6-3.41-6.27-6.54.29-2.87,2.51-5,6-5a10,10,0,0,1,1.06.06l1.18.14c12.29-7.57,12.34-23.06,15.43-32.75-2.14,0-4.26-.11-6.38-.21C308.74,937.61,96.45,691.25,108.61,442.22S311.92.17,535.54,11.09,930.59,232.73,918.44,481.76Z" transform="translate(-108.11 -10.65)"/>
			</g>
		</svg>
		<div class="balloon-text-container d-table w-100 h-100">
			<div class="d-table-cell align-middle w-100 h-100">
				<p class="balloon-text" :style="balloonstyles">{{this.balloon.text}}</p>
			</div>
		</div>
	</div>
</template>
<script>
	const LatexBalloon = () => import(/* webpackChunkName: "LatexBalloon" */ './LatexBalloon.vue');
	export default {
	props:{
		id: String,
		balloon: Object
	},
 	computed: {
    balloonstyles() {
      return {
        '--balloon-colour': this.balloon.hex,
        '--balloon-text-colour': this.balloon.textcolourhex,
        '--balloon-text-font': this.balloon.font+ ', sans-serif',
        '--balloon-text-size': this.balloon.textsizepx
      }
    }
  },
	data() {
    return {
      loaded: false,
    }
  },
}
</script>
<style lang="scss">
	.balloon-path{
		fill: var(--balloon-colour);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	}
	.balloon-text-container{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.balloon-text{
		color: var(--balloon-text-colour);
		font-family: var(--balloon-text-font);
		font-size: var(--balloon-text-size);
	}
</style>