<template>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="card border-0 shadow p-0">
					<picture> 
					  <source  srcset="/img/customballoons/bubble.webp" type="image/webp"/> 
					  <source srcset="/img/customballoons/bubble.jpg" type="image/jpeg"/> 
					  <img src="/img/customballoons/bubble.jpg" type="image/jpeg" alt="bubble balloons Luce Balloons - Balloons for events in the UK and Ireland" class="w-100" />
					</picture>
					<div class="p-4 text-center">
						<h3>Bubble Balloons</h3>
						<p>Create your own Bubble Balloons!</p>
						<button type="button" class="btn btn-red" @click="confirm(1)">Select</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card border-0 shadow p-0">
					<picture> 
					  <source  srcset="/img/customballoons/foil.webp" type="image/webp"/> 
					  <source srcset="/img/customballoons/foil.jpg" type="image/jpeg"/> 
					  <img src="/img/customballoons/foil.jpg" type="image/jpeg" alt="foil balloons Luce Balloons - Balloons for events in the UK and Ireland" class="w-100" />
					</picture>
					<div class="p-4 text-center">
						<h3>Foil Balloons</h3>
						<p>Customise your own 18" foil balloon!</p>
						<button type="button" class="btn btn-red" @click="confirm(2)">Select</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card border-0 shadow p-0">
					<picture> 
					  <source  srcset="/img/customballoons/3.webp" type="image/webp"/> 
					  <source srcset="/img/customballoons/3.jpg" type="image/jpeg"/> 
					  <img src="/img/customballoons/3.jpg" type="image/jpeg" alt="Elegant Decor 3 custom balloons Luce Balloons - Balloons for events in the UK and Ireland" class="w-100" />
					</picture>
					<div class="p-4 text-center">
						<h3>Bunch of 3 Balloons</h3>
						<p>Create your own bunch of 3 balloons!</p>
						<button type="button" class="btn btn-red" @click="confirm(3)">Select</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card border-0 shadow p-0">
					<picture> 
					  <source  srcset="/img/customballoons/5.webp" type="image/webp"/> 
					  <source srcset="/img/customballoons/5.jpg" type="image/jpeg"/> 
					  <img src="/img/customballoons/5.jpg" type="image/jpeg" alt="Elegant Decor 5 custom balloons Luce Balloons - Balloons for events in the UK and Ireland" class="w-100" />
					</picture>
					<div class="p-4 text-center">
						<h3>Bunch of 5 Balloons</h3>
						<p>Create your own bunch of 5 balloons!</p>
						<button type="button" class="btn btn-red" @click="confirm(5)">Select</button>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 mb-4">
				<div class="card border-0 shadow p-0">
					<picture> 
					  <source  srcset="/img/customballoons/shop.webp" type="image/webp"/> 
					  <source srcset="/img/customballoons/shop.jpg" type="image/jpeg"/> 
					  <img src="/img/customballoons/shop.jpg" type="image/jpeg" alt="shop custom balloons Luce Balloons - Balloons for events in the UK and Ireland" class="w-100" />
					</picture>
					<div class="p-4 text-center">
						<h3>Visit our shop</h3>
						<p>We have lots of balloons premade!</p>
						<a href="/shop">
							<button type="button" class="btn btn-primary btn-icon">Go to shop <i class="fa fa-chevron-right"></i></button>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card border-0 shadow p-0">
					<picture> 
					  <source  srcset="/img/customballoons/somethingelse.webp" type="image/webp"/> 
					  <source srcset="/img/customballoons/somethingelse.jpg" type="image/jpeg"/> 
					  <img src="/img/customballoons/somethingelse.jpg" type="image/jpeg" alt="something else custom balloons Luce Balloons - Balloons for events in the UK and Ireland" class="w-100" />
					</picture>
					<div class="p-4 text-center">
						<h3>Something Else?</h3>
						<p>Let us know what you need</p>
						<a href="/contact">
							<button type="button" class="btn btn-primary btn-icon">Get in touch <i class="fa fa-chevron-right"></i></button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
    return {
      title: 'Custom Balloons',
      text: 'Create your own custom bunch of 3 or 5 balloons with our easy to use online ordering system.',
    }
  },
	methods: {
		back(){
			this.$emit('back');	
		},
		confirm(val){
			this.$emit('selected', val);
		},
  },
}
</script>