<template>
	<div class="container" v-if="loaded == true">
		<div class="row">
			<div class="col-lg-12 mb-5">
				<p>Select each of your ballons, weight colour and tell us anything else we need to know.</p>
			</div>
			<div class="col-12">
				<div id="custom_balloons">			
				  <div class="card" v-for="i in fields.type">
				    <div class="card-header py-0" :id="'custom_balloon_' + i">
				      <a href="#" data-toggle="collapse" :data-target="'#custom_balloon_target_' + i" aria-expanded="false" :aria-controls='"custom_balloon_target_" + i'><h5 class="mb-0 py-3">Balloon {{i}} <span class="float-right">£{{balloons[i - 1].price}}</span></h5></a>
				    </div>
				    <div :id='"custom_balloon_target_" + i' class="collapse text-left" :class="i == 1 ? 'show' : 'dont-show'" :aria-labelledby="'custom_balloon_' + i" data-parent="#custom_balloons">
				      <div class="card-body mob-px-0">
				      	<div class="container">
				      		<div class="row">
				      			<div class="py-5 mob-px-5" :class="balloons[i -1].type != 'Select From Shop' ? 'col-lg-4' : 'd-none'">
						  				<latex-balloon :id="'custom_balloon_' + (i - 1)" :balloon='balloons[i -1]' v-if="loaded == true && balloons[i -1].type == 'Latex'"></latex-balloon>
						  				<foil-balloon :id="'custom_balloon_' + (i - 1)" :balloon='balloons[i -1]' v-if="loaded == true && balloons[i -1].type == 'Foil'"></foil-balloon>
						  			</div>
										<div :class="balloons[i -1].type != 'Select From Shop' ? 'col-lg-8' : 'col-lg-12'">
											<nav class="mt-3" v-if="balloons[i -1].id == 0">
											  <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
											    <a class="nav-item nav-link" :class="balloons[i -1].type == 'Foil' ? 'active' : 'not-active'" :id="'nav-foil-tab-' + (i - 1)" data-toggle="tab" :href="'#nav-foil-' + (i - 1)" role="tab" :aria-controls="'nav-foil-' + (i - 1)" aria-selected="false" @click="changeType(i-1, 'Foil')"><b>Custom Foil Balloons</b></a>
											    <a class="nav-item nav-link" :class="balloons[i -1].type == 'Select From Shop' ? 'active' : 'not-active'" :id="'nav-select-from-shop-tab-' + (i - 1)" data-toggle="tab" :href="'#nav-select-from-shop-' + (i - 1)" role="tab" :aria-controls="'nav-select-from-shop-' + (i - 1)" aria-selected="false" @click="changeType(i-1, 'Select From Shop')"><b>Other Balloons</b></a>
											  </div>
											</nav>
											<div class="tab-content" id="nav-tabContent">
											  <div class="tab-pane fade" :class="balloons[i -1].type == 'Latex' ? 'active show' : 'not-active'" :id="'nav-latex-' + (i - 1)" role="tabpanel" :aria-labelledby="'nav-latex-tab-' + (i - 1)" v-if="balloons[i -1].type == 'Latex'">
										  		<div class="row pt-4">
										  			<div class="col-12">
										  				<div class="row half_row">
										  					<div class="col-12">
										  						<label class="pl-3"><b>Colour</b></label>
										  					</div>
										  					<div class="col-6 half_col mb-3">
												  				
												  				<div class="select-holder">
													          <select :id="'custom_balloon_colour_' + (i - 1)" class="form-control" v-model="balloons[i -1].colour" @change="changeBalloonColour(i-1)">
													            <option data-hex="#ead936" value="Pearl Citrine Yellow">Pearl Citrine Yellow</option>
													            <option data-hex="#e57727" value="Pearl Mandarin Orange">Pearl Mandarin Orange</option>
													            <option data-hex="#bb4879" value="Pearl Magenta">Pearl Magenta</option>
													            <option data-hex="#C12D2D" value="Pearl Ruby Red">Pearl Ruby Red</option>
													            <option data-hex="#900048" value="Pearl Burgundy">Pearl Burgundy</option>
													            <option data-hex="#553d91" value="Pearl Quartz Purple">Pearl Quartz Purple</option>
													            <option data-hex="#0359a1" value="Pearl Sapphire Blue">Pearl Sapphire Blue</option>
													            <option data-hex="#478388" value="Pearl Teal">Pearl Teal</option>
													            <option data-hex="#003a58" value="Pearl Midnight Blue">Pearl Midnight Blue</option>
													            <option data-hex="#8aad51" value="Pearl Lime Green">Pearl Lime Green</option>
													            <option data-hex="#345e41" value="Pearl Forest Green">Pearl Forest Green</option>
													            <option data-hex="#007f5b" value="Pearl Emerald Green">Pear Emerald Green</option>
													            <option data-hex="#131510" value="Pearl Onyx Black">Pearl Onyx Black</option>
													            <option data-hex="#ebe8e7" value="Pearl White">Pearl White</option>
													            <option data-hex="#efe0b1" value="Pearl Ivory">Pearl Ivory</option>
													            <option data-hex="#e7de81" value="Pearl Lemon Chiffon">Pearl Lemon Chiffon</option>
													            <option data-hex="#dfb8aa" value="Pearl Peach">Pearl Peach</option>
													            <option data-hex="#ebb9c9" value="Pearl Pink">Pearl Pink</option>
													            <option data-hex="#bc99c4" value="Pearl Lavender">Pearl Lavender</option>
													            <option data-hex="#add8ea" value="Pearl Light Blue">Pearl Light Blue</option>
													            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
													            <option data-hex="#77bbde" value="Pearl Azure">Pearl Azure</option>
													            <option data-hex="#c6e2d7" value="Pearl Mint Green">Pearl Mint Green</option>
													            <option data-hex="#98989b" value="Metallic Silver">Metallic Silver</option>
													            <option data-hex="#C39440" value="Metallic Gold">Metallic Gold</option>
													          </select>
											        		</div>
											        	</div>
											        	<div class="col-lg-6 half_col text-center text-lg-left">
											        		<button type="button" class="btn btn-red" @click="nextBalloon(i+1)">Confirm</button>
											        	</div>
											        </div>
										  			</div>
										  		</div>
											  </div>
											  <div class="tab-pane fade" :class="balloons[i -1].type == 'Foil' ? 'active show' : 'not-active'" :id="'nav-foil-' + (i - 1)" role="tabpanel" :aria-labelledby="'nav-foil-tab-' + (i - 1)" v-if="balloons[i -1].type == 'Foil'">
											  	<div class="row pt-4">
										  			<div class="col-12">
										  				<div class="row half_row">
										  					<div class="col-6 half_col mb-3" v-if="balloons[i -1].type == 'Foil'">
										  						<label class="pl-3"><b>Balloon Shape</b></label>
																	<div class="select-holder">
														        <select :id="'custom_balloon_shape_' + (i - 1)" class="form-control" v-model="balloons[i -1].shape">
														          <option value="Round">Round</option>
														          <option value="Star">Star</option>
														          <option value="Heart">Heart</option>
														        </select>
														  		</div>
														  	</div>
										  					<div class="col-6 half_col mb-3">
												  				<label class="pl-3"><b>Colour</b></label>
												  				<div class="select-holder">
													          <select :id="'custom_balloon_colour_' + (i - 1)" class="form-control" v-model="balloons[i -1].colour" @change="changeBalloonColour(i-1)">
													            <option data-hex="#4fa2c7" value="Turquoise">Turquoise</option>
													            <option data-hex="#3f8384" value="Teal">Teal</option>
													            <option data-hex="#c75c2b" value="Orange">Orange</option>
													            <option data-hex="#7c2429" value="Burgundy">Burgundy</option>
													            <option data-hex="#acaba9" value="Silver">Silver</option>
													            <option data-hex="#739b5e" value="Emerald">Emerald Satin</option>
													            <option data-hex="#edcedd" value="Pearl Pink">Pearl Pink</option>
													            <option data-hex="#36297a" value="Quartz Purple">Quartz Purple</option>
													            <option data-hex="#b5adac" value="Platinum">Platinum</option>
													            <option data-hex="#a875a7" value="Spring Lilac">Spring Lilac</option>
													            <option data-hex="#cde1f3" value="Pearl Blue">Pearl Blue</option>
													            <option data-hex="#f5e84e" value="Yellow">Yellow</option>
													            <option data-hex="#2b2825" value="Onyx Satin">Onyx Satin</option>
													            <option data-hex="#f0d4c7" value="Rose Gold">Rose Gold</option>
													            <option data-hex="#d09cb9" value="Pastel Pink">Pastel Pink</option>
													            <option data-hex="#9bc2e9" value="Pastel Blue">Pastel Blue</option>
													            <option data-hex="#141510" value="Onyx Black">Onyx Black</option>
													            <option data-hex="#9bc2e9" value="Pale Blue">Pale Blue</option>
													            <option data-hex="#efdd4a" value="Citrin Yellow">Citrin Yellow</option>
													            <option data-hex="#b4b5c5" value="Graphite">Graphite</option>
													            <option data-hex="#b02b33" value="Ruby Red">Ruby Red</option>
													            <option data-hex="#bfb6cf" value="Pastel Lilac Satin">Pastel Lilac Satin</option>
													            <option data-hex="#f9f9f9" value="White Satin">White Satin</option>
													            <option data-hex="#59b2b7" value="Tiffany Blue">Tiffany Blue</option>
													            <option data-hex="#3976b7" value="Sapphire Blue">Sapphire Blue</option>
													            <option data-hex="#e4bb65" value="Metallic Gold">Metallic Gold</option>
													            <option data-hex="#bbcd5f" value="Lime Green">Lime Green</option>
													            <option data-hex="#e091b1" value="Rose pink">Rose pink</option>
													            <option data-hex="#d79fc1" value="Falmingo Pink">Falmingo Pink</option>
													            <option data-hex="#ecbfb4" value="Rose Copper Satin">Rose Copper Satin</option>
													            <option data-hex="#c18274" value="Rose Gold">Rose Gold</option>
													            <option data-hex="#244b8e" value="Dark Blue">Dark Blue</option>
													            <option data-hex="#3b7b5c" value="Emerald Green">Emerald Green</option>
													            <option data-hex="#d8bdc8" value="Pastel Pink Satin">Pastel Pink Satin</option>
													            <option data-hex="#c43583" value="Magenta">Magenta</option>
													          </select>
											        		</div>
											        	</div>
											        	<div class="col-6 half_col mb-3" v-if="balloons[i - 1].hastext">
												  				<label class="pl-3"><b>Text Colour</b></label>
												  				<div class="select-holder">
													          <select :id="'custom_balloon_text_colour_' + (i - 1)" class="form-control" v-model="balloons[i -1].textcolour" @change="changeBalloonColour(i-1)">
													            <option data-hex="#fff" value="White" checked>White</option>
													            <option data-hex="#000" value="Black">Black</option>
													            <option data-hex="#666" value="Grey">Grey</option>
													          </select>
											        		</div>
											        	</div>
											        	<div class="col-6 half_col mb-3" v-if="balloons[i - 1].hastext">
												  				<label class="pl-3"><b>Font</b></label>
												  				<div class="select-holder">
													          <select :id="'custom_balloon_font_' + (i - 1)" class="form-control" v-model="balloons[i -1].font" @change="changeBalloonColour(i-1)">
													            <option value="Arial">Arial</option>
													            <option value="Lora">Lora</option>
													            <option value="Montserrat">Montserrat</option>
													          </select>
											        		</div>
											        	</div>
											        	<div class="col-12 half_col" v-if="balloons[i - 1].hastext">
												  				<label class="pl-3"><b>Text (max 30 characters)</b></label>
												  				<div class="input-group">
												          	<input :id="'custom_balloon_text_' + (i - 1)" class="form-control border" placeholder="Balloon Text" v-model="balloons[i -1].text" :maxlength="max"/>
												          </div>
											        	</div>
											        	<div class="col-12 half_col">
											        		<hr class="my-4" />
											        	</div>
											        	<div class="col-lg-6 half_col text-center text-lg-left">
											        		<div class="custom-control custom-checkbox">
																	  <input type="checkbox" class="custom-control-input" :id="'balloon-text-' + (i - 1)" v-model="balloons[i -1].hastext" @change="changeHasText(i -1)"/>
																	  <label class="custom-control-label" :for="'balloon-text-' + (i - 1)">This balloon has custom text</label>
																	</div>
											        	</div>
											        	<div class="col-lg-6 half_col text-center text-lg-right">
											        		<button type="button" class="btn btn-red" @click="nextBalloon(i+1)">Confirm</button>
											        	</div>
											        </div>
										  			</div>
										  		</div>
											  </div>
											  <div class="tab-pane fade" :class="balloons[i -1].type == 'Select From Shop' ? 'active show' : 'not-active'" :id="'nav-select-from-shop-' + (i - 1)" role="tabpanel" :aria-labelledby="'nav-select-from-shop-tab-' + (i - 1)" v-if="balloons[i -1].type == 'Select From Shop'">
											  	<div class="row pt-4" v-if="balloons[i -1].product.id == '*'">
											  		<div class="col-lg-2 col-6 py-3" v-for="(product, key) in products">
											  			<img :src="product.featured" :type="product.mimetype" class="w-100"/>
											  			<p class="text-small mt-3">{{product.title}}</p>
											  			<button type="button" class="btn btn-small btn-primary" @click="selectProduct((i -1), product)">Select Variant</button>
											  		</div>
											  	</div>
											  	<div class="row pt-4" v-if="balloons[i -1].product.id != '*' && balloons[i -1].variant.id == '*'">
											  		<div class="col-lg-2 col-6 py-3" v-for="(variant, key) in balloons[i -1].product.variants">
											  			<img :src="variant.featured" :type="variant.mimetype" class="w-100"/>
											  			<p class="text-small mt-3">{{variant.title}}</p>
											  			<button type="button" class="btn btn-small btn-primary" @click="selectVariant((i -1), variant)">£{{variant.price}} - Select</button>
											  		</div>
											  	</div>
											  	<div class="row pt-5" v-if="balloons[i -1].product.id != '*' && balloons[i -1].variant.id != '*'">
											  		<div class="col-lg-4">
											  			<img :src="balloons[i -1].variant.featured" :type="balloons[i -1].variant.mimetype" class="w-100"/>
											  		</div>
											  		<div class="col-lg-8">
											  			<div class="row">
											  				<div class="col-12 text-center text-lg-left">
											  					<p><b>Balloon:</b> {{balloons[i -1].product.title}}</p>
											  					<p><b>Variant:</b> {{balloons[i -1].variant.title}}</p>
											  					<p><b>Price:</b> £{{balloons[i -1].variant.price}}</p>
											        		<button type="button" class="btn btn-red" @click="nextBalloon(i+1)">Confirm</button>
											        	</div>
											        </div>
											      </div>
											  	</div>
											  </div>
											</div>
										</div>
									</div>
								</div>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-12">
				<div class="card p-4 bg-white border-0 shadow text-left">
					<form class="container" @submit.prevent="submit">
						<div class="row">
							<div class="col-12">
								<h3>Order Summary</h3>
							</div>
							<div class="col-lg-6">
								<div v-for="balloon in balloons">
									<p class="mb-0 mt-3"><b>Balloon {{balloon.id + 1}}</b> <span class="smaller text-red" v-if="balloon.hastext">* With custom text</span></p>
									<p class="mb-0">{{balloon.type}} - {{balloon.colour}} £{{balloon.price}}</p>
								</div>
							</div>
							<div class="col-lg-6">
								<label class="pl-3 mb-1"><b>Weight Colour</b></label>
	      				<div class="select-holder mb-3">
					        <select id="weightcolour" class="form-control" v-model="weight">
					          <option value="White">White</option>
					          <option value="Black">Black</option>
					          <option value="Yellow">Yellow</option>
					          <option value="Red">Red</option>
					          <option value="Blue">Blue</option>
					          <option value="Green">Green</option>
					          <option value="Pink">Pink</option>
					          <option value="Orange">Orange</option>
					          <option value="Purple">Purple</option>
					          <option value="Silver">Silver</option>
					          <option value="Gold">Gold</option>
					        </select>
					  		</div>
					  		<label class="pl-3 mb-1"><b>Quantity*</b></label>
	      				<div class="select-holder">
					        <select id="quantity" class="form-control" v-model="quantity" @change="calculateTotal">
					          <option value="1">1</option>
					          <option value="2">2</option>
					          <option value="3">3</option>
					          <option value="4">4</option>
					          <option value="5">5</option>
					          <option value="6">6</option>
					          <option value="7">7</option>
					          <option value="8">8</option>
					          <option value="9">9</option>
					        </select>
					  		</div>
					  		<p class="text-small ml-3">*Please <a href="/contact">get in touch</a> for orders over 9 items</p>
					  	</div>
					  	<div class="col-12 mt-4">
								<div class="form-group">
							    <label for="notes" class="ml-3"><b>Any additional information about your order</b></label>
							    <textarea class="form-control" id="notes" rows="5" v-model="notes" placeholder="Tell us anything else we might need to know about your custom order"></textarea>
							  </div>
							</div>
							<div class="col-12">
								<hr class="my-4">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-8">
	      				<div class="form-check">
						      <input class="form-check-input" type="checkbox" value="" id="accept" required>
						      <label class="form-check-label" for="accept">
						        I understand that my balloons will not look identical to the graphics shown and the final product may differ in appearance.
						      </label>
						    </div>
	      			</div>
	      			<div class="col-lg-4 half_col text-center text-lg-right">
	      				<p class="text-larger mb-1"><b>Total:</b> £{{total}}</p>
		        		<button type="submit" class="btn btn-red">Add to basket</button>
		        	</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	const LatexBalloon = () => import(/* webpackChunkName: "LatexBalloon" */ './LatexBalloon.vue');
	const FoilBalloon = () => import(/* webpackChunkName: "FoilBalloon" */ './FoilBalloon.vue');
	export default {
	components:{
		LatexBalloon,
		FoilBalloon
	},
	props:{fields:Object},
	data() {
    return {
      balloons: [],
      products:[],
      errors: {},
      weight: 'White',
      quantity: 1,
      notes: '',
      max: 36,
      total: 0.00,
      loaded: false,
    }
  },
	mounted(){
		for(var x = 0; x < this.fields.type; x++){
			
			if(x == 0){
				var balloon = {
					'type': 'Foil',
					'price': 4.99,
					'shape': "Round",
					'colour': "Turquoise",
					'hex': "#4fa2c7", 
					'id': x,
					'textcolourhex': '#fff', 
					'textcolour': 'White', 
					'text': 'Your text here', 
					'font': 'Arial', 
					'textsize': 'Small', 
					'textsizepx': '16px', 
					'hastext': true, 
					'product':{'id':'*'}, 
					'variant':{'id':'*'}
				};
			}else{
				var balloon = {
				'type': 'Latex',
				'price': 2.99,
				'shape': null,
				'colour': "Pearl Citrine Yellow",
				'hex': "#ead936", 
				'id': x,
				'textcolourhex': '', 
				'textcolour': '', 
				'text': '', 
				'font': '', 
				'textsize': '', 
				'textsizepx': '', 
				'hastext': false, 
				'product':{'id':'*'}, 
				'variant':{'id':'*'}
			};
			}
			this.balloons.push(balloon);
		}
		this.calculateTotal();
		this.getProducts();
		console.log(this.balloons);
		this.loaded = true;
	},
	methods: {
		submit(){
			this.$emit('selected', {'balloons': this.balloons, 'total': this.total, 'quantity': this.quantity, 'weight': this.weight, 'notes': this.notes});
		},
		calculateTotal(){
			var tot = 0.00;
			for(var x = 0; x < this.fields.type; x++){
				tot = tot + this.balloons[x].price;
			}
			this.total = ((tot.toFixed(2)) * this.quantity).toFixed(2);
		},
		changeHasText(i){
			if(this.balloons[i].hastext){
				this.balloons[i].text = 'Your text here';
				this.balloons[i].font = 'Arial';
				this.balloons[i].textsize = 'Small';
				this.balloons[i].textsizepx = '16px';
				this.balloons[i].textcolour = 'White';
				this.balloons[i].textcolourhex = '#fff';
				if(this.balloons[i].type == 'Latex'){
					this.balloons[i].price = 2.99;
				}else if(this.balloons[i].type == 'Foil'){
					this.balloons[i].price = 4.99;
				}
			}else{
				this.balloons[i].text = '';
				this.balloons[i].font = '';
				this.balloons[i].textsize = '';
				this.balloons[i].textsizepx = '';
				this.balloons[i].textcolour = '';
				this.balloons[i].textcolourhex = '';
				if(this.balloons[i].type == 'Latex'){
					this.balloons[i].price = 1.99;
				}else if(this.balloons[i].type == 'Foil'){
					this.balloons[i].price = 3.99;
				}
			}
			this.calculateTotal();
		},
		selectVariant(i, v){
			const source = v;
			Object.assign(this.balloons[i].variant, source);
			this.balloons[i].price = this.balloons[i].variant.price;
			this.calculateTotal();
		},
		selectProduct(i, p){
			const source = p;
			Object.assign(this.balloons[i].product, source);
		},
		getProducts(page = 1) {
      axios.get('/shop/get/custom-balloons').then(response => {
        this.products = response.data;
      })
      .catch(error => {
        console.log(error);
      });
      
    },
		nextBalloon(i){
			if(i <= this.fields.type){
				$('#custom_balloon_target_' + i).collapse('toggle');
			}else{
				$('#finaldetailstarget').collapse('toggle');
			}
			
		},
		changeType(i, type){
			this.balloons[i].type = type;
			if(type == "Foil" && this.balloons[i].shape == null){
				this.balloons[i].shape = 'Round';
				this.balloons[i].colour = 'Turquoise';
				this.balloons[i].hex = '#4fa2c7';
				this.balloons[i].product = {'id':'*'};
				this.balloons[i].variant = {'id':'*'};
				if(this.balloons[i].hastext == true){
					this.balloons[i].price = 4.99;
				}else if(this.balloons[i].hastext == false){
					this.balloons[i].price = 3.99;
				}
			}else if(type == "Latex"){
				this.balloons[i].shape = null;
				this.balloons[i].colour = 'Pearl Citrine Yellow';
				this.balloons[i].hex = '#ead936';
				this.balloons[i].product = {'id':'*'};
				this.balloons[i].variant = {'id':'*'};
				if(this.balloons[i].hastext == true){
					this.balloons[i].price = 2.99;
				}else if(this.balloons[i].hastext == false){
					this.balloons[i].price = 1.99;
				}
			}
			this.calculateTotal();
		},
		changeBalloonColour(i){
			this.balloons[i].hex = document.getElementById('custom_balloon_colour_' + i).querySelector(':checked').getAttribute('data-hex');
			this.balloons[i].textcolourhex = document.getElementById('custom_balloon_text_colour_' + i).querySelector(':checked').getAttribute('data-hex');
			this.balloons[i].textsizepx = document.getElementById('custom_balloon_text_size_' + i).querySelector(':checked').getAttribute('data-px');
		},
		back(){
			this.$emit('back');	
		},
		confirm(val){
			this.$emit('selected', val);
		},
  },
}
</script>
<style lang="scss">
	#custom_balloons{
		border-radius: 5px;
		overflow: hidden;
		-webkit-box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
		-moz-box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
		box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
		.card{
			border: 0;
			border-radius: 0 !important;
			.card-header{
				background-color: #b3bedd;
				border-radius: 0 !important;
				border: 0;
				border-bottom: 1px solid #1D3D8D;
			}
			&:last-of-type{
				.card-header{
					border: 0;
				}
			}
		}
		textarea{
			height: 145px;
		}
	}
	.nav-pills .nav-link{
		border-radius: 30px;
		border: 2px solid #1D3D8D;
		margin: 0 5px;
	}
</style>