<template>
	<div class="custom-balloon-container position-relative text-center">
		<svg :id="id" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1463.15 2400.8">

			<path id="ribbon-path-3" :style="balloonstyles" data-name="Path 2033" d="M1012.86,2371.06l-7.31,10.92c-22.6-36.41-22.87-71.72-23.14-105.86-.26-33.66-.54-68.47-22.8-104.37s-44.66-37.59-66.3-39.24c-21.94-1.66-44.64-3.4-67.24-39.82s-22.88-71.71-23.14-105.84c-.26-33.68-.53-68.48-22.81-104.38s-44.64-37.59-66.28-39.23c-21.93-1.68-44.63-3.4-67.22-39.82s-22.88-71.71-23.15-105.85c-.26-33.65-.54-68.46-22.8-104.36l7.29-10.92c22.6,36.41,22.87,71.72,23.15,105.84.26,33.66.53,68.48,22.8,104.36s44.65,37.6,66.29,39.23c21.94,1.68,44.63,3.4,67.23,39.83s22.87,71.72,23.14,105.84c.26,33.67.53,68.48,22.8,104.37s44.65,37.58,66.3,39.23c22,1.67,44.64,3.4,67.24,39.83s22.87,71.72,23.14,105.85C990.3,2300.35,990.59,2335.15,1012.86,2371.06Z" transform="translate(-126.25 -60.19)"/>

			<path id="ribbon-path-2" :style="balloonstyles" data-name="Path 2033" d="M999.93,2340.38l-9.93,5.07c.27-42.57,15.65-72,30.52-100.5,14.67-28.09,29.83-57.13,30.1-99.09s-14.64-55.61-29-68.81c-14.6-13.37-29.71-27.21-29.44-69.79s15.64-72,30.51-100.49c14.68-28.09,29.83-57.12,30.1-99.09s-14.63-55.6-29-68.79c-14.6-13.37-29.7-27.21-29.43-69.79s15.64-72,30.51-100.49c14.66-28.08,29.82-57.12,30.1-99.08l9.91-5.08c-.26,42.58-15.65,72-30.51,100.5-14.66,28.08-29.83,57.12-30.09,99.07s14.62,55.61,29,68.79c14.6,13.38,29.7,27.21,29.43,69.79s-15.65,72-30.5,100.49c-14.68,28.09-29.84,57.13-30.11,99.09s14.64,55.6,29,68.79c14.6,13.38,29.71,27.22,29.43,69.8s-15.64,72-30.51,100.5C1015.35,2269.37,1000.2,2298.41,999.93,2340.38Z" transform="translate(-126.25 -60.19)"/>
			
			<path id="ribbon-path-1" :style="balloonstyles" data-name="Path 2033" d="M1017.25,2393l-16.85,14.82c-21.13-65.18-6-121.1,8.66-175.16,14.44-53.31,29.36-108.44,8.56-172.69s-56.93-74.45-91.83-84.34c-35.4-10-72-20.38-93.14-85.57s-6-121.07,8.65-175.12c14.46-53.34,29.39-108.45,8.57-172.7s-56.91-74.45-91.81-84.32c-35.38-10-72-20.38-93.11-85.57s-6-121.07,8.66-175.14c14.42-53.29,29.35-108.42,8.56-172.67L699,1009.69c21.14,65.17,6,121.08-8.64,175.13-14.44,53.31-29.38,108.44-8.55,172.67s56.89,74.46,91.81,84.32c35.39,10,72,20.38,93.11,85.57s6,121.09-8.65,175.12c-14.45,53.34-29.38,108.47-8.57,172.7s56.93,74.44,91.85,84.32c35.4,10,72,20.38,93.12,85.58s6,121.08-8.65,175.14C1011.35,2273.59,996.44,2328.71,1017.25,2393Z" transform="translate(-126.25 -60.19)"/>

			<path id="balloon-path-3" :style="balloonstyles" d="M900.59,1259.21c111.24,210.25,36.42,505-109.92,605.24,8.91,6,19,18.24,31.47,16.43l1.19-1.15c3-2.85,6.18-2.36,8.33-.06s2.38,5.7-.69,8.68c-17.06,16.48-27,23.22-48.72,32.86-4,1.77-7.41.44-8.72-2.42-1.22-2.62-.4-5.58,2.61-7.36a7.6,7.6,0,0,1,.94-.49l1.08-.48c6.71-12.78-1.15-26.13-3.43-36-1.84,1.09-3.72,2.08-5.6,3.06-160.35,84.86-468.62-18.72-585.25-239.09s-50.64-483.93,147.29-588.65S784,1038.84,900.59,1259.21Z" transform="translate(-126.25 -60.19)"/>

			<path id="balloon-path-2" :style="balloonstyles" d="M1564.59,1170.17c-73.84,226.11-337.74,377.17-511.53,341.64,1.86,10.6.06,26.31,10,34l1.66.06c4.1.15,6,2.8,5.83,5.95s-2.44,5.66-6.72,5.53c-23.71-.81-35.48-3.29-57.49-12.18-4-1.62-5.46-5-4.32-8,1-2.7,3.74-4.17,7.11-3.25.34.1.67.21,1,.34l1.1.45c13.86-4.06,18-19,23.53-27.52-2.07-.57-4.08-1.23-6.1-1.9-172.46-56.3-312.25-349.93-234.88-586.94s312.73-372.77,525.59-303.25S1642,933.16,1564.59,1170.17Z" transform="translate(-126.25 -60.19)"/>

			<path id="balloon-path-1" :style="balloonstyles" d="M1098.89,531.31c-11.59,237.58-226.31,452.9-403.32,464.46,4.59,9.73,7,25.36,18.68,30.19l1.61-.38c4-.94,6.52,1.12,7.2,4.2s-.86,6.11-5,7.11c-23.08,5.47-35.09,6.18-58.66,3.41-4.31-.5-6.6-3.41-6.27-6.54.29-2.87,2.51-5,6-5a9.28,9.28,0,0,1,1.06.06l1.18.14c12.29-7.57,12.34-23.06,15.43-32.75-2.14,0-4.26-.11-6.38-.22C489.19,987.16,276.9,740.8,289,491.77s203.34-442,427-431.13S1111,282.28,1098.89,531.31Z" transform="translate(-126.25 -60.19)"/>

			<path id="weight" :style="balloonstyles" d="M922.11,2461h150.58c10.9,0,17.43-11,11.45-19.22l-76.32-105.31a11.44,11.44,0,0,1-.55-12.79l1.41-2.31c5-8.27,21.16-18.39,10.74-18.39H972.57c-10.44,0,7.06,10.15,12.11,18.42l1.54,2.52a11.41,11.41,0,0,1-.49,12.74L910.6,2441.84C904.71,2450.1,911.25,2461,922.11,2461Z" transform="translate(-126.25 -60.19)"/>

		</svg>
	</div>
</template>
<script>
	export default {
	props:{
		id: String,
		balloons: Array,
		weighthex: String,
	},
 	computed: {
    balloonstyles() {
      return {
        '--balloon-colour-1': this.balloons[0].hex,
        '--balloon-colour-2': this.balloons[1].hex,
        '--balloon-colour-3': this.balloons[2].hex,
        '--weight-colour': this.weighthex,
      }
    }
  },
	data() {
    return {
      loaded: false,
    }
  },
}
</script>
<style lang="scss">
	#balloon-path-1{
		fill: var(--balloon-colour-1);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	#balloon-path-2{
		fill: var(--balloon-colour-2);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	#balloon-path-3{
		fill: var(--balloon-colour-3);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
	#ribbon-path-1,
	#ribbon-path-2,
	#ribbon-path-3{
		fill: #cccccc;
	}
	#weight{
		fill: var(--weight-colour);
		-webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
  	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .1));
	}
</style>