<style lang="scss">
	@import url('https://fonts.googleapis.com/css?family=Nunito');
	@import '~vuetify/dist/vuetify.min.css';
	@import '~@mdi/font/css/materialdesignicons.min.css';
	a{
		text-decoration: none !important;
	}
</style>
<template>
	<v-app id="inspire">
		<v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <v-list dense>
      	<v-row align="center">
          <v-col cols="12">
          	<router-link :to="{ name: 'dashboard' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-home</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Dashboard</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link>
	          <a href="/logout">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-logout</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Logout</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
		        </a>
<!-- 	          <router-link :to="{ name: 'UserStats' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-package-variant</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >My Plan</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link> -->
	         <!--  <router-link :to="{ name: 'ProductStats' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-account</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >My Account</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link> -->
      		</v-col>
      	</v-row>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue-grey darken-3" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">Customer Dashboard</span>
      </v-toolbar-title>
      <v-spacer />
      <a href="https://xeroplas.com" target="_blank">
      	<img src="/img/logos/logo-white.svg" alt="Xeroplas logo" width="100"/>
      </a>
    </v-app-bar>
    <v-content>
    	<v-container class="pb-0">
        <v-row class="pb-0">
        	<div class="col-12 pb-0">
<!-- 			    	<v-breadcrumbs :items="breadcrumbs" class="mt-3 px-0">
					      <template v-slot:divider>
				        <v-icon>mdi-chevron-right</v-icon>
				      </template>
			    	</v-breadcrumbs> -->
			    </div>
		    </v-row>
		  </v-container>
      <v-container fluid class="pt-0">
        <v-row class="pt-0">
          <transition name="fade" mode="out-in" @enter="enter" appear>
						<router-view @pageChange="function (type, page){pageChanged('extra', ...arguments)}"/>
					</transition>
        </v-row>
      </v-container>
    </v-content>
	</v-app>
</template>
<script>
	export default {
		props: {
      source: String,
    },
		data() {
      return {
      	dialog: false,
	      drawer: null,
				pageType: 'dark',
				page: 'home',
				breadcrumbs: [{
			    href: '/customers/dashboard',
			    link: true,
			    text: 'Dashboard'
			  }]
			}
		},
		mounted(){
		},
		updated(){
		},
		methods: {
			enter(element) {
	    },
	    pageChanged(value1, value2){
	    	this.pageType = value1.type;
	    	this.page = value2.page;
	    	this.breadcrumbs = value2.breadcrumbs;
	    },
	    backToTop(){
				setTimeout(function(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
				},450);
			}
		}
	}
</script>