<template>
	<div class="container">
		<div class="row">
			<dashboard-header></dashboard-header>
			<dashboard-section-1></dashboard-section-1>
			<dashboard-section-2></dashboard-section-2>
			<dashboard-section-3></dashboard-section-3>
			<dashboard-section-4></dashboard-section-4>
		</div>
	</div>
</template>
<script>
	const dashboardHeader = () => import(/* webpackChunkName: "dashboardHeader" */ '../components/dashboard/Header.vue');
	const dashboardSection1 = () => import(/* webpackChunkName: "dashboardSection1" */ '../components/dashboard/Section1.vue');
	const dashboardSection2 = () => import(/* webpackChunkName: "dashboardSection2" */ '../components/dashboard/Section2.vue');
	const dashboardSection3 = () => import(/* webpackChunkName: "dashboardSection3" */ '../components/dashboard/Section3.vue');
	const dashboardSection4 = () => import(/* webpackChunkName: "dashboardSection4" */ '../components/dashboard/Section4.vue');
	export default {
		data() {
      return {
				breadcrumbs: [{
			    href: '/customers/dashboard',
			    link: true,
			    text: 'Dashboard'
			  }]
			}
		},
		components: { 
			dashboardHeader,
			dashboardSection1,
			dashboardSection2,
			dashboardSection3,
			dashboardSection4
		},
		mounted(){
			this.$emit('pageChange', {'type':'dark', 'page':'home', 'breadcrumbs': this.breadcrumbs});
		},
		metaInfo: {
			title: 'Dashboard - Xeroplas',
	    meta: [
	      { name: 'description', content: 'Xeroplas customer dashboard' },
	      { name: 'og-image', content: 'https://xeroplas.com/img/og.jpg' }
	    ]
	  }
	}
</script>