<template>
	<v-container fluid>
		<v-row>
			<printful-header @variantRequest="getVariants"></printful-header>
			<printful-section-1 :id="productid" v-if="productid"></printful-section-1>
			<printful-section-2></printful-section-2>
			<printful-section-3></printful-section-3>
			<printful-section-4></printful-section-4>
		</v-row>
	</v-container>
</template>

<script>
	const printfulHeader = () => import(/* webpackChunkName: "printfulHeader" */ '../components/printful/Header.vue');
	const printfulSection1 = () => import(/* webpackChunkName: "printfulSection1" */ '../components/printful/Section1.vue');
	const printfulSection2 = () => import(/* webpackChunkName: "printfulSection2" */ '../components/printful/Section2.vue');
	const printfulSection3 = () => import(/* webpackChunkName: "printfulSection3" */ '../components/printful/Section3.vue');
	const printfulSection4 = () => import(/* webpackChunkName: "printfulSection4" */ '../components/printful/Section4.vue');
	export default {
		data() {
      return {
      	productid: null,
				breadcrumbs: [{
			    href: '/',
			    link: true,
			    text: 'Dashboard'
			  },{
			    href: '/printful',
			    link: true,
			    text: 'Printful'
			  }]
			}
		},
		components: { 
			printfulHeader,
			printfulSection1,
			printfulSection2,
			printfulSection3,
			printfulSection4
		},
		mounted(){
			this.$emit('pageChange', {'type':'dark', 'page':'home', 'breadcrumbs': this.breadcrumbs});
		},
		metaInfo: {
			title: 'Printful - Admin System',
	    meta: [
	      { name: 'description', content: 'Lorem ipsum' },
	      { name: 'og-image', content: 'https://google.com' }
	    ]
	  },
	  methods:{
	  	getVariants(id){
	  		console.log(id);
	    	this.productid = id;
	    }
	  }
	}
</script>