<template>
	<v-container fluid>
		<v-row>
			<product-stats-header></product-stats-header>
			<product-stats-section-1></product-stats-section-1>
			<product-stats-section-2></product-stats-section-2>
			<product-stats-section-3></product-stats-section-3>
			<product-stats-section-4></product-stats-section-4>
		</v-row>
	</v-container>
</template>

<script>
	const productStatsHeader = () => import(/* webpackChunkName: "productStatsHeader" */ '../components/product-stats/Header.vue');
	const productStatsSection1 = () => import(/* webpackChunkName: "productStatsSection1" */ '../components/product-stats/Section1.vue');
	const productStatsSection2 = () => import(/* webpackChunkName: "productStatsSection2" */ '../components/product-stats/Section2.vue');
	const productStatsSection3 = () => import(/* webpackChunkName: "productStatsSection3" */ '../components/product-stats/Section3.vue');
	const productStatsSection4 = () => import(/* webpackChunkName: "productStatsSection4" */ '../components/product-stats/Section4.vue');
	export default {
		data() {
      return {
				breadcrumbs: [{
			    href: '/',
			    link: true,
			    text: 'Dashboard'
			  },{
			    href: '/product-stats',
			    link: true,
			    text: 'Product Stats'
			  }]
			}
		},
		components: { 
			productStatsHeader,
			productStatsSection1,
			productStatsSection2,
			productStatsSection3,
			productStatsSection4
		},
		mounted(){
			this.$emit('pageChange', {'type':'dark', 'page':'home', 'breadcrumbs': this.breadcrumbs});
		},
		metaInfo: {
			title: 'Product Stats - Admin System',
	    meta: [
	      { name: 'description', content: 'Lorem ipsum' },
	      { name: 'og-image', content: 'https://google.com' }
	    ]
	  },
	  methods:{

	  }
	}
</script>