.no-webp{
	.balloons-bg{
		background-image: url('/img/bg/balloons.jpg');
	}
}
.webp{
	.balloons-bg{
		background-image: url('/img/bg/balloons.webp');
	}
}

.bg{
	@include background();
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.dark-bg{
	background-color: $navy;
}
.bg-green{
	background-color: $green !important;
}
.bg-blue{
	background-color: $primary !important;
}
.bg-fixed{
	background-attachment: fixed;
}
.bg-light{
	background-color: $lightbg !important;
}