// Selected Text -----------------
::selection {
	color: $white;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $white;
	background: $primary; /* Gecko Browsers */
}
// Body Styles -------------------
body{
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: $body-bg;
	color: $darkgrey;
	font-family: $body;
	h1{
		font-family: $title;
		font-weight: 700;
		font-style: normal;
		font-size: 5rem;
		line-height: 1.2;
		&.page-top{
			font-weight: 700;
			font-size: 4rem;
		}
		&.blog-title{
			font-size: 4rem;
		}
		.larger{
			font-size: 6rem;
		}
		.smaller{
			font-size: 3rem;
		}
	}
	h2{
		font-size: 3rem;
		line-height: 4.2rem;
		font-weight: 900;
		font-style: normal;
		font-family: $title;
		&.title-large{
			font-weight: 700;
			font-size: 5rem;
			line-height: 6rem;
		}
	}
	h3{
		font-size: 1.6rem;
		font-weight: 900;
		font-family: $title;
		&.faq-question{
			font-size: 2rem;
			button{
				font-weight: 600;
			}
		}
		&.bigger{
			font-size: 2rem;
		}
		&.job-title{
			font-size: 2rem;
			button{
				font-weight: 900;
			}
		}
	}
	h4{
		font-size: 1.2rem;
		font-weight: 700;
		font-family: $title;
	}
	h5{
		font-size: 1.1rem;
		font-family: $title;
	}
	p{
		font-size: 1.1rem;
		&.text-small{
			font-size: 0.9rem;
		}
		&.text-large{
			font-size: 1.2rem;
		}
		&.text-larger{
			font-size: 1.5rem;
		}
		&.letter-spacing{
			letter-spacing: 2px;
		}
		.smaller{
			font-size: 0.8rem;
		}
	}
	a{
		@include transition(300ms);
		&.text-white{
			color: $white !important;
			&:hover{
				&.hover-dark{
					color: $darkgrey !important;
				}
			}
		}
		&.text-dark{
			color: $darkgrey !important;
			&:hover{
				color: $primary !important;
			}
		}
		&:hover{
			text-decoration: none !important;
		}
	}
	ul{
		list-style: none;
		padding-left: 1.5rem;
		li{
			position: relative;
			margin-bottom: 1rem;
			font-size: 1.1rem;
			&:before{
				content: "";
				background-color: $primary;
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				left: -1.3rem;
				top: 9px;
				width: 6px;
				height: 6px;
				border-radius: 100%
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	.white-text{
		color: $white;
	}
	.text-red{
		color: $red !important;
	}
	.text-yellow{
		color: $yellow !important;
	}
	.text-dark{
		color: $darkgrey !important;
	}
	.text-title{
		font-family: $title !important;
	}
}
.cursor-pointer{
	cursor: pointer;
}
#content{
	z-index: 1;
	@include transition(300ms);
	&.opacity{
		opacity: 0.1;
	}
}