.btn{
	display: block;
	border-radius: 30px;
	font-family: $body;
	border:0 !important;
	display: inline-block;
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 1rem;
	font-weight: 600;
	padding: 13px 20px;
	max-width: 262px;
	@include transition(300ms);
	&.btn-icon{
		text-align: left !important;
		i{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1rem;
			@include transition(300ms);
		}
	}
	&.btn-small{
	  height: 30px !important;
	  font-size: 0.8rem !important;
	  padding: 6px 10px !important;
	}
	&:hover{
		border-radius: 60px;
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
	}
	&:disabled{
		&:hover{
			border-radius: 60px;
			transform: none;
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
		}
	}
}
.btn-primary{
	background-color: $primary;
	color: $white;
	&:hover{
		background-color: $primary;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-primary-line{
	padding: 10px 20px;
	background-color: transparent;
	border: 2px solid $primary !important;
	color: $primary;
	&:hover{
		background-color: $primary;
		border: 2px solid $primary !important;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.active{
		background-color: $primary;
		border: 2px solid $primary !important;
		color: $white !important;
		text-decoration: none !important;
	}
}
.btn-red{
	background-color: $red;
	color: $white;
	&:hover{
		background-color: $red;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-yellow{
	background-color: $yellow;
	color: $white;
	&:hover{
		background-color: $yellow;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
