#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.primary-line{
	border-top: 2px solid $primary;
}
.green-line{
	border-top: 2px solid $green;
}
.rounded{
	position: relative;
	border-radius: 30px !important;
	.close{
		position: absolute;
		top: 1.2rem;
		right: -1.5rem;
		cursor: pointer;
	}
}
.overflow-x-hidden{
	overflow-x: hidden;
	overflow-y: visible;
}
.search-page{
	min-height: 100vh;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.rounded-box{
	border-radius: 5px;
}
.card{
	border-radius:5px;
}
.full-height{
	height: 100vh;
}
.modal{
	background-color: rgba(255,255,255, 0.95);
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transwhite;
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.blog-body{
	font-size: 1.1rem;
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
#map{
	height: 500px;
}
.zoom-link{
	cursor: pointer;
	.zoom-img{
		width: 100%;
		height: 233px;
		max-height: 233px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(300ms);
		}
		&.product-image{
			height: 100%;
			max-height: inherit;
			img{
				position: relative;
			}
		}
	}
	&:hover{
		.zoom-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.rounded-image{
	border-radius: 5px;
	overflow: hidden;
}
.behind-blue{
	position: relative;
	&:before{
		content: '';
		background-image: url('/img/shapes/behind-blue.svg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 444px;
		height: 395px;
		position: absolute;
		left: calc(50% - 222px);
		bottom: -60px;
		z-index: 1;
	}
	img{
		z-index: 2;
		position: relative;
		max-width: 100%;
	}
}
.behind-red{
	position: relative;
	&:before{
		content: '';
		background-image: url('/img/shapes/behind-red.svg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 444px;
		height: 447px;
		position: absolute;
		left: calc(50% - 222px);
		bottom: -60px;
		z-index: 1;
	}
	img{
		z-index: 2;
		position: relative;
		max-width: 100%;
	}
}
.behind-yellow{
	position: relative;
	&:before{
		content: '';
		background-image: url('/img/shapes/behind-yellow.svg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 448px;
		height: 483px;
		position: absolute;
		left: calc(50% - 224px);
		bottom: -60px;
		z-index: 1;
	}
	img{
		z-index: 2;
		position: relative;
		max-width: 100%;
	}
}
.page-top{
	.circle-yellow{
		width: 311px;
		height: 311px;
		position: absolute;
		top: 100px;
		left: calc(50% - 803px);
		z-index: 0;
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-webkit-animation-name: bouncer;
		animation-iteration-count: infinite;
	 -webkit-animation-duration: 15s;
	 -webkit-animation-timing-function: ease-in-out;
	 @include transition(300ms);
	}
	.circle-red{
		width: 836px;
		height: 836px;
		position: absolute;
		top: -200px;
		right: calc(50% - 836px);
		z-index: 0;
		-webkit-animation-name: pulser;
		animation-iteration-count: infinite;
	 -webkit-animation-duration: 12s;
	 -webkit-animation-direction: alternate;
	 -webkit-animation-timing-function: ease-in-out;
	}
	.circle-blue{
		width: 296px;
		height: 296px;
		position: absolute;
		top: calc(50% - 100px);
		left: calc(50% - 100px);
		z-index: 1;
		-webkit-animation-name: bouncer2;
		-webkit-animation-direction: reverse;
		animation-iteration-count: infinite;
	 -webkit-animation-duration: 20s;
	 -webkit-animation-timing-function: ease-in-out;
	}
	.scroll{
		width: 37px;
		height: 47px;
		position: absolute;
		bottom: 2rem;
		left: 3rem;
		z-index: 1;
		-webkit-animation-name: pulser;
		animation-iteration-count: infinite;
	 -webkit-animation-duration: 4s;
	 -webkit-animation-direction: alternate;
	 -webkit-animation-timing-function: ease-in-out;
	}
}
.smallbouncer{
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-webkit-animation-name: smallbouncer;
		animation-iteration-count: infinite;
	 -webkit-animation-duration: 8s;
	 -webkit-animation-timing-function: ease-in-out;
}
.top-balloons{
	position: absolute;
	width: 640px;
	right: calc(50% - 600px);
	top: 22vh;
}
.services-img{
	overflow: hidden;
	border-radius: 5px;
	.services-title{
		position: absolute;
		top: calc(50% - 15px);
		left: 0;
		width: 100%;
		height: 30px;
	}
	img{
		height: 233px;
	}
}
.shadow{
	@include boxShadow();
}