// Footer ---------------
footer{
	color: $white;
	.footer-inner{
		border-top: 5px solid $red;
	}
	a{
		cursor: pointer;
		color: $white;
		&:hover{
			color: $red;
		}
	}
	p{
		font-size: 1.0rem;
	}
	img{
		max-width: 100%;
	}
	.footer-social{
		font-size: 25px;
	}
	.menu_logo{
		width:150px;
	}
	&:before{
		content: '';
		background-image: url('/img/shapes/circle-light-blue.svg');
		background-size: contain;
		background-repeat: no-repeat;
		width: 60vw;
		height: 60vw;
		position: absolute;
		top: - 45vw;
		left: -5vw;
		z-index: -1;
		-webkit-animation-name: bouncer2;
		-webkit-animation-direction: reverse;
		animation-iteration-count: infinite;
	 -webkit-animation-duration: 10s;
	 -webkit-animation-timing-function: ease-in-out;
	}
}
.footer-overflow{
	margin-bottom: -100px;
	position: relative;
}
.footer-top{
	.footer-overlap{
		margin-top: -540px;
		&.team-overlap{
			margin-top: -420px;
		}
	}
}