// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: objektiv-mk1, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1D3D8D;
$lightblue: #97C9EB;
$indigo: #6574cd;
$purple: #9254DB;
$pink: #F4406D;
$red: #E73C62;
$orange: #FF7141;
$yellow: #FFCB00;
$green: #2FC251;
$darkgreen: #42872c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$formgrey: #757575;

// Colours -----------------
$primary: #1D3D8D; 
$primarylight: #4067C9;
$primarydark: #1A3986;
$second: #97C9EB;
$white: #fff;
$black: #000;
$navy: #020A3B;
$lightnavy: #465966;
$darknavy: #434343;
$darkgrey: #4B4B4B;
$midgrey: #D8DDEB;
$lightbg: #fffcfa;
$lightgrey: #fffcfa;
$grey: #B4B4B4;
$bluegrey: #A8B1B7;
$highlight: #FF6A6A;
$mastercard: #FF4D2D;
$visa: #283891;

$transgreylight: rgba(0,0,0,0.5);
$transgrey: rgba(0,0,0,0.9);
$transgreydark: rgba(0,0,0,0.85);
$transwhite: rgba(255,255,255,0.6);
$transblue: rgba(0,0,0,0.32);
$transbluelight: rgba(26,126,244,0.2);
$transbluedark: rgba(38,60,75,0.9);
$transred: rgba(224,38,28,0.8);
$transdark: rgba(19,22,41,0.3);

// Fonts --------------------
$title: museo-sans-rounded, sans-serif;
$body: pt-sans, sans-serif;
$fancy: pt-sans, sans-serif;