<template>
	<div id="checkout-top" class="container mb-5 pb-5 mob-mb-0 position-relative z-2">
		<div class="row">
			<div class="col-12" v-if="showerror">
				<p class="text-primary" data-aos="slide-up"><i class="fa fa-warning"></i> {{showerror}}</p>
			</div>
			<personal-details v-if="thestage == 0" @back="back(0)" @selected="personalChange" :fields="fields" :errors="errors"></personal-details>
			<address-details v-if="thestage == 1" @back="back(0)" @selected="addressChange" :fields="fields" :billing="billingaddress" :shipping="shippingaddress"></address-details>
			<shipping-details v-if="thestage == 2" @back="back(1)" @selected="shippingChange" :fields="fields" :shipping="shippingaddress"></shipping-details>
			<payment-details v-if="thestage == 3 && this.intent.client_secret != null" @back="back(2)" @selected="paymentChange" :subtotal="amount" :shipping="fields.shipping" :total="amount + fields.shipping" :stripekey="stripekey" :intent="intent" :fields="fields"></payment-details>
			<stages-bar :stages="stages" :stage="thestage"></stages-bar>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			inflated: Number,
			amount: Number,
			stripekey: String,
			login: String,
			billingaddress: Object,
			shippingaddress: Object,
		},
		data() {
			return {
				fields: {
					inflated: this.inflated,
					amount: 5,
					first_name: "",
					last_name: "",
					country: "GB",
					streetAddress: "",
					extendedAddress: "",
					region: "",
					city: "",
					postalCode: "",
					shippingcountry: "",
					shippingstreetAddress: "",
					shippingextendedAddress: "",
					shippingregion: "",
					shippingcity: "",
					shippingpostalCode: "",
					shippingcountry: "GB",
					email: "",
					comment: "",
					consent: "",
					paymentId: "",
					notes: "",
					authcheck: this.login,
					mailchimp: 0,
					shipping: 0,
					shippingtype: "Click and collect",
					collectiondate: null,
					eventdate: null,
				},
				stages: [0,1,2,3],
				intent: {},
				thestage: 0,
				errors: {},
				success: false,
				loaded: true,
				showerror: '',
			}
		},
		mounted(){
			if(this.amount != null && this.amount != 0){
				this.fields.amount = this.amount;
				this.thestage = 0;
			}
			if(this.login == "1"){
				if(this.billingaddress){
					this.thestage = 1;
				}else{
					this.thestage = 1;
				}
			}
		},
		methods: {
			shippingChange(val){
				this.fields.shippingtype = val.details.shippingtype;
				this.fields.collectiondate = val.details.collectiondate;
				this.fields.eventdate = val.details.eventdate;
				this.fields.notes = val.details.notes;
				
				document.getElementById("loader-message").innerHTML = "";
				document.getElementById("loader").classList.add("on");
    		axios.post('/set-shipping', this.fields)
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          $('#loader-roller').removeClass('d-block').addClass('d-none');
          document.getElementById("loader").classList.remove("on");
          this.fields.shipping = response.data;
          this.getIntent();
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          console.log(error.response);
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data.message);
          	document.getElementById("loader-message").innerHTML = "Check form for errors";
            document.getElementById("loader").classList.remove("on");
          }
        });
			},
			backToTop(){
				$('html,body').animate({
           scrollTop: $("#checkout-top").offset().top - 400
        });
			},
			back(val){
				this.thestage = val;
			},
			getIntent(){
    		axios.get('/user/get-intent')
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.intent = response.data;
          this.thestage = 3;
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          console.log(error.response);
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data.message);
          }
        });
			},
			paymentChange(val){
				this.fields.paymentId = val.details.paymentId;
				this.submit();
				this.backToTop();
			},
			addressChange(val){

				this.fields.same = val.details.same;

				this.fields.streetAddress = val.details.streetAddress;
				this.fields.extendedAddress = val.details.extendedAddress;
				this.fields.city = val.details.city;
				this.fields.postalCode = val.details.postalCode;
				this.fields.region = val.details.region;
				this.fields.country = val.details.country;

				this.fields.shippingstreetAddress = val.details.shippingstreetAddress;
				this.fields.shippingextendedAddress = val.details.shippingextendedAddress;
				this.fields.shippingcity = val.details.shippingcity;
				this.fields.shippingpostalCode = val.details.shippingpostalCode;
				this.fields.shippingregion = val.details.shippingregion;
				this.fields.shippingcountry = val.details.shippingcountry;

				document.getElementById("loader-message").innerHTML = "";
				document.getElementById("loader").classList.add("on");
    		axios.post('/address/store', this.fields)
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          $('#loader-roller').removeClass('d-block').addClass('d-none');
          document.getElementById("loader").classList.remove("on");
          this.thestage = 2;
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          console.log(error.response);
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data.message);
          	document.getElementById("loader-message").innerHTML = "Check form for errors";
            document.getElementById("loader").classList.remove("on");
          }
        });
    		this.backToTop();
				
			},
			personalChange(val){
				this.fields.first_name = val.details.first_name;
				this.fields.last_name = val.details.last_name;
				this.fields.email = val.details.email;
				this.fields.phone = val.details.phone;
				this.fields.consent = val.details.consent;
				this.fields.password = val.details.password;
				this.fields.password_confirmation = val.details.password_confirmation;
				document.getElementById("loader-message").innerHTML = "";
				document.getElementById("loader").classList.add("on");

    		axios.post('/user/store', this.fields)
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.intent = response.data;
          $('#loader-roller').removeClass('d-block').addClass('d-none');
          document.getElementById("loader").classList.remove("on");
          this.thestage = 1;
          location.reload();
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          console.log(error.response);
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data.message);
          	document.getElementById("loader-message").innerHTML = "Check form for errors";
            document.getElementById("loader").classList.remove("on");
          }
        });
        this.backToTop();
			},
			amountChange(val){
				this.fields.interval = val.interval;
				this.fields.amount = val.amount;
				if(this.login === "1" && this.address != 0){
					this.thestage = 2;
				}else if(this.login === "1" && this.address == 0){
					this.thestage = 1;
				}else{
					this.thestage = 0;
				}
				this.backToTop();
			},
      submit() {
      	if (this.loaded) {
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		

      		axios.post('/payment/store', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          var invoice = response.data;
	          this.loaded = true;
	          this.success = true;
	          document.getElementById("loader-message").innerHTML = "Payment Successful";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
            window.location.href = "/shop/success/"+invoice.transaction_id;
	        })
      		.catch(error => {
	         // Error handling
	         	console.log(error.response.data.message);
	         	this.showerror = error.response.data.message;
	          document.getElementById("loader").classList.remove("on");
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          }
	        });
      	}
      },
    },
  }
</script>