<template>
<div class="container payment-form py-5">
		<div class="row justify-content-center half_row">
			<div class="col-12 half_col">
				<h3 class="mb-4">Complete Payment</h3>
			</div>
			<div class="col-lg-12 half_col">
				<p><b>Please enter your card details:</b></p>
				<div class="border-rounded">
					<div ref="card"></div>
				</div>
				<!-- Used to display form errors. -->
        <p id="card-errors" role="alert" class="text-primary mt-2 mb-0" data-aos="slide-up"></p>
      </div>
			<div class="col-lg-12 half_col mt-3">
				<label class="rounded-box bg-primary p-3 w-100" for="wavier">
					<div class="form-check text-center">
					  <input id="wavier" class="form-check-input" type="checkbox" value="1" v-model="wavier"/>
					  <label class="form-check-label" for="wavier"><p class="mb-0 text-white">I have read and agree to the Luce Balloons <a href="/terms-and-conditions" target="_blank" class="text-white"><u>Terms & Conditions</u></a> and <a href="/privacy-policy" target="_blank" class="text-white"><u>Privacy Policy</u></a></p></label>
					  <div v-if="errors && errors.wavier" class="text-primary">{{ errors.wavier[0] }}</div>
					</div> 
				</label>
			</div>

			<div class="col-12 half_col text-center text-md-right ">
				<hr class="line primary-line my-5"/>
				<p class="mb-0">Subtotal: £{{subtotal.toFixed(2)}}</p>
				<p class="mb-0" v-if="shipping > 0">Shipping: £{{shipping.toFixed(2)}}</p>
				<h3 class="mt-3"><span class="text-primary">Total: </span> £<span id="total">{{total.toFixed(2)}}</span></h3>
			</div>
			<div class="col-12 half_col mt-3 text-center">
				<button id="card-button" type="button" class="btn btn-primary float-right mob-float-none" :disabled="validated == false" >Confirm</button>
				<div class="btn btn-blue-line float-right mob-float-none" @click="back()">Back</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
			intent: Object,
			fields: Object,
			stripekey: String,
			subtotal: Number,
			shipping: Number,
			total: Number,
		},
		data() {
			return {
				wavier: 0,
				errors: {},
				success: false,
				loaded: true,
				validated: false,
				
				send: {}
      }
		},
	  mounted: function () {
	  	var style = {
		    base: {
		    	border: '1px solid #1c1c1c',
		      color: '#002145',
		      fontWeight: 400,
		      fontFamily: 'pt-sans, sans-serif',
		      fontSize: '16px',

		      ':focus': {
		        color: '#424770',
		      },

		      '::placeholder': {
		        color: '#9BACC8',
		      },

		      ':focus::placeholder': {
		        color: '#CFD7DF',
		      },
		    },
		    invalid: {
		      color: '#fff',
		      ':focus': {
		        color: '#FA755A',
		      },
		      '::placeholder': {
		        color: '#FFCCA5',
		      },
		    },
		  };
	  
			let self = this;
			let stripe = Stripe(this.stripekey, { locale: 'en' }),
		  elements = stripe.elements();
	    let cardElement = elements.create('card', { style: style });
	    let waviercheck = document.getElementById('wavier');
	    cardElement.mount(this.$refs.card);

		  const cardHolderName = this.fields.first_name + ' ' + this.fields.last_name;
		  const cardButton = document.getElementById('card-button');
		  const clientSecret = this.intent.client_secret;

		  cardButton.addEventListener('click', async (e) => {
		  	document.getElementById("loader-message").innerHTML = "";
    		document.getElementById("loader").classList.add("on");
    		document.getElementById('loader-roller').classList.add('d-block');
	      document.getElementById("loader-message").innerHTML = "Processing";
	      stripe.confirmCardPayment(clientSecret, {
        payment_method: {
        		card: cardElement,
            billing_details: { name: cardHolderName }
          }
        })
        .then(function(result) {
          if (result.error) {
          	document.getElementById("loader").classList.remove("on");
          	console.log(result.error);
            // Inform the user if there was an error.
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
            
          } else {
          	// The payment has been processed!
      			if (result.paymentIntent.status === 'succeeded') {
	            console.log(result);
	            // Send the token to your server.
	            self.stripeTokenHandler(result.paymentIntent.id);
	          }
          }
        });
		  });
		  // Handle real-time validation errors from the card Element.
	    cardElement.addEventListener('change', function(event) {
	        if (event.error) {
	        	var displayError = document.getElementById('card-errors');
	          displayError.textContent = event.error.message;
	          self.validated = false;
	        } else {
	        	var displayError = document.getElementById('card-errors');
            displayError.textContent = '';
            if(self.wavier == 1){
            	self.validated = true;
            }
	        }
	    });
	    waviercheck.addEventListener('change', function(event) {
	    	var displayError = document.getElementById('card-errors');
        if(self.wavier == 1 && displayError.textContent == ''){
          self.validated = true;  
        }else{
        	self.validated = false;
        }
	    });
		},
		methods:{
			back(){
				this.$emit('back');	
			},
			stripeTokenHandler(paymentId) {
				this.send.paymentId = paymentId;
				this.send.mailchimp = this.mailchimp;
				this.send.shipping = this.shipping;
				this.$emit('selected', {'details':this.send});
			}
		}
	}
</script>