<template>
	<div id="checkout-shipping" class="container py-5">
		<div class="row justify-content-center half_row">
			<div class="col-12 half_col">
				<h3>Collection & Shipping</h3>
				<p class="mb-0">Same day delivery may be possible, please call us on  <a href="tel:+442892673718"><b>+44 28 9267 3718</b></a></a> to check availablity.</p>
				<p>Sorry, collection & delivery is not available on Sundays.</p>
			</div>
			<div class="col-12 half_col">
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="shipping" id="clickandcollect" value="Click and collect" v-model="shippingtype" checked>
				  <label class="form-check-label" for="clickandcollect">
				    <p class="text-large"><b>Click and collect from our party store in Lisburn - FREE</b></p>
				  </label>
				</div>
				<div class="mb-4" :class="{'d-none':(shippingtype != 'Click and collect')}">
					<label for="collectiondate" class="mb-2 pl-3"><b>Select a collection date*</b></label>
					<datepicker @selected="selected" :v-model="collectiondate" name="collectiondate" :disabled-dates="{to: this.todayplustwo, days: [0]}" placeholder="Please select a collection date" :input-class="'form-control bg-white vdatetime-input'"></datepicker>
					<div v-if="errors && errors.collectiondate" class="text-primary">{{ errors.collectiondate[0] }}</div>
					<p class="text-small text-grey pl-3 pt-2">*Please contact the shop to confirm a time before collecting or tell us a time in your <a href="#order-notes">order notes</a>.</p>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="shipping" id="standarddelivery" value="Standard delivery" v-model="shippingtype">
				  <label class="form-check-label" for="standarddelivery">
				    <p class="text-large"><b>Delivery - To arrange delivery please call <a href="tel:+442892673718">+44 28 9267 3718</a></b></p>
				  </label>
				</div>
			</div>
			<div id="order-notes" class="col-12 half_col">
				<hr class="my-5" />
					<h4>Order Notes:</h4>
					<p>When is your event?<br/>When does it suit to drop by and collect your order? (Day, Date and Time)</p>
					<textarea v-model="notes" rows="5" class="form-control" placeholder="If you need to tell us anything about your order, please do so in this text box"></textarea>
				</div>
			<div class="col-12 half_col">
				<hr class="my-5" />
				<h4>Balloons for events</h4>
			</div>
			<div class="col-lg-8 half_col">
				<p>If you are ordering inflated balloons for an event, please let us know the date of the event so we can ensure the balloons remain inflated properly for delivery or collection.</p>
			</div>
			<div class="col-lg-4 half_col">
				<datepicker @selected="eventselected" :v-model="eventdate" name="eventdate" :disabled-dates="{to: this.todayplustwo, days: [0]}" placeholder="Click to select an event date" :input-class="'form-control bg-white vdatetime-input'"></datepicker>
				<div v-if="errors && errors.eventdate" class="text-primary">{{ errors.eventdate[0] }}</div>
			</div>
			<div class="col-12 half_col">
				<hr class="my-5" />
				<h4>Do you need us to arrange your balloons on delivery?</h4>
			</div>
			<div class="col-12 half_col">
				<p>If you need us to set up your balloons at your venue, please call us on <a href="tel:+442892673718">+44 28 9267 3718</a> and we can arrange this for you.</p>
			</div>
			
			<div class="col-12 half_col">
				<hr class="my-5" />
			</div>
			<div class="col-12 half_col text-center mt-3">
				<button type="button" class="btn btn-primary float-right mob-float-none" @click="confirm()" :disabled="validated == false" >Confirm</button>
			</div>
		</div>
	</div>
</template>
<script>
	import Datepicker from 'vuejs-datepicker';

	export default {
		components: {
			Datepicker,
	  },
		props:{
			fields: Object,
			shipping: Object
		},
		data() {
			return {
				consent: 0,
				errors: {},
				todayplustwo: null,
				todayplustwoiso: "",
				shippingtype: "Click and collect",
				collectiondate: null,
				eventdate: null,
				success: false,
				loaded: true,
				validated: false,
				notes: "",
				send: {}
	    }
		},
		mounted(){
			this.todayplustwo = new Date();
			this.todayplustwo.setDate(this.todayplustwo.getDate() + 1);
			this.todayplustwoiso = this.todayplustwo.toISOString();
			setTimeout(function(){
				document.getElementById("collectiondate").placeholder = "Click to select collection date";
			}, 500);
			setTimeout(function(){
				document.getElementById("eventdate").placeholder = "Click to select event date";
			}, 500);
		},
		watch: {
	    shippingtype(val1, val2){
	    	if(val1 == "Click and collect"){
	    		if(this.collectiondate == null || this.collectiondate == ""){
	    			this.validated = false;
	    		}else{
	    			this.validated = true;
	    		}
	    	}else{
	    		this.collectiondate = null;
	    		this.validated = true;
	    	}
	    },
	    collectiondate(val){
	    	if(val == null || val == ""){
    			this.validated = false;
    		}else{
    			this.validated = true;
    		}
	    }
	  },
		methods: {
			selected(val){
				this.collectiondate = val;
			},
			eventselected(val){
				this.eventdate = val;
			},
			back(){
				this.$emit('back');	
			},
			confirm(){
				this.send.collectiondate = this.collectiondate;
				this.send.eventdate = this.eventdate;
				this.send.shippingtype = this.shippingtype;
				this.send.notes = this.notes;
				this.$emit('selected', {'details':this.send});
			},
	  },
	}
</script>
<style lang="scss">
.vdatetime-input{
	max-width: 300px;
	padding: 1rem;
	border: 2px solid #1D3D8D;
	height: 50px;
	width: 100%;
	border-radius: 30px;
	box-shadow: none !important;
	outline: none !important;
	cursor: pointer;
	font-family: pt-sans, sans-serif;
	&:focus{
		outline: none !important;
	}
}
</style>