<style lang="scss">
#product-stats-header{

}
</style>
<template>
	<v-container fluid>
		<v-row>
			<v-col cols="12">
        <v-card>
          <v-toolbar class="mb-0" color="blue darken-3" dark flat>
            <v-toolbar-title>Products</v-toolbar-title>
          </v-toolbar>
          <div class="py-5 px-5 mb-5">
    				<v-simple-table>
          		<template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left" scope="col">Name</th>
                    <th class="text-left" scope="col">Price</th>
                    <th class="text-left" scope="col">Sale Price</th>
                    <th class="text-left" scope="col">Purchased First</th>
                    <th class="text-left" scope="col"># Customers</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="product in products">
                    <td><p class="mb-0 mt-2">{{product.name}}</p></td>
                    <td><p class="mb-0 mt-2">£{{product.price}}</p></td>
                    <td><p class="mb-0 mt-2"><span v-if="product.sale_price">£{{product.sale_price}}</span><span v-else>Not on sale</span></p></td>
                    <td><p class="mb-0 mt-2">{{product.first_purchases}} times</p></td>
                    <td class=""><p class="mb-0 mt-2">{{product.users_count}}</p></td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card>
      </v-col>
		</v-row>
	</v-container>
</template>
<script>
	export default {
		data() {
	    return {
	      errors: {},
	      success: false,
	      loaded: true,
        products: {},
	    }
	  },
		mounted(){
      this.getProducts();
	  },
		methods:{
			moment: function (date) {
	      return moment(date).format('DD/MM/YYYY');
	    },
			getProducts(){
        axios.get('/api/products/get').then(response => {
          this.products = response.data;
        })
        .catch(error => {
          // Error handling
          console.log(error);
        });
      },
		}
	}
</script>