<style lang="scss"></style>
<template>
	<v-container fluid>
		<v-row>
			<div class="col-12">
				<v-card>
					<v-toolbar class="mb-0" color="blue darken-3" dark flat>
	          <v-toolbar-title>Number of customers per product</v-toolbar-title>
	        </v-toolbar>
					<div class="py-5 px-5 my-5">
						<GChart
		          :settings="{packages: ['bar']}"    
		          :data="chartdata"
		          :options="chartOptions"
		          :createChart="(el, google) => new google.charts.Bar(el)"
		        />
		      </div>
	      </v-card>
      </div>
    </v-row>
  </v-container>
</template>
<script>
	export default {
		data() {
	    return {
	      days: 7,
	      height: 100,
	      chartsLib: null, 
	      loaded: false,
	      chartdata: [],
	      chartOptions: {
	        height: 500,
	        bars: 'horizontal',
	        intervals: { 'style':'area' },
	        colors: ['#1565c0', '#1565c0'],
	        vAxis: { textPosition: 'none' },
	      }
	    }
		},
		mounted () {
	    this.getData();
	  },
		methods:{
			getData(){
	      axios.get('/api/products/count-users')
	      .then(response => {
	        this.loaded = true;
	        this.success = true;
	        console.log(response.data);
	        this.chartdata = response.data;
	      })
	      .catch(error => {
	        // Error handling
	        console.log(error.response.data);
	        this.loaded = true;
	        if (error.response.status === 422) {
	          this.errors = error.response.data.errors || {};
	        }
	      });
	    }
		}
	}
</script>