<template>
	<div class="container py-5">
		<div class="row justify-content-center py-5">
			<div class="col-lg-6 text-center">
				<h2 class="mb-4 grey-text">Select your location</h2>
        <img src="/img/shapes/under-title.svg" width="200" alt="Under title graphic" class="mb-4"s/>
				<div class="dropdown d-inline">
					<button class="select-location-button" type="button" id="select-location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-map-marker mr-2"></i> Select a location
					</button>
					<div class="dropdown-menu" aria-labelledby="newsCategory">
						<div v-for="location in locations" class="dropdown-item" @click="changeLocation(location)">{{location.location}}, {{location.title}}</div>
					</div>
				</div>  
			</div>
		</div>
    <div class="row justify-content-center mb-5" v-if="location != null">
      <div class="col-lg-4">
      	<div class="rounded-image shadow">
	      	<picture> 
	          <source :srcset="location.normalwebp" type="image/webp"/> 
	          <source :srcset="location.normal" :type="location.mimetype"/> 
	          <img :srcset="location.normal" :type="location.mimetype" :alt="location.title" class="w-100"/>
	        </picture>
	      </div>
      </div>
      <div class="col-lg-4 mob-mt-3">
      	<p class="mb-1"><i class="fa fa-map-marker text-primary mr-2"></i><b>{{location.location}}</b></p>
      	<h3 class="mb-3">{{location.title}}</h3>
      	<p>If you would like to find out more about this location please <a :href="'/locations/'+location.slug">click here</a>.</p>
      	<a :href="'/confirm-location/'+location.id">
      		<button class="btn btn-primary btn-icon" type="button">Confirm Location <i class="fa fa-chevron-right"></i></button>
      	</a>
      </div>
    </div>
  </div>  
</template>
<script>
	export default {
		data() {
			return {
				locations: [],
				location: null,
				title: '',
				errors: {},
				success: false,
				loaded: true,
				page: 1,
				scrollTo: 0,
				loadmore: true,
			}
		},
		mounted(){
			this.getLocations();
		},
		methods: {
			changeLocation(loc){
				this.location = loc;
			},
			getLocations(){
				if (this.loaded) {

					this.loaded = false;
					this.success = false;
					this.errors = {};

					axios.get('/locations/get').then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.success = true;
            this.locations = response.data.data;
            console.log(this.locations);
          })
					.catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            // if (error.response.status === 422) {
            //   this.errors = error.response.data.errors || {};
            // }
          });
				}
			}
		},
	}
</script>
<style lang="scss">
.select-location-button{
	width: 100%;
	border: 1px solid #F4F4F4 !important;
	height: 50px;
	border-radius: 30px;
	padding: 0 1rem;
	text-align: left;
	background: #F4F4F4;
	color: #C6B292;
	-webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
	&:focus,
	&:hover{
		border: 1px solid #C6B292 !important;
		outline: none !important;
	}
}
.dropdown-menu{
	.dropdown-item{
		cursor: pointer;
	}
}
</style>