<style lang="scss">

</style>
<template>
  <v-container fluid>
    <div class="row pt-0">
      <div class="col">
        <v-select
          v-model="search"
          :items="products"
          item-value="id"
          item-text="name"
          @change="getCustomers"
          label="Select Product"
          dense
        ></v-select>
      </div>
      <div class="col">
        <a class="btn btn-warning" :href="'/customers/export/'+search">
          <v-btn rounded right color="primary">Export</v-btn>
        </a>
      </div>
      <div class="col-md-12 mb-0">
        <v-card>
          <v-toolbar class="mb-0" color="blue darken-3" dark flat>
            <v-toolbar-title>Customers</v-toolbar-title>
          </v-toolbar>
          <div class="px-5 py-5 mb-5">
          	<v-simple-table class="elevation-1">
          		<template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left" scope="col">Name</th>
                    <th class="text-left" scope="col">Email</th>
                    <th class="text-left" scope="col">Phone</th>
                    <th class="text-left" scope="col">Created</th>
                    <th class="text-right" scope="col"># Products</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="customer in customers.data">
                    <td><p class="mb-0 mt-2">{{customer.full_name}}</p></td>
                    <td><p class="mb-0 mt-2"><a :href="'mailto:'+customer.email">{{customer.email}}</a></p></td>
                    <td><p class="mb-0 mt-2">{{customer.phone}}</p></td>
                    <td><p class="mb-0 mt-2">{{moment(customer.created_at)}}</p></td>
                    <td class="text-right"><p class="mb-0 mt-2">{{customer.products.length}}</p></td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card>
      </div>
      <div class="col-12">
      	<v-pagination v-model="pagination.current" :length="pagination.total" @input="getCustomers" :total-visible='5'></v-pagination>
      </div>
    </div>
  </v-container>
</template>
<script>
	export default {
		data() {
	    return {
	      errors: {},
	      success: false,
	      loaded: true,
	      search: 0,
	      customers: {},
        products: {},
	      limit: 10,
        pagination: {
          current: 1,
          total: 0
        }
	    }
	  },
		mounted(){
      this.getCustomers();
      this.getProducts();
	  },
		methods:{
			moment: function (date) {
	      return moment(date).format('DD/MM/YYYY');
	    },
			getCustomers(){
        if (this.loaded) {
          this.loaded = false;
          this.success = false;
          this.errors = {};
          this.offset = 0;
          axios.get('/api/customers/get/' + this.limit + '?page=' + this.pagination.current + '&search=' + this.search).then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            this.customers = response.data;
            this.pagination.current = response.data.current_page;
            this.pagination.total = response.data.last_page;
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
          });
        }
      },
      getProducts(){
        axios.get('/api/products/get?noextra=true').then(response => {
          response.data.unshift({'id': 0, 'name':'All Products'});
          this.products = response.data;
        })
        .catch(error => {
          // Error handling
          console.log(error);
        });
      },
		}
	}
</script>