<style lang="scss"></style>
<template>
	<v-container fluid>
		<v-row>
			<div class="col-12">
				<p>• Average first purchased product<br>
						• Percentage of purchases that occur when products are on sale<br>
						• Percentage of purchases that occur when products aren’t on sale</p>
					</div>
			<div class="col-md-12">
				<p><b>Average number of products purchased:</b> {{avgProductsPurchased}}</p>
				<p><b>Average time between purchases:</b> {{avgTimeBetweenPurchases}}</p>
      </div>
    </v-row>
  </v-container>
</template>
<script>
	export default {
		props:{
			chartdata: Array,
		},
		data() {
	    return {
	      days: 7,
	      height: 100,
	      loaderClass: "on",
	      chartsLib: null,
	      loaded: false,
	      avgProductsPurchased: 0,
	      avgTimeBetweenPurchases: '',
	    }
		},
		mounted(){
			this.getAvgProductCount();
			this.getAvgTimeBetweenPurchases();
		},
		methods:{
			getAvgTimeBetweenPurchases(){
	      axios.get('/api/customers/avg-time-between-purchases')
	      .then(response => {
	        this.loaded = true;
	        this.success = true;
	        this.avgTimeBetweenPurchases = response.data;
	      })
	      .catch(error => {
	        // Error handling
	        console.log(error.response.data);
	        this.loaded = true;
	        if (error.response.status === 422) {
	          this.errors = error.response.data.errors || {};
	        }
	      });
	    },
	    getAvgProductCount(){
	      axios.get('/api/customers/avg-product-count')
	      .then(response => {
	        this.loaded = true;
	        this.success = true;
	        this.avgProductsPurchased = response.data;
	      })
	      .catch(error => {
	        // Error handling
	        console.log(error.response.data);
	        this.loaded = true;
	        if (error.response.status === 422) {
	          this.errors = error.response.data.errors || {};
	        }
	      });
	    }
		}
	}
</script>