<template>
  <div class="container pt-3 pb-5">
    <div class="row pb-5 mob-py-0" v-if="memorials.length > 0">
      <div class="col-lg-6 mb-5" v-for="memorial in memorials">
        <a :href="'/memorials/' + memorial.slug">
        <div class="row half_row">
          <div class="col-lg-4 col-4 half_col">
        
            <div class="memorial-image">
              <picture>
                <source media="(min-width: 900px)" :srcset="memorial.normalwebp +' 1x, '+ memorial.normalwebp + ' 2x'" type="image/webp"/> 
                <source normalwebp="(min-width: 601px)" :srcset="memorial.normalwebp +' 1x, '+ memorial.normalwebp + ' 2x'" type="image/webp"/> 
                <source :srcset="memorial.normalwebp +'1x, '+ memorial.normalwebp + ' 2x'" type="image/webp"/> 
                <img :srcset="memorial.normal + ' 600w, ' + memorial.normal + ' 900w, '+ memorial.normal + ' 1440w'" :src="memorial.normal" :type="memorial.mimetype" :alt="memorial.title" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col-lg-8 col-8 half_col text-dark">
            <p class="text-title text-larger mb-1"><b>{{memorial.title}}</b></p>
            <p class="post-exerpt text-small mb-2">{{memorial.excerpt}}</p>
            <p class="mb-0 text-small"><b>View memorial</b> <i class="fa fa-arrow-circle-right text-primary ml-1"></i></p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-12 mt-5" v-if="loadmore">
        <div class="btn btn-primary mx-auto" @click="$emit('loadmore', true);">Load More</div>
      </div>
    </div>
    <div class="row justify-content-center py-5" v-else>
      <div class="col-md-8 text-center">
        <h3 class="mb-0">Sorry no results found</h3>
        <div class="line d-inline-block mx-auto my-3"></div>
        <p>Sorry, there are no news articles available at the moment. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      memorials: Array,
      loadmore: Boolean
    },
    methods: {
      moment: function (date) {
        return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>