<template>
    <div class="select-holder">
    	<select :id="inid" :name="inid" class="form-control" @change="onChangeCountry" v-model="country">
     
        <option value="Northern Ireland">Northern Ireland</option>
        <option value="Scotland">Scotland</option>
        <option value="Wales">Wales</option>
        <option value="England">England</option>
        <option value="UK Islands & Territories">UK Islands & Territories</option>

    	</select>
    </div>
</template>
<script>
	export default {
		props:{
			setcountry: String,
      inid: String,
		},
	  data() {
	    return {
	      country: this.setcountry,
	    }
	  },
	  mounted(){
	  	this.$emit('change', this.country)
	  },
	  methods: {
	  	onChangeCountry (event) {
	      this.$emit('change', this.country)
	    }
	  },
	}
</script>