<template>
<div class="container-fluid py-5 flowerbg bg position-relative">
  <div class="trans"></div>
  <div class="row py-5 justify-content-center">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-10 text-white">
          <h2 class="mb-4">Interested in a columbarium for your parish or organisation?</h2>
          <a href="/contact">
            <div class="btn btn-primary btn-icon">Contact Us <i class="fa fa-chevron-right"></i></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</template>