<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
</style>
<template>
  <div class="container position-relative z-2">
    <div class="row">
    	<div class="col-12 mb-4 pt-5" id="gallery-img-view">
    		<picture> 
				  <source :srcset="images[offset].webp" type="image/webp"/> 
				  <source :srcset="images[offset].image" :type="images[offset].mimetype"/> 
				  <img :srcset="images[offset].image" :type="images[offset].mimetype" alt="Luce Balloons" width="1170" height="658" class="w-100 h-auto shadow" />
				</picture>
    	</div>
    	<div class="col-12 text-center">
    		<p class="text-small"><i>Click on an image below to view full size</i></p>
    		<div v-for="(i,key) in images" :key="key" class="mx-2 mb-3 d-inline-block cursor-pointer" @click="changeImg(key)">
					<img :srcset="i.thumb" :type="i.mimetype" alt="Luce Balloons" width="150" height="150" class="shadow" />
    		</div>
    	</div>
    </div>
  </div>  
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      offset: 0,
      images: [],
    }
  },
  mounted(){
    this.getImages();
  },
  methods: {
  	changeImg(key){
  		this.offset = key;
  		document.querySelector('#gallery-img-view').scrollIntoView({
	      behavior: 'smooth'
	    });
  	},
    getImages() {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        axios.get('/gallery/get').then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.images = response.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>