<template>
	<div class="container position-relative z-2 py-5" :class="bg">
		<div class="row py-4 justify-content-center">
			<div class="col-12 text-center mb-4">
				<h2 class="text-primary">Stay Up To Date</h2>
				<p>Want to stay in the loop with our latest offers and news? Join our mailing list!</p>
			</div>
			<div class="col-lg-8 mb-4">
				<form id="mailinglist-signup" @submit.prevent="submit" class="row half_row text-left">
					<div class="form-group col-md-6 half_col">
						<input id="ml-first_name" type="text" class="form-control" name="first_name" placeholder="First Name*" v-model="fields.first_name"/>
						<div v-if="errors && errors.first_name" class="text-primary">{{ errors.first_name[0] }}</div>
					</div>
					<div class="form-group col-md-6 half_col">
						<input id="ml-last_name" type="text" class="form-control" name="last_name" placeholder="Last Name*" v-model="fields.last_name"/>
						<div v-if="errors && errors.last_name" class="text-primary">{{ errors.last_name[0] }}</div>
					</div>
					<div class="form-group col-md-8 half_col">
						<input id="ml-email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email"/>
						<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
					</div>
					<div class="col-md-4 half_col text-center text-lg-left">
						<button id="submit" type="submit"  class="btn btn-red w-100 no-max">Sign up</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			bg: String,
		},
		data() {
			return {
				fields: {
					first_name: "",
					last_name: "",
					email: ""
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      submit() {
      	if (this.loaded) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Joining";

      		axios.post('/mailinglist', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Mailing list joined successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	        })
      		.catch(error => {
	         // Error handling
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	console.log(error.response.data.message);
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>