<template>
  <div class="container pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="posts.length > 0">
      <div class="col-md-4 mb-5" v-for="post in posts">
        <a :href="'/blog/' +moment(post.created_at) +'/'+ post.slug">
          <div class="card border-0 shadow overflow-hidden post-box text-center text-md-left text-dark zoom-link">
            <div class="post-image zoom-img">
              <picture>
                <source :srcset="post.featuredwebp" type="image/webp"/> 
                <source :srcset="post.featured" :type="post.mimetype"/> 
                <img :src="post.featured" :type="post.mimetype" :alt="post.title" class="w-100" />
              </picture>
            </div>
            <div class="p-4">
              <p class="post-exerpt text-small mb-1 text-red">{{niceDate(post.created_at)}}</p>
              <h4 class="post-title text-primary mb-2">{{post.title}}</h4>
              <p class="post-exerpt text-small mb-3">{{post.excerpt.substring(0, 100)}}...</p>
              <p class="mb-0 text-red"><b>Read more</b> <i class="fa fa-arrow-circle-right text-red ml-1"></i></p>
            </div>
          </div>
        </a>  
      </div>
      <div class="col-12 mt-5" v-if="loadmore">
        <div class="btn btn-primary mx-auto" @click="$emit('loadmore', true);">Load More</div>
      </div>
    </div>
    <div class="row justify-content-center py-5" v-else>
      <div class="col-md-8 text-center">
        <h3 class="mb-0">Sorry no results found</h3>
        <div class="line d-inline-block mx-auto my-3"></div>
        <p>Sorry, there are no news articles available at the moment. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>