<template>
    <card class="flex flex-col items-left justify-left">
        <div class="px-4 py-4 text-left">
            <h2 class="text-left text-1xl text-80 font-light mb-2">Product Instructions</h2>
            <p>All products must have at least one category and at least one product type attached. To attach these click the eye icon beside the product and attach the relevant categories & types. Products must also have at least one variant created in order to show in the shop.</p>
        </div>
    </card>
</template>

<script>
export default {
    props: [
        'card',

        // The following props are only available on resource detail cards...
        // 'resource',
        // 'resourceId',
        // 'resourceName',
    ],

    mounted() {
        //
    },
}
</script>
