<template>
  <div class="container pt-3 pb-5">
    <div class="row pb-5 mob-py-0" v-if="locations.length > 0">
      <div class="col-md-4 mb-5" v-for="location in locations">
        <div class="zoom-link" data-aos="fade-in">
          <a :href="'/locations/' + location.slug">
            <div class="rounded-image zoom-img">
              <picture>
                  <source media="(min-width: 900px)" :srcset="location.normalwebp +' 1x, '+ location.normalwebp + ' 2x'" type="image/webp"/> 
                  <source normalwebp="(min-width: 601px)" :srcset="location.normalwebp +' 1x, '+ location.normalwebp + ' 2x'" type="image/webp"/> 
                  <source :srcset="location.normalwebp +'1x, '+ location.normalwebp + ' 2x'" type="image/webp"/> 
                  <img :srcset="location.normal + ' 600w, ' + location.normal + ' 900w, '+ location.normal + ' 1440w'" :src="location.normal" :type="location.mimetype" :alt="location.title" class="w-100" />
                </picture>
            </div>
            <div class="text-dark mt-3">
              <p class="post-exerpt text-small mb-1"><i class="fa fa-map-marker text-primary mr-2"></i><b>{{location.location}}</b></p>
              <h4 class="post-title">{{location.title}}</h4>
              <p class="mb-0 text-small"><b>Read more</b> <i class="fa fa-arrow-circle-right ml-1"></i></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 mt-5" v-if="loadmore">
        <div class="btn btn-primary mx-auto" @click="$emit('loadmore', true);">Load More</div>
      </div>
    </div>
    <div class="row justify-content-center py-5" v-else>
      <div class="col-md-8 text-center">
        <h3 class="mb-0">Sorry no results found</h3>
        <div class="line d-inline-block mx-auto my-3"></div>
        <p>Sorry, there are no news articles available at the moment. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      locations: Array,
      loadmore: Boolean
    },
    methods: {
      moment: function (date) {
        return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>