<template>
	<v-container fluid>
		<v-row>
			<v-col cols="12">
        <v-card>
          <v-toolbar class="mb-0" color="blue darken-3" dark flat>
            <v-toolbar-title>Printful Products</v-toolbar-title>
          </v-toolbar>
          <div class="py-5 px-5 mb-5">
    				<v-simple-table>
          		<template v-slot:default>
                <thead>
                  <tr>
                  	<th class="text-left" scope="col">Tumbnail</th>
                    <th class="text-left" scope="col">Name</th>
                    <th class="text-left" scope="col">ID</th>
                    <th class="text-left" scope="col"># Variants</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="product in printful" @click="getVariants(product.id)" class="cursor-pointer">
                  	<td><img :src="product.thumbnail_url" width="60" :alt="product.name"/></td>
                    <td><p class="mb-0 mt-2">{{product.name}}</p></td>
                    <td><p class="mb-0 mt-2">{{product.id}}</p></td>
                    <td><p class="mb-0 mt-2">{{product.variants}}</p></td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card>
      </v-col>
		</v-row>
	</v-container>
</template>
<script>
	export default {
		data() {
	    return {
	      errors: {},
	      success: false,
	      loaded: true,
        printful: {},
	    }
	  },
		mounted(){
      this.getProducts();
	  },
		methods:{
			getVariants(id){
	      this.$emit('variantRequest', id);
	    },
			getProducts(){
        axios.get('/api/printful/get').then(response => {
          this.printful = response.data;
        })
        .catch(error => {
          // Error handling
          console.log(error);
        });
      },
		}
	}
</script>