<template>
	<v-container fluid>
		<v-row>
			<v-col cols="12">
        <v-card>
          <v-toolbar class="mb-0" color="blue darken-3" dark flat>
            <v-toolbar-title>{{printful.sync_product.name}} Variants</v-toolbar-title>
          </v-toolbar>
          <div id="printful_variants" class="py-5 px-5 mb-5">
    				<v-simple-table>
          		<template v-slot:default>
                <thead>
                  <tr>
                  	<th class="text-left" scope="col">Tumbnail</th>
                    <th class="text-left" scope="col">Name</th>
                    <th class="text-left" scope="col">ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="product in printful.sync_variants">
                  	<td><img :src="printful.sync_product.thumbnail_url" width="60" :alt="printful.sync_product.name"/></td>
                    <td><p class="mb-0 mt-2">{{product.name}}</p></td>
                    <td><p class="mb-0 mt-2">{{product.external_id}}</p></td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card>
      </v-col>
		</v-row>
	</v-container>
</template>
<script>
	export default {
		props:{
			id: Number,
		},
		data() {
	    return {
	      errors: {},
	      success: false,
	      loaded: true,
        printful: {},
	    }
	  },
	  watch: { 
    	id: function(newVal, oldVal) { // watch it
        this.getProducts();
      }
    },
		mounted(){
      this.getProducts();
	  },
		methods:{
			getProducts(){
        axios.get('/api/printful/variants?productid=' + this.id).then(response => {
          this.printful = response.data;
        })
        .catch(error => {
          // Error handling
          console.log(error);
        });
      },
		}
	}
</script>