/* Generated using nova-theme-generator.com */

:root {
    --transparent: transparent;
    --black: #22292f;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #E73C62;
    --success: #21b978;
    --warning: #FFCB00;
    --info: #1D3D8D;
    --primary: #1D3D8D;
    --primary-dark: #162F6E;
    --primary-70: rgba(231, 60, 98, 0.7);
    --primary-50: rgba(231, 60, 98, 0.5);
    --primary-30: rgba(231, 60, 98, 0.3);
    --primary-10: rgba(231, 60, 98, 0.1);
    --logo: ;
    --sidebar-icon: #79BEEA;
    --20: #f6fbff;
    --30: #f4f7fa;
    --40: #eef1f4;
    --50: #e3e7eb;
    --60: #bacad6;
    --70: #b3b9bf;
    --80: #7c858e;
    --90: #252d37;
    --90-half: rgba(40, 54, 61, 0.5);
}

.bg-grad-sidebar {
  background-image: linear-gradient(0deg, #DEE7FF 0%, #E5EAF5 100%);
}
.bg-grad-sidebar h3,
.bg-grad-sidebar a,
.bg-grad-sidebar .sidebar-label{
  color: rgba(0,0,0,.87)!important;
}