// Selected Text -----------------
::selection {
	color: $white;
	background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: $white;
	background: $primary; /* Gecko Browsers */
}
// Body Styles -------------------
body{
	background-color: $white;
	font-family: $body;
	h1{
		font-family: $title;
		font-size: 24px;
		line-height: 30px;
		&.refund_amount{
			font-size: 60px;
			font-weight: 600;
		}
	}
	h2{
		font-family: $title;
	}
	h3{
		font-family: $title;
		font-weight: 600;
	}
	h4{
		font-size: 25px;
		font-family: $title;
	}
	h5{

	}
	p{
		&.page_title{
			font-size: 20px;
		}
		&.larger{
			font-size: 20px;
		}
		&.text-small{
			font-size: 12px;
		}
	}
	a{
		@include transition(300ms);
		&.white{
			color: $white;
			&:hover{
				color: $darkgrey;
			}
		}
		&.dark{
			color: $darkgrey;
			&:hover{
				color: $primary;
			}
		}
		&:hover{
			text-decoration: none !important;
		}
	}
	.white-text{
		color: $white;
	}
	.text-pink{
		color: $pink;
	}
	.dark-text,
	.dark_text{
		color: $darkgrey;
	}
	&.login{
		color: $white;
		text-align: center;
		@include gradient();
		p{
			color: $white;
		}
		a{
			color: $white;
		}
	}
}
.cursor-pointer{
	cursor: pointer;
}
#content{
	z-index: 1;
	position: relative;
}
.bg-second{
	background-color: $darkgrey;
	color: $white;
}
.text-secondary{
	color: $second !important;
}