
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #00ADEF;
$indigo: #6574cd;
$purple: #9254DB;
$pink: #F4406D;
$red: #e03a3a;
$orange: #FF7141;
$yellow: #f5ce0f;
$green: #32D188;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Colours -----------------
$primary: #2c5574; 
$primarylight: #2ea272;
$primarydark: #0b673a;
$second: #187EF4;
$white: #fff;
$black: #000;
$navy: #152C53;
$lightnavy: #465966;
$darknavy: #0A162B;
$darkgrey: #112e44;
$midgrey: #4D4D4D;
$lightbg: #f2f2f9;
$lightgrey: #f2f2f9;
$grey: #B4B4B4;
$bluegrey: #A8B1B7;
$highlight: #FF6A6A;
$mastercard: #FF4D2D;
$visa: #283891;

$transgreylight: rgba(0,0,0,0.5);
$transgrey: rgba(0,0,0,0.9);
$transgreydark: rgba(0,0,0,0.7);
$transwhite: rgba(255,255,255,0.9);
$transblue: rgba(38,60,75,0.8);
$transbluelight: rgba(26,126,244,0.1);
$transred: rgba(235,51,51,0.8);

// Fonts --------------------
$title: 'proxima-soft', sans-serif;
$body: 'proxima-soft', sans-serif;