// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  body{
    h1{
      &.page-top{
        font-size: 5rem;
      }
      &.home-page-top{
        font-size: 8vw;
        line-height: 9vw;
      }
    }
  }
  #scroll-menu,
  .menu{
    .menu-links{
      .menu-item{
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
  .footer-top, .footer-top-2, .footer-top-3, .footer-top-4 {
    background-attachment: initial;
  }
  .bg-fixed{
    background-attachment: none;
  }
  .ipad-overflow-hidden{
    overflow: hidden;
  }
  #menu_btn{
    display: block;
  }
  .logout{
    display: none;
  }
  .ipad-mt-5{
    padding-top: 3rem !important;
  }
  .ipad-mb-3{
    margin-bottom: 1rem !important;
  }
  .ipad-pr-5{
    padding-right: 3rem !important;
  }
  .menu{
    .menu_logo{
      width: 75px;
    }
    .col-lg-10{
      margin-top: 0 !important;
    }
  }
  #scroll-menu .menu_logo {
    width: 65px;
  }
  .page-top .circle-yellow{
    left: -10vw;
  }
  .post-box.zoom-link .zoom-img img{
    height: 100%;
    width: auto !important;
  }
}