@media only screen and (max-width : 767px) and (orientation : landscape) {
	.top{
		.top_bottom{
			display: none;
		}
		.top_text{
			bottom: 0;
			padding: 15px;
			h1{
				font-size: 10vw;
				line-height: 11vw;
			}
		}
	}
}