<template>
	<div id="basket" class="container my-5 pb-5  mob-mt-0 position-relative z-2">
		<div class="row mt-5 mob-mt-0">
			<div class="col-12">
				<div class="row half_row mb-3 mob-mb-4" v-for="(i, key) in items">
					<div class="col-lg-1 col-2 half_col">
						<div class="square bg rounded-image shadow" :style="'background-image: url(' + i.options.image + ');'"></div>
					</div>
					<div class="col-lg-7 col-10 half_col">
						
						<h4 class="mb-1 mob-mb-0">{{i.options.product_title}}</h4>
						<p v-if="i.options.inflated" class="text-small text-grey mb-0">*Inflated balloons can only be delivered to addresses in Northern Ireland.</p>
						<p class="text-small mb-1">{{i.name}} <span class="d-lg-none text-dark"> - £{{(i.price * i.qty).toFixed(2)}}</span> - <u class="cursor-pointer text-primary" @click="changeQty(i)">Qty: {{i.qty}}</u></p>
						<p class="mob-mb-0 text-small"><a :href="'/shop/remove/' + i.rowId" class="cursor-pointer text-red"><i class="fa fa-trash"></i> Remove</a></p>
					</div>
					<div class="col-lg-4 d-none d-lg-block half_col text-lg-right">
						<p class="mb-0 mob-mt-0 text-large text-dark"><b class="text-dark">£{{(i.price * i.qty).toFixed(2)}}</b></p>
						<p class="mb-0 mob-mt-0 text-small text-primary"><u class="cursor-pointer" @click="changeQty(i)">Qty: {{i.qty}}</u></p>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-right">
				<a href="/empty-basket" class="text-red" v-if="Object.keys(this.items).length"><i class="fa fa-trash-o"></i> Empty Basket</a>
				<hr class="line primary-line"/>
			</div>
		</div>
		<div class="row mt-5 mob-mt-0">
			<div class="col-12 text-center text-md-right mob-text-left mob-mt-3">
				<h3 class="text-center mt-3 text-md-right"><span class="text-primary">Total: </span> £{{newtotal}}</h3>
				<a href="/checkout">
					<div class="btn btn-primary mt-2 mx-auto mb-3 float-right mob-float-none btn-icon">Checkout <i class="fa fa-chevron-right"></i></div>
				</a>
			</div>
		</div>
		<update-quantity :qtyItem="qtyItem" v-if="showQty" @close="closeQty"></update-quantity>
	</div>
</template>
<script>
  export default {
    props: {
      content: Object,
      total: String
    },
    data() {
	    return {
	    	items: this.content,
	    	newtotal: this.total,
	    	showQty: false,
	    	qtyItem: null
	    }
	  },
	  mounted(){
	  	console.log(this.items);
	  },
    methods: {
    	changeQty(i){
    		this.qtyItem = i;
    		this.showQty = true;
    	},
    	closeQty(){
    		this.showQty = false;
    	}
    }
  }
</script>
<style lang="scss">

</style>