<template>
	<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
		<img src="/img/shapes/circle-light-blue.svg" class="circle-blue z-0" alt="Luce balooons blue circle"/>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="container">
        	<div class="row justify-content-center">
        		<div class="col-lg-6">
        			<h3 class="text-primary">Where Next?</h3>
        			<p class="text-dark">You have added {{qty}} {{product.title}} - {{variant.title}} to your basket.</p>
		          <a :href="'/basket'">
		          	<div class="btn btn-primary btn-icon">Go to Basket <i class="fa fa-shopping-cart"></i></div>
		          </a>
		          <p class="text-red mb-0 mt-2"><u @click="close" class="cursor-pointer">Continue Shopping <i class="fa fa-angle-double-right"></i></u></p>
		        </div>
		      </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      product: Object,
      variant: Object,
      qty: Number,
    },
    mounted(){
    	$('#confirmModal').modal('show');
    	$('#confirmModal').on('hidden.bs.modal', function () {
				window.location.reload();
			});
    },
    data() {
	    return {
	    }
	  },
	  methods:{
	  	close(){
	  		window.location.reload();
	  	}
	  }
  }
</script>
<style lang="scss">
	.modal-backdrop{
		z-index: 1 !important;
	}
	#confirmModal{
		input{
			max-width: 262px;
			margin: auto;
		}
		.circle-blue{
			position: absolute;
			width: 500px;
			height: 500px;
			top: calc(50% - 250px);
			left: calc(50% - 250px);
			z-index: 0;
			-webkit-animation-name: pulser;
			animation-iteration-count: infinite;
		 -webkit-animation-duration: 4s;
		 -webkit-animation-direction: alternate;
		 -webkit-animation-timing-function: ease-in-out;
		}
	}
</style>