<template>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="mb-5 text-primary">Popular Products</h2>
			</div>
			<div class="col-md-6 col-lg-3 col-6 mb-3" v-for="product in products">
        <a :href="'/shop/'+ product.slug">
          <div class="rounded-image product-box text-center text-md-left text-dark zoom-link shadow">
            <div class="product-image zoom-img">
              <picture>
                <source :srcset="product.featuredwebp" type="image/webp"/> 
                <source :srcset="product.featured" :type="product.mimetype"/> 
                <img :src="product.featured" :type="product.mimetype" :alt="product.title" class="w-100" />
              </picture>
            </div>
          </div>
          <p class="product-title text-dark mt-2 mb-0"><b>{{product.title}}</b></p>
          <p class="product-price text-dark mb-0"><span class="smaller">From:</span> £{{product.price}}</p>
        </a>  
      </div>
      <div class="col-12 text-center mt-4">
      	<a href="/shop">
      		<div class="btn btn-red btn-icon">Shop all products <i class="fa fa-shopping-cart"></i></div>
      	</a>
      </div>
		</div>
	</div>
</template>
<script>
export default {
  props: {
    category: String
  },
  data() {
    return {
      fields: {
        title: '',
        type: '*'
      },
      errors: {},
      success: false,
      loaded: true,
      products: [],
      limit: 4,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getProducts();
  },
  methods: {
    loadMore(){
      this.page++;
      this.moreProducts();
    },
    getProducts(page = 1) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/shop/get/popular?limit=' + this.limit + '&page=' + page + '&title=' + this.fields.title + '&category=' + this.category+ '&type=' + this.fields.type).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.products = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.jobs);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>