<template>
	<div id="product-container" class="container position-relative z-3 mb-5">
		<div class="row">
			<div class="col-lg-6 mob-mb-5">
				<div id="productCarousel" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner shadow rounded-image text-center">
				    <div class="carousel-item active">
				      <picture> 
		            <source :srcset="product.featuredwebp" type="image/webp"/> 
		            <source :srcset="product.featured" :type="product.mimetype"/> 
		            <img :src="product.featured" :type="product.mimetype" :alt="product.title" class="h-100 mb-5" />
		          </picture>
				    </div>
				    <div class="carousel-item" v-for="s in product.slideshow">
				      <picture> 
		            <source :srcset="s.featuredwebp" type="image/webp"/> 
		            <source :srcset="s.featured" :type="s.mimetype"/> 
		            <img :src="s.featured" :type="s.mimetype" :alt="product.title" class="h-100 mb-5" />
		          </picture>
				    </div>
				    <div class="carousel-item" v-for="v in product.variants">
				      <picture> 
		            <source :srcset="v.featuredwebp" type="image/webp"/> 
		            <source :srcset="v.featured" :type="v.mimetype"/> 
		            <img :src="v.featured" :type="v.mimetype" :alt="product.title" class="h-100 mb-5" />
		          </picture>
		          <div class="carousel-caption d-none d-md-block">
			          <p class="mb-0 text-dark text-small" v-html="v.title"></p>
			        </div>
				    </div>
				  </div>
				  <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
				    <span class="" aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
				    <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
			<div class="col-lg-6 blog-body">
				<div v-html="product.description" class="mb-3"></div>
				<div v-if="variantDescription" v-html="variantDescription" class="pt-3 border-top"></div>
				<div class="row half_row mt-5" v-if="product.variants.length == 1">
					<div class="col-12 mb-2 half_col text-center text-lg-left">
						<div class="border-top pt-4 mt-4"></div>
						<div v-if="onsale">
							<p class="mb-0"><b>{{this.product.variants[0].title}} - </b><b class="text-red">Sale! £{{this.product.variants[0].sale_price}}</b> <span class="smaller">was: <s>£{{this.product.variants[0].price}}</s></span> </p>
						</div>
						<div v-else>
							<p><b>{{this.product.variants[0].title}} - £{{this.product.variants[0].price}}</b></p>
						</div>
					</div>
					<div class="col-lg-6 mob-mb-3 mt-3 half_col" >
						<div class="select-holder">
		          <select id="quantity" class="form-control" v-model="quantity" v-on:change="selectVariant()">
		            <option value="0" disabled>Select Quantity</option>
		            <option v-for="(n, i) in 50" :value="n">{{n}}</option>
		          </select>
		        </div>
		      </div>
					<div class="col-lg-6 mt-3 half_col text-center text-lg-right">
		        <a :href="'/add-to-basket/' + product.id + '/' + variant + '/' + quantity">
		        	<button id="add-to-basket" type="button" disabled class="btn btn-red btn-icon">Add to basket <i class="fa fa-cart-plus"></i></button>
		        </a>
		      </div>
				</div>
				<div class="row half_row" v-else-if="product.variants.length > 1">
					<div class="col-12 mob-mb-3 half_col">
						<div class="border-top pt-4 mt-4"></div>
						<div class="select-holder">
		          <select id="variant" class="form-control" v-model="variant" v-on:change="selectVariant()">
		            <option value="0">Select Variant</option>
		            <option v-for="variant in product.variants" :value="variant.id">{{variant.title}} - <span v-if="variant.sale_price">£{{variant.sale_price}}</span><span v-else>£{{variant.price}}</span></option>
		          </select>
		        </div>
		      </div>
		      <div class="col-lg-6 mob-mb-3 mt-3 half_col" >
						<div class="select-holder">
		          <select id="quantity" class="form-control" v-model="quantity" v-on:change="selectVariant()">
		            <option value="0">Select Quantity</option>
		            <option v-for="(n, i) in 50" :value="n">{{n}}</option>
		          </select>
		        </div>
		      </div>
		      <div class="col-lg-6 half_col mt-3 text-center text-lg-right">
		        <button id="add-to-basket" type="button" disabled class="btn btn-red btn-icon" @click="addToBasket(product.id, variant, quantity)">Add to basket <i class="fa fa-cart-plus"></i></button>
		        <p v-if="totalstring != null" class="text-small text-center">{{totalstring}}</p>
		      </div>
		    </div>
			</div>
		</div>
		<confirm-add-to-basket :product="product" :variant="thevariant" :qty="quantity" v-if="confirm"></confirm-add-to-basket>
	</div>
</template>
<script>
  export default {
    props: {
      product: Object,
    },
    data() {
	    return {
	    	quantity:1,
	      variant:0,
	      variantDescription: null,
	      price: null,
	      sale_price: null,
	      onsale: false,
	      totalstring: null,
	      thevariant: null,
	      confirm: false,
	    }
	  },
	  mounted(){
	  	if(this.product.variants.length == 1){
	  		this.variant = this.product.variants[0].id;
	  		this.variantDescription = this.product.variants[0].description;
	  		this.price = this.product.variants[0].price;
	  		this.sale_price = this.product.variants[0].sale_price;
	  		if(this.sale_price != null){
	  			this.onsale = true;
	  		}
	  	}
	  	$('#productCarousel').carousel('pause');
	  },
    methods: {
    	selectVariant(){
    		var slideshowcount = this.product.slideshow.length;
    		var position = this.findWithAttr(this.product.variants, 'id', this.variant)
    		var goto = 1 + slideshowcount + position;
    		$('#productCarousel').carousel(goto);
    		this.variantDescription = this.product.variants[position].description;
    		if(this.variant != 0 && this.quantity > 0){
    			document.getElementById("add-to-basket").disabled = false;
    		}else{
    			document.getElementById("add-to-basket").disabled = true;
    		}
    		this.displayTotal();
    	},
    	findWithAttr(array, attr, value) {
		    for(var i = 0; i < array.length; i += 1) {
	        if(array[i][attr] === value) {
	          return i;
	        }
		    }
		    return -1;
			},
			displayTotal(){
				var result = this.product.variants.filter(obj => {
				  return obj.id === this.variant;
				});
				this.totalstring = null;
				if(this.quantity != 0 && result[0].price != null){
					if(result[0].sale_price != null){
	  				this.totalstring = 'Total: £' + (Math.round((this.quantity * result[0].sale_price)*100) / 100).toFixed(2);
	  			}else{
	  				this.totalstring = 'Total: £' + (Math.round((this.quantity * result[0].price)*100) / 100).toFixed(2);
	  			}
				}
				this.thevariant = result[0];
			},
			addToBasket(id, v, p){
				axios.get('/add-to-basket/' + id + '/' + v + '/' + p)
        .then(response => {
          this.confirm = true;
        })
        .catch(error => {
          // Error handling
          console.log(error.response);
          this.confirm = false;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
			}
    }
  }
</script>
<style lang="scss">
	#productCarousel{
		.carousel-inner{
			height: 400px;
			background-color: #fff;
			.carousel-item{
				height: 400px;
			}
		}
	}
	.carousel-control-prev, .carousel-control-next{
		color: #E73C62 !important;
	}
	.carousel-caption{
		background-color: rgba(255,255,255,0.5);
		border-radius: 30px;
	}
	@media only screen and (max-width : 767px){
		#productCarousel{
			.carousel-inner{
				height: 300px;
				background-color: #fff;
				.carousel-item{
					height: 300px;
				}
			}
		}
	}
</style>