<template>
  <div class="container pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="products.length > 0">
      <div class="col-md-4 col-6 col-lg-3 mb-5" v-for="product in products">
        <a :href="'/shop/'+ product.slug">
          <div class="rounded-image product-box text-center text-md-left text-dark zoom-link shadow">
            <div class="product-image zoom-img">
              <picture>
                <source :srcset="product.featuredwebp" type="image/webp"/> 
                <source :srcset="product.featured" :type="product.mimetype"/> 
                <img :src="product.featured" :type="product.mimetype" :alt="product.title" class="w-100" />
              </picture>
            </div>
          </div>
          <p class="product-title text-dark mt-2 mb-0"><b>{{product.title}}</b></p>
          <p class="product-price text-dark mb-0"><span class="smaller">From:</span> £{{product.price}}</p>
        </a>  
      </div>
      <div class="col-12 mt-5" v-if="loadmore">
        <div class="btn btn-primary mx-auto" @click="$emit('loadmore', true);">Load More</div>
      </div>
    </div>
    <div class="row justify-content-center py-5" v-else>
      <div class="col-md-8 text-center">
        <h3 class="mb-0">Sorry no results found</h3>
        <div class="line d-inline-block mx-auto my-3"></div>
        <p>Sorry, there are no products available at the moment matching your search. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      products: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>